<div class="col-md-12">
	<div class="row">
		<div class="col-md-2" style="border-right: 3px #d1d8dd dashed;">
			<div class="form-group">
				<label>Search</label>
				<input type="text" name="search" [(ngModel)]="search" class="form-control" (keyup)="fillBudgetDropDown()" />
			</div>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-5">
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>Status</label>
						<select class="form-control" [(ngModel)]="status">
							<option *ngFor="let item of statusDT" [value]="item.code">{{item.name}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-1">
					<div class="form-group">
						<label>&nbsp;</label>
						<button type="button" class="btn btn-theme btn-sm" (click)="searchCommittee(dt)">Get</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="row">
		<div class="col-md-2" style="border-right: 3px #d1d8dd dashed;">
			<p-dataList [value]="budgetDT" selectionMode="single">
				<header>
					Budget Details
				</header>
				<template let-row>
					<div style="padding: 10px;">
						<a role="button" (click)="getCommitteeMaster(row);">{{row.btitle}}</a>
					</div>
				</template>
			</p-dataList>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-11">
					<p-dataTable #dt [value]="viewCommitteeDT" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadCommitteeGrid($event)">
						<p-column field="btitle" header="Title" [style]="{'width':'150px','text-align':'left'}"></p-column>
						<p-column field="empname" header="Emp Name" [style]="{'text-align':'left'}"></p-column>
						<p-column field="role" header="Role" [style]="{'width':'150px','text-align':'left'}"></p-column>
						<p-column field="status" header="Status" [style]="{'width':'150px','text-align':'left'}"></p-column>
					</p-dataTable>
				</div>
				<div class="col-md-1" *ngIf="viewCommitteeDT.length">
					<button type="button" (click)="openCommittee()" class="btn btn-theme btn-sm btn-grid">
						<i class="fa fa-edit"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>