<div class="panel panel-theme">
	<div class="panel-body">
		<div class='form-group col-md-12'>
			<div class="col-md-4">
				<div class='form-group'>
					<label>Items</label>
					<input type="text=" class="form-control items" tabindex="1" value="" [(ngModel)]="itemsName" (keyup)="getAutoCompleteProductName(this)"
					/>
				</div>
			</div>
			<div class="col-md-1">
				<div class='form-group'>
					<label>Action</label>
					<button type="button" class="btn btn-primary" tabindex="4" (click)="getItemsMaster()">Get</button>
				</div>
			</div>
		</div>
	</div>
</div>
<table class="table table-striped table-bordered" [hidden]="TableHide">
	<thead>
		<tr>
			<th class="col-sm-1">#</th>
			<th class="col-sm-1">More</th>
			<th class="col-xs-1">Item Code</th>
			<th class="col-xs-3">Item Name</th>
			<th class="col-xs-3">Sku Code</th>
			<th class="col-xs-3">item Description</th>
		</tr>
	</thead>
	<tbody *ngFor="let row of ItemDetails let i=index">
		<tr>
			<td><span>{{i+1}}</span></td>
			<td>
				<button (click)="expandDetails(row)">
						<i class="{{row.issh == 1 ? 'fa fa-folder-open' : 'fa fa-folder'}}"></i>
					</button>
			</td>
			<td> <a role="button" (click)="EditItem(row)">{{row.itemcode}}</a></td>
			<td>{{row.itemname}}</td>
			<td>{{row.skucode}}</td>
			<td>{{row.itemdesc}}</td>
		</tr>
		<tr [style.display]="row.issh == 0?'none':''">
			<td></td>
			<td colspan="3">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th class="col-sm-1">#</th>
							<th class="col-sm-4">Attribute</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let drow of row.attribute let x=index">
							<td>{{x+1}}</td>
							<td>{{drow.attname}}</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td colspan="3">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th class="col-sm-1">#</th>
							<th class="col-sm-3">Title</th>
							<th class="col-sm-3">Sale Price/rate</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let drow of row.saleprice let x=index">
							<td>{{x+1}}</td>
							<td>{{drow.titlesale}}</td>
							<td>{{drow.sales}}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>