<div class="panel panel-theme">
	<div class="panel-body">
		<div class='form-group col-md-12'>
			<div class="col-md-4">
				<div class='form-group'>
					<label>Items</label>
					<input type="text=" class="form-control items" tabindex="1" value="" [(ngModel)]="itemsName" (keyup)="getAutoCompleteProductName(this)"
					/>
				</div>
			</div>
			<div class="col-md-1">
				<div class='form-group'>
					<label>&nbsp;</label>
					<button type="button" class="btn btn-primary" tabindex="4" (click)="getItemsMaster()">Get</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="table-responsive">
	<p-dataTable #dt [value]="ItemDetails" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadRBIGrid($event)"
		(onRowClick)="EditItem($event)" [(selection)]="selectedRB1" expandableRows="true">
		<p-column field="itemcode" header="Item Code" [style]="{'width':'50px','text-align':'left'}"></p-column>
		<p-column field="itemname" header="Item Name" [style]="{'width':'150px','text-align':'left'}"></p-column>
		<p-column field="skucode" header="Sku Code" [style]="{'width':'50px','text-align':'left'}"></p-column>
		<p-column field="itemdesc" header="item Description" [style]="{'width':'150px','text-align':'left'}"></p-column>
		<p-column header="Action" [style]="{'width':'50px','text-align':'center'}">
			<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
				<button type="button" (click)="EditItem(row)" class="btn btn-theme btn-sm btn-grid"><i class="fa fa-pencil-square-o"></i></button>
			</template>
		</p-column>
	</p-dataTable>
</div>