<form id="frmpdc">
    <div class="middlepan">
        <div class="panel panel-theme">
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" align="center">
                                <select validate="0" [(ngModel)]="pdctype" name="pdctype" id="pdctype" class="form-control pdctype" tabindex="1">
                                    <option [value]="">Select PDC Type</option>
                                    <option *ngFor="let row of pdctypeDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Party Name</label>
                        <input validate="" type="text" [(ngModel)]="acname" name="acname" class="acname form-control" (keyup)="getCustAuto(this)" (keydown.tab)="existCustAuto()"
                            tabindex="2" />
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Cheque Date</label>
                                <calendar validate="" #chequedate [name]="'chequedate'" tabindex="3"></calendar>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Amount</label>
                                <numtext validate="" name="amount" [(ngModel)]="amount" tabindex="4"></numtext>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Bank Name</label>
                                <select validate="" name="bankid" class="form-control" [(ngModel)]="bankid" tabindex="5">
                                    <option [value]="">Select Bank</option>
                                    <option *ngFor="let items of bankDT" [value]="items.key">
                                        {{items.val}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Cheque No</label>
                                <input validate="" type="text" [(ngModel)]="chequeno" name="chequeno" class="form-control" tabindex="6" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Narration</label>
                        <textarea validate="" [(ngModel)]="narration" name="narration" class="form-control small-text-box" cols="150" rows="5" tabindex="7"></textarea>
                    </div>
                    <div class="form-group" style="display:none;">
                        <p-checkbox [(ngModel)]="isactive" name="chkIsActive" value="Is Active" label="Is Active" binary="true"></p-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidepan">
        <!--widgit-->
        <div class="panel panel-theme">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#Personal">
                    <h3 class="panel-title">Any Other Details</h3>
                </a>
            </div>
            <div id="Personal" class="panel-collapse collapse in">
                <div class="panel-body"></div>
            </div>
        </div>

        <fileupload [module]="module" [multi]="true" [isRaw]="false" [uploadedFiles]="uploadedFiles" (onStart)="onUploadStart($event)"
            (onComplete)="onUploadComplete($event)"></fileupload>

        <div class="panel panel-theme">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#Personal">
                    <h3 class="panel-title">Any Other Details</h3>
                </a>
            </div>
            <div id="Personal" class="panel-collapse collapse in">
                <div class="panel-body"></div>
            </div>
        </div>
        <div class="panel panel-theme">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#Personal">
                    <h3 class="panel-title">Any Other Details</h3>
                </a>
            </div>
            <div id="Personal" class="panel-collapse collapse in">
                <div class="panel-body"></div>
            </div>
        </div>
    </div>
</form>