<div class="row">
	<div class="col-md-12">
		<div class="col-md-4">
			<div class='form-group'>
				<label>{{ddllabel}}</label>
				<select [(ngModel)]="attrgrpid" class="form-control" tabindex="1">
                        <option [value]="'0'">Select Group</option>
                        <option *ngFor="let row of attrgrouplist" [value]="row.sid">
                            {{row.val}}
                        </option>
                    </select>
			</div>
		</div>
		<div class="col-md-4">
			<div class='form-group'>
				<label>{{labelname}}</label>
				<p-autoComplete [(ngModel)]="attrname" class="form-controlAutoComplete" (onSelect)="AttributeSelect1($event)" [suggestions]="AttributeModuleAutodata"
					(completeMethod)="AttributeAuto1($event)" (keyup.enter)="AttributeAdd()" field="label" [size]="30" placeholder="Attribute Name" [minLength]="1"></p-autoComplete>
			</div>
		</div>
		<div class="col-md-1">
			<div class='form-group'>
				<div class="setfltrbtn">
					<button class="btn btn-theme btn-sm" type="button" tabindex="301" (click)="AttributeAdd()" title="Add"><i class="fa fa-plus"></i></button>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-12 bootstrap-tagsinput">
				<span *ngFor="let row of attrlist" class="tag label label-info" style="font-size: 10px;">{{row.attrname}} 
				<span data-role="remove" (click)="Removeattr(row)"></span>
				</span>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="isdetails">
		<div class="col-md-12">
			<div class="col-md-12 bootstrap-tagsinput">
				<span *ngFor="let row of attrlist" class="tag label label-info" style="font-size: 10px;">{{row.attrname}}</span>
			</div>
		</div>
	</div>