<div class="panel panel-theme">
	<div class="panel-body">
		<div class="col-md-4">
			<div class='form-group'>
				<label>Customer</label>
				<!--<input type="text=" class="form-control Custcode" tabindex="1" value="" [(ngModel)]="custname" (keyup)="getAutoComplete(this)"-->
				<p-autoComplete [(ngModel)]="custname" tabindex="1" class="form-controlAutoComplete Custcode" (onSelect)="CustomerSelect($event)"
					[suggestions]="CustomerAutodata" (completeMethod)="CustomerAuto($event)" field="label" [size]="30" [minLength]="1"></p-autoComplete>
			</div>
		</div>
		<div class="col-md-2">
			<div class='form-group'>
				<label>From Date</label>
				<calendar #fromdatecal [name]="'fromdatecal'"></calendar>
			</div>
		</div>
		<div class="col-md-2">
			<div class='form-group'>
				<label>To Date</label>
				<calendar #todatecal [name]="'todatecal'"></calendar>
			</div>
		</div>
		<div class="col-md-1">
			<div class='form-group'>
				<div style="padding-top:28px;">
					<button type="button" class="btn btn-theme btn-sm get" tabindex="4" (click)="getPendingDocNo()"><i class="fa fa-arrow-right"></i></button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 panel-body">
		<div class="row">
			<div class="col-md-10">
				<div class="panel panel-theme" *ngIf="CustomerDetails.length > 0">
					<div class="panel-body">
						<div>
							<div class="col-md-2">
								<div class='form-group'>
									<label>Document No</label>
									<input type="text=" class="form-control" readonly="true" [(ngModel)]="docno" tabindex="1" value="" />
								</div>
							</div>
							<div class="col-md-4">
								<div class='form-group'>
									<label>Customer</label>
									<input type="text=" class="form-control" readonly="true" tabindex="1" value="" [(ngModel)]="cust" />
								</div>
							</div>
							<div class="col-md-4">
								<div class='form-group'>
									<label>Salesman</label>
									<input type="text" class="form-control" readonly="true" [(ngModel)]="salesman">
								</div>
							</div>
							<div class="col-md-3">
								<label>Document Date</label>
								<div class="input-group date" data-provide="datepicker">
									<input type="text=" class="form-control" [(ngModel)]="docdate" readonly="true" tabindex="2" value="" />
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-th"></span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<label>Delivery Date</label>
								<div class="input-group date" data-provide="datepicker">
									<input type="text=" class="form-control" [(ngModel)]="deldate" readonly="true" tabindex="2" value="" />
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-th"></span>
									</div>
								</div>
							</div>
							<div class="col-md-8">
								<div class='form-group'>
									<label>Spe.Instruction</label>
									<textarea [(ngModel)]="remark" class="form-control medium-text-box" cols="75" tabindex="8" readonly="true" autocomplete='off'
										rows="3"></textarea>
								</div>
							</div>
							<!--<div class="table-responsive">-->
							<p-dataTable #dt [value]="DocDetailslist" [lazy]="true" [paginator]="false" (onLazyLoad)="loadRBIGrid($event)" [(selection)]="selectedRB1"
								expandableRows="true">
								<p-column header="#" [style]="{'width':'1px','text-align':'left'}">
									<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
										{{rowIndex+1}}
									</template>
								</p-column>
								<p-column field="code" header="Code" [style]="{'width':'30px','text-align':'left'}"></p-column>
								<p-column field="itemname" header="Item" [style]="{'width':'100px','text-align':'left'}"></p-column>
								<p-column header="Qty" [style]="{'width':'30px','text-align':'left'}">
									<template let-col let-row="rowData" pTemplate="editor">
										<numtext [iscurrency]="false" [css]="inlinetextbox" [(ngModel)]="row.ordqty" (keyup)="CulculateQty(row,row.detaiid)"></numtext>
									</template>
								</p-column>
								<p-column field="rate" header="Rate" [style]="{'width':'30px','text-align':'left'}">
									<numtext [iscurrency]="false" [islabel]="true" [css]="inlinetextbox"></numtext>
								</p-column>
								<p-column field="dis" header="Dis" [style]="{'width':'30px','text-align':'left'}">
									<numtext [iscurrency]="false" [islabel]="true" [css]="inlinetextbox"></numtext>
								</p-column>
								<p-column field="amount" header="Amount" [style]="{'width':'50px','text-align':'left'}">
									<numtext [iscurrency]="true" [islabel]="true" [css]="inlinetextbox"></numtext>
								</p-column>
							</p-dataTable>
							<!--</div>-->
							<!--<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>#No</th>
								<th>Item Code</th>
								<th>Item Name</th>
								<th class="textCenter">Qty</th>
								<th class="textCenter">Rate</th>
								<th class="textCenter">Dis</th>
								<th class="textCenter">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of DocDetailslist let i=index">
								<td><span>{{i+1}}</span><span class="displayNone">{{item.docno}}</span><span class="hide">{{item.detaiid}}</span></td>
								<td>{{item.code}}</td>
								<td>{{item.itemname}}</td>
								<td class="col-xs-1"><input type="text" class="form-control  textalign" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
										(change)="CulculateQty(item.code,item.oldqty,item.ordqty)" [(ngModel)]="item.ordqty"></td>
								<td class="textalign col-xs-1"><input type="text" readonly="true" class="form-control  textalign" [(ngModel)]="item.rate"></td>
								<td class="textalign col-md-1"><input type="text" readonly="true" class="form-control  textalign" [(ngModel)]="item.dis"></td>
								<td class="textalign col-md-1"><input type="text" readonly="true" class="form-control  textalign" [(ngModel)]="item.amount"></td>
							</tr>
						</tbody>
						<tfoot>
							<tr class="bg-warning">
								<td colspan="7" class="textalign"><b>{{SubTotal()|number}}</b></td>
							</tr>
						</tfoot>
					</table>-->
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2" *ngIf="doclist">
				<div style="height: 320px !important;overflow-y: scroll;">
					<table class='table table-bordered table-condensed table-striped table-hover'>
						<tbody>
							<tr>
								<input type="text" [(ngModel)]="DcNo" class="form-control" placeholder="Search Doc No">
							</tr>
							<tr>
								<th>Doc No</th>
							</tr>
							<tr class="table-row" *ngFor="let item of doclist">
								<td><a role="button" (click)=GetDetails(item)>{{item.docno}}</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>