<form id="frmDebitNote">
	<div class="middlepan">
		<div class="panel panel-theme">
			<div class="panel-body">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Account Name</label>
								<p-autoComplete id="dncustname" name="dncustname" [(ngModel)]="dncustname" placeholder="Accounts" [tabindex]="1" (onSelect)="selectAutoAccounts($event, 1)"
									[suggestions]="accountsDT" (completeMethod)="getAutoAccounts($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete"></p-autoComplete>
							</div>
							<div class="form-group">
								<label class="control-label">Doc Date</label>
								<calendar #dndate [name]="'dndate'" tabindex="2"></calendar>
							</div>
							<div class="form-group">
								<label class="control-label">Debit Amount</label>
								<numtext name="dramt" [(ngModel)]="dramt" tabindex="3"></numtext>
							</div>
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<label class="control-label">Narration</label>
								<textarea name="narration" [(ngModel)]="narration" class="form-control small-text-box" cols="150" rows="5" tabindex="4"></textarea>
							</div>
							<div class="form-group" style="display:none;">
								<p-checkbox [(ngModel)]="isactive" name="chkIsActive" value="Is Active" label="Is Active" binary="true"></p-checkbox>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th></th>
							<th>Account</th>
							<th>Credit</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let row of dnRowData | filterBy: {isactive: true}; let i=index;">
							<td class="textalign">
								{{ i + 1 }}
							</td>
							<td>
								<p-autoComplete id="acname{{i+1}}" name="acname{{i+1}}" [(ngModel)]="row.acname" placeholder="Accounts" [tabindex]="5" (onSelect)="selectAutoAccounts($event, 2)"
									[suggestions]="accountsDT" (completeMethod)="getAutoAccounts($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete inlinetextbox ProdName"></p-autoComplete>
							</td>
							<td class="textalign">
								<numtext id="{{'cramt'+i+1}}" name="cramt{{i+1}}" [(ngModel)]="row.cramt"></numtext>
							</td>
							<td>
								<button type="button" name="btnRemove" class="btn btn-theme fa fa-trash" (click)="DeleteRow(row)"></button>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td>#</td>
							<td>
								<p-autoComplete id="newcustname" name="newcustname" [(ngModel)]="newcustname" placeholder="Accounts" [tabindex]="5" (onSelect)="selectAutoAccounts($event, 0)"
									[suggestions]="accountsDT" (completeMethod)="getAutoAccounts($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete inlinetextbox ProdName"></p-autoComplete>
							</td>
							<td>
								<numtext name="newcramt" [(ngModel)]="newcramt" tabindex="6"></numtext>
							</td>
							<td>
								<button type="button" name="btnAdd" class="btn btn-theme fa fa-plus" (click)="NewRowAdd()"></button>
							</td>
						</tr>
						<tr *ngIf="dnRowData.length">
							<td>#</td>
							<td class="text-right">
								<b>Total :</b>
							</td>
							<td class="text-right">
								<b>{{TotalCreditAmt() | currency:loginUser._globsettings.currency:true}}</b>
							</td>
							<td class="text-right">
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<div class="sidepan">
		<!--widgit-->
		<div class="panel panel-theme">
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
					<h3 class="panel-title">Any Other Details</h3>
				</a>
			</div>
			<div id="Personal" class="panel-collapse collapse in">
				<div class="panel-body"></div>
			</div>
		</div>

		<fileupload [module]="module" [multi]="true" [isRaw]="false" [uploadedFiles]="uploadedFiles" (onStart)="onUploadStart($event)"
			(onComplete)="onUploadComplete($event)"></fileupload>

		<div class="panel panel-theme">
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
					<h3 class="panel-title">Any Other Details</h3>
				</a>
			</div>
			<div id="Personal" class="panel-collapse collapse in">
				<div class="panel-body"></div>
			</div>
		</div>
		<div class="panel panel-theme">
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
					<h3 class="panel-title">Any Other Details</h3>
				</a>
			</div>
			<div id="Personal" class="panel-collapse collapse in">
				<div class="panel-body"></div>
			</div>
		</div>
	</div>
</form>