<form id="frmur">
	<div class="panel panel-theme">
		<div class="panel-body">
			<div class="col-md-12">
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label class="control-label">User Name</label>
						<!--<input id="uname" name="uname" type="text" [(ngModel)]="uname" class="uname form-control" (keyup)="getUserAuto(this)" />-->
						<p-autoComplete id="uname" name="uname" [(ngModel)]="uname" placeholder="Employee" [tabindex]="1" (onSelect)="selectAutoUsers($event, 1)"
							[suggestions]="usersDT" (completeMethod)="getAutoUsers($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete"></p-autoComplete>
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label class="control-label">Reference User Name</label>
						<p-autoComplete id="refuname" name="refuname" [(ngModel)]="refuname" placeholder="Reference Employee" [tabindex]="1" (onSelect)="selectAutoRefUsers($event, 1)"
							[suggestions]="usersDT" (completeMethod)="getAutoUsers($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete"></p-autoComplete>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-xs-4 col-md-3" [style.display]="CompanyDetails.length == 0?'none':''">
					<p-dataList [value]="CompanyDetails" selectionMode="single">
						<header>
							Company
						</header>
						<template let-row>
							<p-panel [header]="row.cmpname" [style]="{'text-align':'center'}">
								<a role="button" (click)="getMenuDetails(row);">
									<img src="assets/img/logo/{{row.cmplogo}}" onerror="this.src='assets/img/logo/No_Images.gif';" width="50" height="50" />
								</a>
							</p-panel>
						</template>
					</p-dataList>
				</div>
				<div class="col-xs-8 col-md-9" [style.display]="selectedCompany.length == 0?'none':''">
					<div class="panel panel-theme" [style.display]="selectedCompany.menudetails.length == 0?'none':''">
						<div class="panel-body">
							<div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedCompany">
								<div class="col-md-12">
									<div class="row">
										<select id="fy" name="fy" [(ngModel)]="fy" class="form-control" (ngModelChange)="getUserRightsById(selectedCompany)">
											<option value="0">-- Select Financial Year --</option>
											<option *ngFor="let fyrow of FYDetails" [value]="fyrow.fyid">
												{{fyrow.fyname}}
											</option>
										</select>
									</div>
								</div>
								<hr />
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-3">
											<div class="row">
												<img id="logo{{selectedCompany.cmpid}}" name="logo{{selectedCompany.cmpid}}" src="assets/img/logo/{{selectedCompany.cmplogo}}"
													onerror="this.src='assets/img/logo/No_Images.gif';" width="100" height="100" />
											</div>
										</div>
										<div class="col-md-9">
											<div class="row">
												<div class="col-md-3">Company Name: </div>
												<div class="col-md-9">
													{{selectedCompany.cmpname}}
												</div>
											</div>
											<div class="row">
												<div class="col-md-3">Mobile No: </div>
												<div class="col-md-9">
													{{selectedCompany.mobileno}}
												</div>
											</div>
											<div class="row">
												<div class="col-md-3">Pin Code: </div>
												<div class="col-md-9">
													{{selectedCompany.pincode}}
												</div>
											</div>
										</div>
									</div>
								</div>
								<hr />
								<div class="col-md-12">
									<div class="row">
										<div class="panel panel-theme">
											<div class="panel-heading">
												<input id="menus" name="menus" type="checkbox" (change)="selectAndDeselectAllCheckboxes()" />&nbsp;Select All
											</div>
											<div class="panel-body">
												<div *ngFor="let row of selectedCompany.menudetails | groupBy:'menuhead'; let i = index;">
													<div class="panel-heading">
														<h4>{{row.key}}</h4>
													</div>
													<div class="panel-body">
														<div class="col-md-12 allcheckboxes" *ngFor="let drow of row.value">
															<div class="row">
																<div class="col-md-4">
																	<input id="{{drow.menuid}}" name="menu{{i + 1}}" type="checkbox" value="{{drow.menuid}}" (change)="selectAndDeselectMenuWiseCheckboxes(drow)"
																	/>&nbsp;{{drow.menuname}}
																</div>
																<div class="col-md-8" id="M{{drow.menuid}}">
																	<span style="margin-right:5px;" *ngFor="let item of getMenuRights(drow.mrights) let i = index">
																		<input id="{{drow.menuid}}{{item}}" name="menuitem{{i + 1}}" data-menuid="drow.menuid" data-right="item" type="checkbox" value="{{item}}" class="actrights" />&nbsp;{{item}}
																	</span>
																	<span *ngIf="drow.ismore">
																		<a role="button" (click)="openMoreRights(drow)">More</a>
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<p-dialog header="{{menuname}}" [(visible)]="morerights" modal="modal" width="700" responsive="true">
		<div align="right">
			{{refuname}}
		</div>

		<div class="col-md-12" style="height: 400px; overflow: auto;">
			<div class="row">
				<div class="col-md-6">
					<div class="text-center">
						<h3>Existing</h3>
					</div>
					<div *ngIf="fliterAPARDT.length">
						<div class="text-left">
							<h4>AP / AR</h4>
						</div>
						<div class="row">
							<div *ngFor="let item of fliterAPARDT" class="col-md-3">
								{{item.val}}
							</div>
						</div>
					</div>
					<div *ngIf="fliterBankDT.length">
						<div class="text-left">
							<h4>Bank</h4>
						</div>
						<div *ngFor="let item of fliterBankDT">
							{{item.val}}
						</div>
					</div>
					<div *ngIf="fliterBankTypeDT.length">
						<div class="text-left">
							<h4>Bank Type</h4>
						</div>
						<div class="row">
							<div *ngFor="let item of fliterBankTypeDT" class="col-md-3">
								{{item.val}}
							</div>
						</div>
					</div>
					<div *ngIf="fliterCCDT.length">
						<div class="text-left">
							<h4>Control Center</h4>
						</div>
						<div class="row">
							<div *ngFor="let item of fliterCCDT" class="col-md-4">
								{{item.val}}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-center">
						<h3>Extra</h3>
					</div>
					<div *ngIf="fliterExtraAPARDT.length">
						<div class="text-left">
							<h4>AP / AR</h4>
						</div>
						<div class="row">
							<div *ngFor="let item of fliterExtraAPARDT" class="col-md-3">
								<p-checkbox name="apartype" value="{{item.key}}" label="{{item.val}}" [(ngModel)]="selectedAPARType"></p-checkbox>
							</div>
						</div>
					</div>
					<div *ngIf="fliterExtraBankDT.length">
						<div class="text-left">
							<h4>Bank</h4>
						</div>
						<div *ngFor="let item of fliterExtraBankDT">
							<p-checkbox name="bank" value="{{item.key}}" label="{{item.val}}" [(ngModel)]="selectedBank"></p-checkbox>
						</div>
					</div>
					<div *ngIf="fliterExtraBankTypeDT.length">
						<div class="text-left">
							<h4>Bank Type</h4>
						</div>
						<div class="row">
							<div *ngFor="let item of fliterExtraBankTypeDT" class="col-md-3">
								<p-checkbox name="banktype" value="{{item.key}}" label="{{item.val}}" [(ngModel)]="selectedBankType"></p-checkbox>
							</div>
						</div>
					</div>
					<div *ngIf="fliterExtraCCDT.length">
						<div class="text-left">
							<h4>Control Center</h4>
						</div>
						<div class="row">
							<div *ngFor="let item of fliterExtraCCDT" class="col-md-4">
								<p-checkbox name="ccname" value="{{item.key}}" label="{{item.val}}" [(ngModel)]="selectedCC"></p-checkbox>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button type="button" class="btn btn-theme btn-sm" icon="fa-check" (click)="morerights=false">DONE</button>
		</div>
	</p-dialog>
</form>