<form id="frmur">
	<div class="panel panel-theme">
		<div class="panel-body">
			<div class="col-md-12">
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label class="control-label">User Name</label>
						<!--<input id="uname" name="uname" type="text" [(ngModel)]="uname" class="uname form-control" (keyup)="getUserAuto(this)" />-->
						<p-autoComplete id="uname" name="uname" [(ngModel)]="uname" placeholder="Employee" [tabindex]="1" (onSelect)="selectAutoUsers($event, 1)"
							[suggestions]="usersDT" (completeMethod)="getAutoUsers($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete"></p-autoComplete>
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label class="control-label">Reference User Name</label>
						<p-autoComplete id="refuname" name="refuname" [(ngModel)]="refuname" placeholder="Reference Employee" [tabindex]="1" (onSelect)="selectAutoRefUsers($event, 1)"
							[suggestions]="usersDT" (completeMethod)="getAutoUsers($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete"></p-autoComplete>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-xs-4 col-md-3" [style.display]="CompanyDetails.length == 0?'none':''">
					<p-dataList [value]="CompanyDetails" selectionMode="single">
						<header>
							Company
						</header>
						<template let-row>
							<p-panel [header]="row.cmpname" [style]="{'text-align':'center'}">
								<a role="button" (click)="getMenuDetails(row);">
									<img src="assets/img/logo/{{row.cmplogo}}" onerror="this.src='assets/img/logo/No_Images.gif';" width="50" height="50" />
								</a>
							</p-panel>
						</template>
					</p-dataList>
				</div>
				<div class="col-xs-8 col-md-9" [style.display]="selectedCompany.length == 0?'none':''">
					<div class="panel panel-theme" [style.display]="selectedCompany.menudetails.length == 0?'none':''">
						<div class="panel-body">
							<div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedCompany">
								<div class="col-md-12">
									<div class="row">
										<select id="fy" name="fy" [(ngModel)]="fy" class="form-control" (ngModelChange)="getUserRightsById(selectedCompany)">
											<option value="0">-- Select Financial Year --</option>
											<option *ngFor="let fyrow of FYDetails" [value]="fyrow.fyid">
												{{fyrow.fyname}}
											</option>
										</select>
									</div>
								</div>
								<hr />
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-3">
											<div class="row">
												<img id="logo{{selectedCompany.cmpid}}" name="logo{{selectedCompany.cmpid}}" src="assets/img/logo/{{selectedCompany.cmplogo}}"
													onerror="this.src='assets/img/logo/No_Images.gif';" width="100" height="100" />
											</div>
										</div>
										<div class="col-md-9">
											<div class="row">
												<div class="col-md-3">Company Name: </div>
												<div class="col-md-9">
													{{selectedCompany.cmpname}}
												</div>
											</div>
											<div class="row">
												<div class="col-md-3">Mobile No: </div>
												<div class="col-md-9">
													{{selectedCompany.mobileno}}
												</div>
											</div>
											<div class="row">
												<div class="col-md-3">Pin Code: </div>
												<div class="col-md-9">
													{{selectedCompany.pincode}}
												</div>
											</div>
										</div>
									</div>
								</div>
								<hr />
								<div class="col-md-12">
									<div class="row">
										<div class="panel panel-theme">
											<div class="panel-heading">
												<input id="menus" name="menus" type="checkbox" (change)="selectAndDeselectAllCheckboxes()" />&nbsp;Select All
											</div>
											<div class="panel-body">
												<div *ngFor="let row of selectedCompany.menudetails | groupBy:'menuhead'; let i = index;">
													<div class="panel-heading">
														<h4>{{row.key}}</h4>
													</div>
													<div class="panel-body">
														<div class="col-md-12 allcheckboxes" *ngFor="let drow of row.value">
															<div class="row">
																<div class="col-md-4">
																	<!--<p-checkbox name="menu{{i + 1}}" value="{{drow.menuid}}" label="{{drow.menuname}}" [(ngModel)]="drow.selectedmenu"></p-checkbox>-->
																	<input id="{{drow.menuid}}" name="menu{{i + 1}}" type="checkbox" value="{{drow.menuid}}" (change)="selectAndDeselectMenuWiseCheckboxes(drow)"
																	/>&nbsp;{{drow.menuname}}
																</div>
																<div class="col-md-8" id="M{{drow.menuid}}">
																	<span style="margin-right:5px;" *ngFor="let item of getMenuRights(drow.mrights) let i = index">
																		<!--<p-checkbox name="menuitem{{i + 1}}" value="{{item}}" label="{{item}}" [(ngModel)]="drow.selectedrights"></p-checkbox>-->
																		<input id="{{drow.menuid}}{{item}}" name="menuitem{{i + 1}}" data-menuid="drow.menuid" data-right="item" type="checkbox" value="{{item}}" class="actrights" />&nbsp;{{item}}
																	</span>
																	<span *ngIf="drow.ismore">
																		<a role="button" (click)="openMoreRights(drow)">More</a>
																	</span>
																	<!--<usermorerights #dialog [menuname]="menuname" [morerights]="morerights" [umrrow]="drow" [refuid]="refuid" [fy]="fy"></usermorerights>-->
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>