<div class="panel panel-theme">
	<div class="panel-body">
		<div class="col-md-4">
			<div class='form-group'>
				<label>Customer</label>
				<p-autoComplete [(ngModel)]="CustName" id="Custcode" tabindex="1" class="form-controlAutoComplete" (onSelect)="CustomerSelect($event)"
					[suggestions]="CustomerAutodata" (completeMethod)="CustomerAuto($event)" field="label" [size]="30" [minLength]="1"></p-autoComplete>
			</div>
		</div>
		<div class="col-md-2">
			<div class='form-group'>
				<label>From Date</label>
				<calendar #fromdatecal [name]="'fromdate'"></calendar>
			</div>
		</div>
		<div class="col-md-2">
			<div class='form-group'>
				<label>To Date</label>
				<calendar #todatecal [name]="'todate'"></calendar>
			</div>
		</div>
		<div class="col-md-1">
			<div class='form-group'>
				<div class="setfltrbtn">
					<button type="button" class="btn btn-theme btn-sm get" tabindex="4" (click)="GetData()"><i class="fa fa-arrow-right"></i></button>
				</div>
			</div>
		</div>
	</div>
	<div class="table-responsive" *ngIf="salesorderview">
		<p-dataTable #dt [value]="salesorderview" [lazy]="true" [rows]="10" [paginator]="false" [totalRecords]="totalRecords" (onLazyLoad)="loadRBIGrid($event)"
			(onRowExpand)="expandDetails($event)" (onRowClick)="OpenEdit($event)" expandableRows="true">
			<p-column header="#" [style]="{'width':'1px','text-align':'left'}">
				<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
					{{rowIndex+1}}
				</template>
			</p-column>
			<p-column header="More" expander="true" [style]="{'width':'1px','text-align':'left'}">
			</p-column>
			<p-column field="docno" header="Doc No" [style]="{'width':'20px','text-align':'left'}"></p-column>
			<p-column field="docdate" header="Doc Date" [style]="{'width':'50px','text-align':'left'}"></p-column>
			<p-column field="cust" header="Customer" [style]="{'width':'130px','text-align':'left'}"></p-column>
			<p-column field="deldate" header="Del Date" [style]="{'width':'50px','text-align':'left'}"></p-column>
			<p-column field="status" header="Status" [style]="{'width':'50px','text-align':'left'}"></p-column>
			<p-column field="remark" header="Sp.Intraction" [style]="{'width':'50px','text-align':'left'}"></p-column>
			<template let-row pTemplate="rowexpansion">
				<span *ngIf="!row.loading">Loading....</span>
				<p-dataTable *ngIf="row.loading" [value]="row.details" [lazy]="true" [rows]="10" [paginator]="false" expandableRows="true"
					[totalRecords]="row.totalDetailsRecords">
					<p-column header="#" [style]="{'width':'1px','text-align':'left'}">
						<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
							{{rowIndex+1}}
						</template>
					</p-column>
					<p-column field="item" header="Item" [style]="{'width':'100px','text-align':'left'}"></p-column>
					<p-column field="ordqty" header="Qty." [style]="{'width':'20px','text-align':'right'}">
						<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
							<numtext [iscurrency]="false" [islabel]="true" css="inlinetextbox" [(ngModel)]="row.ordqty"></numtext>
						</template>
					</p-column>
					<p-column field="dis" header="Dis." [style]="{'width':'20px','text-align':'right'}">
						<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
							<numtext [iscurrency]="false" [islabel]="true" css="inlinetextbox" [(ngModel)]="row.dis"></numtext>
						</template>
					</p-column>
					<p-column field="confqty" header="Confirmqty" [style]="{'width':'20px','text-align':'right'}">
						<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
							<numtext [iscurrency]="false" [islabel]="true" css="inlinetextbox" [(ngModel)]="row.confqty"></numtext>
						</template>
					</p-column>
					<p-column field="amount" header="Amount" [style]="{'width':'30px','text-align':'right'}">
						<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
							<numtext [iscurrency]="true" [islabel]="true" css="inlinetextbox" [(ngModel)]="row.amount"></numtext>
						</template>
					</p-column>
				</p-dataTable>
				<!--<footer>
					<table class="tableNoborder">
						<tbody>
							<tr>
								<td style="width:1px;text-align:left"></td>
								<td style="width:100px;text-align:left"></td>
								<td style="width:20px;text-align:right"><b>{{row.subqty}}</b></td>
								<td style="width:20px;text-align:left"></td>
								<td style="width:20px;text-align:right"><b>{{row.confirmqty}}</b></td>
								<td style="width:30px;text-align:right"><b>{{row.subtotal}}</b></td>
							</tr>
						</tbody>
					</table>
				</footer>-->
			</template>
			<footer>
				<table class="tableNoborder">
					<tbody>
						<tr>
							<td style="width:40px;text-align:left"></td>
							<td style="width:40px;text-align:left"></td>
							<td style="width:40px;text-align:left"></td>
							<td style="width:40px;text-align:left"></td>
							<td style="width:30px;text-align:left"></td>
							<td style="width:30px;text-align:right">Total</td>
						</tr>
					</tbody>
				</table>
			</footer>
		</p-dataTable>
	</div>
</div>