<div class="row" *ngIf="!isdetails">
	<div class="col-md-8">
		<div class="col-md-5">
			<div class='form-group'>
				<label>{{labelname}}</label>
				<input type="text=" class="form-control attr" placeholder="Attribute name" tabindex="300" value="" [(ngModel)]="attrname" (keyup.enter)="AttributeAdd()"
					(keyup)="getAutoCompleteattr(this)" />
			<!--<p-autoComplete [(ngModel)]="CustName"  class="form-controlAutoComplete" (onSelect)="AttributeSelect($event)" [suggestions]="AttributeAutodata" (completeMethod)="AttributeAuto($event)" field="label" [size]="30" placeholder="Attribute Name" [minLength]="1"></p-autoComplete>-->
			</div>
		</div>
		<div class="col-md-1">
			<div class='form-group'>
				<div style="padding-top: 28px;">
					<button class="btn btn-theme btn-sm" type="button" tabindex="301" (click)="AttributeAdd()" title="Add"><i class="fa fa-plus"></i></button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-12 bootstrap-tagsinput">
			<span *ngFor="let row of attrlist" class="tag label label-info" style="font-size: 10px;">{{row.attrname}} 
				<span data-role="remove" (click)="Removeattr(row)"></span>
			</span>
		</div>
	</div>
</div>

<div class="row" *ngIf="isdetails">
	<div class="col-md-12">
		<div class="col-md-12 bootstrap-tagsinput">
			<span *ngFor="let row of attrlist" class="tag label label-info" style="font-size: 10px;">{{row.attrname}}</span>
		</div>
	</div>
</div>