<div class="panel panel-theme">
	<div class="panel-body">
		<div class='col-md-3'>
			<div class='form-group'>
				<label>Item Name</label>
				<input type="text" validate="" class="form-control item" maxlength="150" tabindex="1" [(ngModel)]="itemname" (keyup)="getAutoCompleteItem(this)">
			</div>
		</div>
		<div class='col-md-3'>
			<div class='form-group'>
				<label>Warehouse Name</label>
				<input type="text" class="form-control whname" (blur)="whfocusout()" maxlength="150" tabindex="2" [(ngModel)]="whname" (keyup)="getAutoCompleteWH(this)">
			</div>
		</div>
		<div class="col-md-2">
			<div class='form-group'>
				<label class="control-label">From</label>
				<calendar #stockfrom [name]="'jvdate'"></calendar>
			</div>
		</div>
		<div class="col-md-2">
			<div class='form-group'>
				<label class="control-label">To</label>
				<calendar #stockto [name]="'jvdate'"></calendar>
			</div>
		</div>
		<div class='col-md-2'>
			<div class='form-group'>
				<div style="padding-top:28px">
					<button class="btn btn-theme btn-sm get" (click)="getWhStockLedger()" tabindex="3"><i class="fa fa-arrow-right"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12">
	<div class="table-responsive" *ngIf="whstocklist.length > 0">
		<p-dataTable #dt [value]="whstocklist" [lazy]="true" [rows]="10" [paginator]="false" [totalRecords]="totalRecords" (onLazyLoad)="loadRBIGrid($event)"
			(onRowExpand)="expandDetails($event)" expandableRows="true">
			<p-column header="#" [style]="{'width':'1px','text-align':'left'}">
				<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
					{{rowIndex+1}}
				</template>
			</p-column>
			<p-column header="More" expander="true" [style]="{'width':'1px','text-align':'left'}">
			</p-column>
			<p-column field="whname" header="Warehouse" [style]="{'width':'150px','text-align':'left'}"></p-column>
			<p-column field="hand" header="Stock @ Hand" [style]="{'width':'50px','text-align':'right'}"></p-column>
			<template let-row pTemplate="rowexpansion">
				<span *ngIf="!row.loading">Loading....</span>
				<p-dataTable *ngIf="row.loading" [value]="row.details" [lazy]="true" [rows]="10" [paginator]="true" expandableRows="true"
					[totalRecords]="totalDetailsRecords">
					<p-column header="#" [style]="{'width':'1px','text-align':'left'}">
						<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
							{{rowIndex+1}}
						</template>
					</p-column>
					<p-column field="leddate" header="Date" [style]="{'width':'40px','text-align':'left'}"></p-column>
					<p-column field="whname" header="Warehouse" [style]="{'width':'80px','text-align':'left'}"></p-column>
					<p-column field="typ" header="Type" [style]="{'width':'30px','text-align':'left'}"></p-column>
					<p-column field="docno" header="Doc.no" [style]="{'width':'30px','text-align':'right'}"></p-column>
					<p-column field="outword" header="Debit" [style]="{'width':'50px','text-align':'right'}"></p-column>
					<p-column field="inword" header="Credit" [style]="{'width':'50px','text-align':'right'}"></p-column>
					<p-column field="bal" header="Balance" [style]="{'width':'50px','text-align':'right'}"></p-column>
					<p-column field="remark" header="Remark" [style]="{'width':'80px','text-align':'left'}"></p-column>
				</p-dataTable>
			</template>
			<footer>
				<table class="tableNoborder">
					<tbody>
						<tr>
							<td style="width:40px;text-align:left"></td>
							<td style="width:30px;text-align:left"></td>
							<td style="width:30px;text-align:right">{{TotalHand()}}</td>
						</tr>
					</tbody>
				</table>
			</footer>
		</p-dataTable>
	</div>
</div>