<div class="panel panel-theme">
	<div class="panel-body">
		<div class='form-group col-md-12'>
			<div class="col-md-4">
				<div class='form-group'>
					<label>Group Name</label>
					<input type="text=" class="form-control GroupName" tabindex="1" value="" [(ngModel)]="GroupName" (keyup)="getAutoCompleteGroupName(this)"
					/>
				</div>
			</div>
			<div class="col-md-1">
				<div class='form-group'>
					<label>&nbsp;</label>
					<button type="button" class="btn btn-primary" tabindex="4" (click)="GetAccountGroup()">Get</button>
				</div>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<p-dataTable #dt [value]="acgrouplist" [lazy]="true" [rows]="10" [paginator]="false" [totalRecords]="totalRecords" (onLazyLoad)="loadRBIGrid($event)"
			(onRowExpand)="expandDetails($event)" expandableRows="true">
			<p-column header="#" [style]="{'width':'1px','text-align':'left'}">
				<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
					{{rowIndex+1}}
				</template>
			</p-column>
			<p-column header="More" expander="true" [style]="{'width':'1px','text-align':'left'}"></p-column>
			<p-column field="pgroup" header="Parent Group" [style]="{'width':'120px','text-align':'left'}"></p-column>
			<template let-row pTemplate="rowexpansion">
				<span *ngIf="!row.loading">Loading....</span>
				<p-dataTable *ngIf="row.loading" [value]="row.details" [lazy]="true" [rows]="10" [paginator]="false" expandableRows="true"
					[totalRecords]="row.totalDetailsRecords">
					<p-column header="#" [style]="{'width':'1px','text-align':'left'}">
						<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
							{{rowIndex+1}}
						</template>
					</p-column>
					<p-column field="groupcode" header="Group Code" [style]="{'width':'100px','text-align':'left'}"></p-column>
					<p-column field="groupname" header="Group Name" [style]="{'width':'20px','text-align':'right'}"></p-column>
					<p-column field="val" header="Parent Of Group" [style]="{'width':'20px','text-align':'right'}"></p-column>
					<p-column field="appfrom" header="Applicable From" [style]="{'width':'20px','text-align':'right'}"></p-column>
					<p-column field="remark" header="Remark" [style]="{'width':'30px','text-align':'right'}"></p-column>
				</p-dataTable>
			</template>
		</p-dataTable>
	</div>
</div>