<div class="panel panel-theme">
	<div class="panel-body">
		<div class='form-group col-md-12'>
			<div class="col-md-4">
				<div class='form-group'>
					<label>Group Name</label>
					<p-autoComplete [(ngModel)]="GroupName" class="form-controlAutoComplete GroupName" (onSelect)="GroupSelect($event)" [suggestions]="GroupAutodata"
						(completeMethod)="GroupAuto($event)" [tabindex]="1" field="label" [size]="30" placeholder="Group Name" [minLength]="1"></p-autoComplete>
				</div>
			</div>
			<div class="col-md-1">
				<div class='form-group'>
					<div class="setfltrbtn">
						<button type="button" class="btn btn-primary" tabindex="4" (click)="GetAccountGroup()"><i class="fa fa-arrow-right"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p-treeTable [value]="acgrouplist" selectionMode="single" [style]="{'margin-top':'50px'}" (onNodeExpand)="nodeExpand($event)">
		<p-column field="grpcd" header="Code">
			<template let-node="rowData" pTemplate="body">
				{{node.data.grpcd}}&nbsp;&nbsp;<span class="label label-primary" *ngIf="node.data.leafcnt > 0">{{node.data.leafcnt}}</span>
			</template>

		</p-column>
		<p-column field="grp" header="Name"></p-column>
	</p-treeTable>
</div>