<div class="col-md-9">
    <div class="table-responsive">
        <p-dataTable #dt [value]="mom" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadMOMGrid($event)"
            [(selection)]="selectedMOM1" expandableRows="true">
            <header>List of Master of Master</header>
            <p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
            <p-column field="group" header="Group"></p-column>
            <template let-rows>
                <p-dataTable #dt [value]="rows.details" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" [(selection)]="selectedMOM1"
                    expandableRows="true">
                    <p-column field="key" header="Key" [style]="{'width':'150px','text-align':'left'}"></p-column>
                    <p-column field="val" header="Value" [style]="{'text-align':'left'}"></p-column>
                    <p-column styleClass="col-button" [style]="{'width':'100px','text-align':'left'}">
                        <template let-row="rowData" pTemplate type="body">
                            <button type="button" (click)="openMOMDetails(row)" class="btn btn-theme btn-sm">
                                <i class="fa fa-edit"></i>
                            </button>
                        </template>
                    </p-column>
                </p-dataTable>
            </template>
        </p-dataTable>
    </div>
</div>