<div class="col-md-12">
    <div class="row">
        <div class="col-md-2" style="border-right: 3px #d1d8dd dashed;">
            <p-dataList [value]="monGroupDT" selectionMode="single">
                <header>
                    Group
                </header>
                <template let-row>
                    <div style="padding: 10px;">
                        <a role="button" (click)="loadMOMGrid(row);">{{row.val}}</a>
                    </div>
                </template>
            </p-dataList>
        </div>
        <div class="col-md-10">
            <div class="row">
                <p-dataTable #dt [value]="mom" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadMOMGrid($event)"
                    [(selection)]="selectedMOM1" expandableRows="true">
                    <header>List of Master of Master</header>
                    <p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
                    <p-column field="group" header="Group"></p-column>
                    <template let-rows>
                        <p-dataTable #dt [value]="rows.details" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" [(selection)]="selectedMOM1"
                            expandableRows="true">
                            <p-column field="key" header="Key" [style]="{'width':'150px','text-align':'left'}"></p-column>
                            <p-column field="val" header="Value" [style]="{'text-align':'left'}"></p-column>
                            <p-column styleClass="col-button" [style]="{'width':'100px','text-align':'left'}">
                                <template let-row="rowData" pTemplate type="body">
                                    <button type="button" (click)="openMOMDetails(row)" class="btn btn-theme btn-sm">
                                <i class="fa fa-edit"></i>
                            </button>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </template>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>