<style>
	table.tableNoborder td {
		border: 0!important;
		padding: 2px!important;
	}
	
	.ui-datatable-footer.ui-widget-header {
		padding: 2px 0px !important;
	}
</style>
<div class="middlepan">
	<div class="panel panel-theme">
		<div class="panel-body">
			<div class='col-md-12'>
				<div class="col-md-6">
					<div class='form-group'>
						<label>Customer</label>
						<input type="text=" class="form-control custname" tabindex="1" value="" [(ngModel)]="CustName" (keyup)="getAutoComplete(this)"
						/>
					</div>
				</div>
				<div class="col-xs-3">
					<div class='form-group'>
						<label>Document Date</label>
						<div class="controls">
							<div class="input-group">
								<input type="text" name="date" id="docDate" tabindex="2" class="date-picker form-control" [(ngModel)]="docdate" />
								<label for="date" class="input-group-addon btn">
							<span class="glyphicon glyphicon-calendar"></span>
						</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class='form-group'>
						<label>Delivery Date</label>
						<div class="controls">
							<div class="input-group">
								<input type="text" name="date" id="delDate" tabindex="3" class="date-picker form-control" [(ngModel)]="delDate" />
								<label for="date" class="input-group-addon btn">
							<span class="glyphicon glyphicon-calendar"></span>
						</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class='form-group'>
						<label>Warehouse</label>
						<select class="form-control" [(ngModel)]="wareid" tabindex="6">
								<option *ngFor="let items of warehouselist" [value]="items.val">
									{{items.label}}
								</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class='form-group'>
						<label>Salesman</label>
						<select class="form-control" [(ngModel)]="salesid" tabindex="5">
								<option *ngFor="let items of Salesmanlist" [value]="items.val">
									{{items.label}}
								</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="table-responsive">
					<p-dataTable #dt [value]="newAddRow" [editable]="true" [lazy]="true" (onLazyLoad)="loadRBIGrid($event)" [(selection)]="selectedRB1"
						expandableRows="true">
						<p-column header="Item" footerTemplate="true" [style]="{'width':'150px','text-align':'left'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<input type="text" class="form-control ProdName inlinetextbox" [(ngModel)]="row.itemsname" (keyup)="getAutoCompleteProd(row,1)"
									autocomplete='off' value="" />
							</template>
						</p-column>
						<p-column header="Qty" [style]="{'width':'50px','text-align':'left'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<input type="number" class="form-control text-right inlinetextbox" [(ngModel)]="row.qty" autocomplete='off' value="" />
							</template>
						</p-column>
						<p-column header="Rate" [style]="{'width':'50px','text-align':'left'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<numtext name="rate" css="inlinetextbox" [(ngModel)]="row.rate"></numtext>
							</template>
						</p-column>
						<p-column field="dis" header="Dis" [style]="{'width':'50px','text-align':'left'}"></p-column>
						<p-column field="amount" header="Amount" [style]="{'width':'50px','text-align':'left'}"></p-column>
						<p-column header="Action" [style]="{'width':'30px','text-align':'left'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<button class="btn btn-theme btn-sm" (click)="DeleteRow(row.counter)"><i class="fa fa-trash"></i></button>
							</template>
						</p-column>
						<footer>
							<table class="tableNoborder">
								<tbody>
									<tr>
										<td style="width:150px;"><input type="text" class="form-control ProdName" [(ngModel)]="NewItemsName" (keyup)="getAutoCompleteProd(this,0)"
												autocomplete='off' value="" /></td>
										<td style="width:50px;"><input type="text" class="form-control qty" [(ngModel)]="qty" autocomplete='off' value="" /></td>
										<td style="width:50px;"><input type="text" class="form-control rate" [(ngModel)]="Rate" autocomplete='off' value="" /></td>
										<td style="width:50px;"><input type="text" class="form-control dis" [(ngModel)]="Dis" autocomplete='off' value="" /></td>
										<td style="width:50px;"><input type="text" class="form-control amt" [(ngModel)]="Amount" autocomplete='off' value="" /></td>
										<td style="width:30px;"><button type="button" class="btn btn-theme btn-sm" ng-reflect-title="Add" title="Add" (click)="NewRowAdd()"><i class="fa fa-plus"></i></button></td>
									</tr>
								</tbody>
							</table>

						</footer>
					</p-dataTable>

				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-theme">
		<div class="panel-body">
			<ul class="nav nav-tabs">
				<li class="active"><a data-target="#itemdis" role="button" data-toggle="tab"><i class="fa fa-percent" aria-hidden="true"></i> Discount</a></li>
				<li><a data-target="#trans" role="button" data-toggle="tab"><i class="fa fa-truck" aria-hidden="true"></i> Transpoter</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane" id="itemdis">
					<div class="row">
						<div class="col-md-5">
							<div class="panel panel-theme">
								<div class="panel-heading">
									<h3 class="panel-title">Items Discount</h3>
								</div>
								<div class="panel-body">
									<table class="table table-striped table-bordered" *ngIf="itemslist.length">
										<thead>
											<tr>
												<th>#</th>
												<th class="col-sm-5">Items Name</th>
												<th class="col-sm-3">Dis (%)</th>
												<th class="col-sm-1"></th>
											</tr>
										</thead>
										<tbody *ngFor="let row of itemslist let i=index">
											<tr>
												<td><span>{{i+1}}</span></td>
												<td>{{row.itemsname}}</td>
												<td>{{row.itemsdis}}</td>
												<td><button class="btn btn-theme btn-sm" (click)="itemsRemove(row)"><i class="fa fa-trash"></i></button></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="panel panel-theme">
								<div class="panel-heading">
									<h3 class="panel-title">Discount</h3>
								</div>
								<div class="panel-body">
									<table class="table table-striped table-bordered" *ngIf="disattrlist.length">
										<thead>
											<tr>
												<th class="col-sm-1">#</th>
												<th class="col-sm-5">Attribute</th>
												<th class="col-sm-2">From</th>
												<th class="col-sm-2">To</th>
												<th class="col-sm-2">Dis %</th>
												<th></th>
											</tr>
										</thead>
										<tbody *ngFor="let row of disattrlist let i=index">
											<tr>
												<td><span>{{i+1}}</span></td>
												<td>{{row.disattrname}}</td>
												<td>{{row.fromval}}</td>
												<td>{{row.toval}}</td>
												<td>{{row.discou}}</td>
												<td><button class="btn btn-theme btn-sm" (click)="disRemoveattr(row)"><i class="fa fa-trash"></i></button></td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="trans">
					<div class='form-group'>
						<label>Transpoter</label>
						<select class="form-control" [(ngModel)]="Traspoter" tabindex="6">
								<option *ngFor="let items of Transpoterlist" [value]="items.val">
									{{items.label}}
								</option>
						</select>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="sidepan">
	<!--widgit-->
	<div class="panel panel-theme">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
				<h3 class="panel-title">Customer Address</h3>
			</a>
		</div>
		<span *ngIf="!addresslist.length">No customer selected</span>
		<div id="Personal" class="panel-collapse collapse in">
			<div class="panel-body">
				<div *ngFor="let items of addresslist">
					<span>{{items.address}}</span>
					<span>{{items.email}}</span>
					<span>{{items.mob}}</span>
				</div>
				<a role="button" class="pull-right" *ngIf="addresslist.length">Change Address</a>
			</div>
		</div>
	</div>
	<div class="panel panel-theme">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
				<h3 class="panel-title">Any Other Details</h3>
			</a>
		</div>
		<div id="Personal" class="panel-collapse collapse in">
			<div class="panel-body"></div>
		</div>
	</div>
	<div class="panel panel-theme">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
				<h3 class="panel-title">Any Other Details</h3>
			</a>
		</div>
		<div id="Personal" class="panel-collapse collapse in">
			<div class="panel-body"></div>
		</div>
	</div>
	<div class="panel panel-theme">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
				<h3 class="panel-title">Any Other Details</h3>
			</a>
		</div>
		<div id="Personal" class="panel-collapse collapse in">
			<div class="panel-body">
			</div>
		</div>
	</div>
	<fileupload [module]="module" [multi]="true" [isRaw]="false" [uploadedFiles]="uploadedFiles" (onStart)="onUploadStart($event)"
		(onComplete)="onUploadComplete($event)"></fileupload>
</div>