<div class="middlepan">
	<div class="panel panel-theme">
		<div class="panel-body">
			<div class='col-md-12'>
				<div class="col-md-6">
					<div class='form-group' id="customerAuto">
						<label>Customer</label>
						<p-autoComplete [(ngModel)]="CustName" class="form-controlAutoComplete CustName" (onSelect)="CustomerSelect($event)" [suggestions]="CustomerAutodata"
							(completeMethod)="CustomerAuto($event)" [tabindex]="1" field="label" [size]="30" placeholder="Customer" [minLength]="1"></p-autoComplete>
					</div>
				</div>
				<div class="col-md-3">
					<div class='form-group'>
						<label class="control-label">Document Date</label>
						<calendar #docdatecal [tabindex]="2" [name]="'docdate'"></calendar>
					</div>
				</div>

				<div class="col-md-3">
					<div class='form-group'>
						<label class="control-label">Delivery Date</label>
						<calendar #deldatecal [tabindex]="3" [name]="'deldate'"></calendar>
					</div>
				</div>
				<div class="col-md-6">
					<div class='form-group'>
						<label>Salesman</label>
						<select class="form-control salesman" [(ngModel)]="salesid" tabindex="4">
							<option [value]="'0'">Select Salesman</option>
								<option *ngFor="let items of Salesmanlist" [value]="items.val">
									{{items.label}}
								</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class='form-group'>
						<label>Warehouse</label>
						<select class="form-control warehouse" [(ngModel)]="wareid" tabindex="5">
							<option [value]="'0'">Select Warehouse</option>
								<option *ngFor="let items of warehouselist" [value]="items.val">
									{{items.label}}
								</option>
						</select>
					</div>
				</div>
				<div class="col-md-12" *ngIf="combolist.length>0">
					<div class='form-group'>
						<label>Item Combo</label>
						<p-chips [(ngModel)]="combolist">
							<template let-item pTemplate="item">
								{{item.comboname}}<i class="fa fa-close" (click)="combodel(item)"></i>
							</template>
						</p-chips>

					</div>

				</div>
			</div>
			<div class="col-md-12">
				<div class="table-responsive">
					<p-dataTable #dt [value]="newAddRow" [editable]="true" [lazy]="true" (onLazyLoad)="loadRBIGrid($event)" [(selection)]="selectedRB1"
						expandableRows="true" [responsive]="true">
						<p-column header="#" [style]="{'width':'30px'}">
							<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
								{{rowIndex+1}}
							</template>
						</p-column>
						<p-column header="Item" [style]="{'text-align':'left'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<p-autoComplete [(ngModel)]="row.itemsname" class="form-controlAutoComplete inlinetextbox ProdName" (onSelect)="ItemSelect($event,1)"
									[suggestions]="ItemAutodata" (completeMethod)="ItemAuto($event)" [tabindex]="11" field="label" [size]="30" placeholder="Item"
									[minLength]="1"></p-autoComplete>
							</template>
						</p-column>
						<p-column header="Qty" [style]="{'width':'120px','text-align':'right'}">
							<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
								<numtext [iscurrency]="false" [decimals]="2" id="{{'nmtxt_' + rowIndex + '1'}}" [css]="inlinetextbox" [tabindex]="12" [(ngModel)]="row.qty"
									(keyup)="ratechange(qty,newrate,dis,row,1)"></numtext>
								<!--{{ row.qty | _currency:{currsym:"",decimals:2 } }}-->
							</template>
						</p-column>
						<p-column header="Rate" [style]="{'width':'120px','text-align':'right'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<select [(ngModel)]="row.id" class="form-control inlinetextbox" tabindex="13" (ngModelChange)="ratechange(qty,newrate,dis,row,1)">
						<option *ngFor="let row of row.rateslist" [value]="row.id">
							{{row.val}}
					    </option>
							</select>
								<!--{{ row.id }}-->
							</template>
						</p-column>
						<p-column header="Dis %" [style]="{'width':'120px','text-align':'right'}">
							<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
								<numtext [iscurrency]="false" css="inlinetextbox" id="{{'nmtxt_' + rowIndex + '2'}}" [tabindex]="14" (keyup)="ratechange(qty,newrate,dis,row,1)"
									[(ngModel)]="row.dis"></numtext>
								<!--{{ row.dis | _currency:loginUser._globsettings[0] }}-->
							</template>
						</p-column>
						<p-column header="Amount" [style]="{'width':'120px','text-align':'right'}">
							<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
								<numtext [iscurrency]="true" [islabel]="true" id="{{'nmtxt_' + rowIndex + '3'}}" css="inlinetextbox" [(ngModel)]="row.amount"></numtext>
								<!--{{ row.amount | _currency:loginUser._globsettings[0] }}-->
							</template>
						</p-column>
						<p-column header="Action" [style]="{'width':'80px','text-align':'center'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<button class="btn btn-danger btn-sm btn-grid" (click)="DeleteRow(row.counter)"><i class="fa fa-trash"></i></button>
							</template>
						</p-column>
						<footer>
							<table class="tableNoborder" style="height: 60px;">
								<tbody>
									<tr>
										<td style="width:30px;vertical-align: top;">
											<label>#</label>
										</td>
										<td style="vertical-align: top;">
											<p-autoComplete [(ngModel)]="NewItemsName" class="form-controlAutoComplete inlinetextbox ProdName" (onSelect)="ItemSelect($event,0)"
												[suggestions]="ItemAutodata" (completeMethod)="ItemAuto($event)" [tabindex]="6" field="label" [size]="30" placeholder="Item"
												[minLength]="1"></p-autoComplete>
										</td>
										<td style="width:120px;vertical-align: top;">
											<numtext [iscurrency]="false" css="inlinetextbox" [id]='"qty"' [tabindex]="7" (keyup.enter)="NewRowAdd()" (keyup)="ratechange(qty,newrate,dis,this,0)"
												[(ngModel)]="qty"></numtext>
										</td>
										<td style="width:120px;vertical-align: top;">
											<select [(ngModel)]="newrate" class="form-control" tabindex="8" (keyup.enter)="NewRowAdd()" (ngModelChange)="ratechange(qty,newrate,dis,this,0)"
												class="form-control">
												<option *ngFor="let row of rateslist" [value]="row.id">
														{{row.val}}
					    						</option>
											</select>
										</td>
										<td style="width:120px;vertical-align: top;">
											<numtext [iscurrency]="false" css="inlinetextbox" [id]='"dis"' [tabindex]="9" (keyup)="ratechange(qty,newrate,dis,this,0)"
												(keyup.enter)="NewRowAdd()" [(ngModel)]="dis"></numtext>
										</td>
										<td style="width:120px;vertical-align: top;">
											<numtext [iscurrency]="true" css="inlinetextbox" [id]='"amount"' [islabel]="true" [(ngModel)]="amount"></numtext>
										</td>
										<td style="width:80px;vertical-align: top;"><button type="button" tabindex="10" class="btn btn-theme btn-sm btn-grid" ng-reflect-title="Add" title="Add" (click)="NewRowAdd()"><i class="fa fa-plus"></i></button></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td *ngIf="totalqty.length > 0">{{totalqty}}</td>
									</tr>
								</tbody>
							</table>
						</footer>

						<!--*ngIf="newAddRow.length>0"-->
						<footer>
							<table class="row">
								<tbody class="col-md-4 pull-right">
									<tr>
										<td><b class="pull-left">Gross Total</b></td>
										<td><b>{{Totalamount() | _currency:loginUser._globsettings[0] }}</b></td>
									</tr>
									<tr *ngFor="let item of taxlist">
										<td><b class="pull-left">Tax :  {{item.taxname}}</b></td>
										<td>
											<span>{{item.taxval}}%</span>
										</td>
										<td><b class="pull-right">{{item.taxval}}</b></td>
									</tr>
									<tr>
										<td><b class="pull-left">Net Total</b></td>
										<td></td>
										<td><b class="pull-right">0.00</b></td>
									</tr>
								</tbody>
							</table>
						</footer>
					</p-dataTable>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-theme">
		<div class="panel-body">
			<ul class="nav nav-tabs">
				<li class="active"><a data-target="#itemdis" role="button" data-toggle="tab"><i class="fa fa-percent" aria-hidden="true"></i> Discount</a></li>
				<li><a data-target="#trans" role="button" data-toggle="tab"><i class="fa fa-truck" aria-hidden="true"></i> Transportation</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane" id="itemdis">
					<div class="row">
						<div class="col-md-5">
							<div class="panel panel-theme">
								<div class="panel-heading">
									<h3 class="panel-title">Items Discount</h3>
								</div>
								<div class="panel-body">
									<table class="table table-striped table-bordered" *ngIf="itemslist.length">
										<thead>
											<tr>
												<th>#</th>
												<th class="col-sm-5">Items Name</th>
												<th class="col-sm-3">Dis (%)</th>
												<th class="col-sm-1"></th>
											</tr>
										</thead>
										<tbody *ngFor="let row of itemslist let i=index">
											<tr>
												<td><span>{{i+1}}</span></td>
												<td>{{row.itemsname}}</td>
												<td>{{row.itemsdis}}</td>
												<td><button class="btn btn-theme btn-sm" (click)="itemsRemove(row)"><i class="fa fa-trash"></i></button></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="panel panel-theme">
								<div class="panel-heading">
									<h3 class="panel-title">Discount</h3>
								</div>
								<div class="panel-body">
									<table class="table table-striped table-bordered" *ngIf="disattrlist.length">
										<thead>
											<tr>
												<th class="col-sm-1">#</th>
												<th class="col-sm-5">Attribute</th>
												<th class="col-sm-2">From</th>
												<th class="col-sm-2">To</th>
												<th class="col-sm-2">Dis %</th>
												<th></th>
											</tr>
										</thead>
										<tbody *ngFor="let row of disattrlist let i=index">
											<tr>
												<td><span>{{i+1}}</span></td>
												<td>{{row.disattrname}}</td>
												<td>{{row.fromval}}</td>
												<td>{{row.toval}}</td>
												<td>{{row.discou}}</td>
												<td><button class="btn btn-theme btn-sm" (click)="disRemoveattr(row)"><i class="fa fa-trash"></i></button></td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="trans">
					<div *ngIf="isinvoice">
						<div class="col-md-12">
							<div class="col-md-2">
								<div class="form-group">
									<label>LR No</label>
									<input type="text" class="form-control" name="txtlr" value="" />
								</div>
							</div>
							<div class="col-md-2">
								<div class='form-group'>
									<label>LR Date</label>
									<div class="controls">
										<div class="input-group">
											<input type="text" name="date" id="lrDate" class="date-picker form-control" [(ngModel)]="lrDate" />
											<label for="date" class="input-group-addon btn">
												<span class="glyphicon glyphicon-calendar"></span>
										</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class='form-group'>
									<label>Transpoter</label>
									<select class="form-control" [(ngModel)]="Traspoter">
								<option *ngFor="let items of Transpoterlist" [value]="items.val">
									{{items.label}}
								</option>
								</select>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="col-md-2">
								<div class="form-group">
									<label>Ref No</label>
									<input type="text" class="form-control" name="txtrefno" value="" />
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<label>Remark</label>
									<textarea type="text" class="form-control" name="txtremark" value=""></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p-dialog [(visible)]="dialogShow" (onAfterShow)="onAfterShow($event)" header="All Address" modal="modal" width="550" responsive="true">
		<div class="col-md-3" style="height:150px;" *ngFor="let item of addresslist">
			<div class="panel panel-theme">
				<div class="panel-heading">
					<h3 class="panel-title text-right"><i title="Primary Address" class="fa fa-check pull-left" *ngIf="item.isprimary"></i><span class="pull-left">{{item.firstnam}} {{item.middlenam}}</span>
						<button class="btn btn-theme btn-xs" type="button" data-toggle="modal" data-target="#myModal">
							<i class="fa fa-edit"></i></button>
					</h3>
				</div>
				<div class="panel-body" style="height:100px;overflow:hidden;padding-bottom:5px">
					<div>{{item.address1}} {{item.city}} {{item.state}} {{item.pin}} </div>
					<div>Email : {{item.email}}</div>
					<div>Mob : {{item.mob}}</div>
				</div>
			</div>
		</div>
	</p-dialog>
</div>
<div class="sidepan">
	<!--widgit-->
	<div class="panel panel-theme loading" style="min-hight:100px;max-hight:150px;overflow:auto;">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
				<h3 class="panel-title">Customer Address</h3>
			</a>
		</div>
		<span *ngIf="!addresslist.length">No customer selected</span>
		<div id="Personal" class="panel-collapse collapse in">
			<div class="panel-body">
				<div *ngFor="let items of addresslist">
					<span>{{items.address}}</span>
					<span>{{items.email}}</span>
					<span>{{items.mob}}</span>
				</div>
				<a role="button" class="pull-right" (click)="showDialog()" *ngIf="addresslist.length">Change Address</a>
			</div>
		</div>
	</div>
	<div class="panel panel-theme loading" style="min-hight:100px;max-hight:150px;overflow:auto;">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
				<h3 class="panel-title">Customer Details</h3>
			</a>
		</div>
		<span *ngIf="!addresslist.length">No customer selected</span>
		<div id="Personal" class="panel-collapse collapse in" *ngIf="addresslist.length">
			<div class="panel-body">
				<div>Email : {{siteemail}}</div>
				<div>Mob : {{sitemob}}</div>
				<div>Upper Limit : {{siteupper | _currency:loginUser._globsettings[0]}}</div>
				<div>lower Limit : {{sitelower | _currency:loginUser._globsettings[0]}}</div>
			</div>
		</div>
	</div>
	<div class="panel panel-theme">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-9">
					<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
						<h3 class="panel-title">Draft Details</h3>
					</a>
				</div>
				<div class="col-md-3">
					<ul class="nav navbar-nav navbar-right">
						<a href="javascript:void(0)" class="btn-grid" (click)="getdraftdocno()"><i class="fa fa-refresh"></i></a>
					</ul>
				</div>
			</div>
		</div>
		<span *ngIf="!draftlist.length">No any Draft</span>
		<div id="Personal" class="panel-collapse collapse in" *ngIf="draftlist.length">
			<div class="panel-body">
				<a role="button" *ngFor="let item of draftlist" class="btn btn-theme btn-grid" (click)="GetdraftDetails(item)">{{item.docno}}</a>
			</div>
		</div>
	</div>
	<fileupload [module]="module" [multi]="true" [isRaw]="false" [uploadedFiles]="uploadedFiles" (onStart)="onUploadStart($event)"
		(onComplete)="onUploadComplete($event)"></fileupload>
</div>