<!--<form id="formid">-->
<div class="panel panel-theme">
	<div class="panel-body">
		<div class="col-md-12">
			<div class="col-md-3">
				<div class='form-group'>
					<label>Tax Name</label>
					<input type="text" class="form-control taxname" placeholder="Tax name" validate="" tabindex="1" [(ngModel)]="taxname" ng-trim="true">
				</div>
			</div>
			<div class="col-md-3">
				<div class='form-group'>
					<label>COA</label>
					<p-autoComplete [(ngModel)]="coanam" class="form-controlAutoComplete coa" (onSelect)="COASelect($event)" [suggestions]="COAAutodata"
						(completeMethod)="COAAuto($event)" [tabindex]="2" field="label" [size]="30" placeholder="Chart Of Account" [minLength]="1"></p-autoComplete>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-3">
				<div class='form-group'>
					<label>From Date</label>
					<calendar #fromdatecal [name]="'fromdate'"></calendar>
				</div>
			</div>
			<div class="col-md-3">
				<div class='form-group'>
					<label>To Date</label>
					<calendar #todatecal [name]="'todate'"></calendar>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-1">
				<div class='form-group'>
					<label>%</label>
					<select [(ngModel)]="dis" class="form-control" tabindex="5">
						<option *ngFor="let row of purcentamt" [value]="row.id">
							{{row.val}}
					    </option>
					</select>
				</div>
			</div>
			<div class="col-md-1">
				<div class='form-group'>
					<label>Value</label>
					
					<numtext [iscurrency]="false" [tabindex]="4" [(ngModel)]="taxval"></numtext>
				</div>
			</div>
			<div class="col-md-3">
				<div class='form-group'>
					<label>On</label>
					<select [(ngModel)]="Ongross" class="form-control" tabindex="5">
						<option *ngFor="let row of Onlist" [value]="row.id">
							{{row.val}}
					    </option>
					</select>
				</div>
			</div>
			<div class="col-md-1">
				<div class='form-group'>
					<label>Seq</label>
						<numtext [iscurrency]="false" [tabindex]="6" [max]="99" [(ngModel)]="Seq"></numtext>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-6">
				<div class='form-group'>
					<label>Narration</label>
					<div class="input-group">
						<textarea [(ngModel)]="narration" placeholder="Narration" tabindex="8" class="form-control medium-text-box" name="Narration"
							cols="85" autocomplete='off' rows="2"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="tab-pane" id="attr">
				<attribute #attribute></attribute>
			</div>
		</div>
	</div>
</div>
<!--</form>-->