<div class="panel panel-theme">
	<div class="panel-body">
		<div class="row">
			<div class='col-md-2'>
				<div class='form-group'>
					<label>Code</label>
					<input type="text" class="form-control code" validate="" maxlength="15" tabindex="1" [(ngModel)]="code" (blur)="Getcode()">
				</div>
			</div>
			<div class='col-md-6'>
				<div class='form-group'>
					<label>Warehouse Name</label>
					<input type="text" class="form-control  warehouse" validate="" tabindex="2" [(ngModel)]="name">
				</div>
			</div>
			<div class='col-md-8'>
				<div class='form-group'>
					<label>Remark</label>
					<input type="text" class="form-control" tabindex="3" [(ngModel)]="remark">
				</div>
			</div>
		</div>
		<div class="row" *ngIf="editmode">
			<div class="col-md-10">
				<label><p-checkbox [(ngModel)]="isactive" binary="true"></p-checkbox>IsActive</label>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-theme">
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li class="active"><a data-target="#adr" role="button" data-toggle="tab"><i class="fa fa-address-book-o" aria-hidden="true"></i> Contact Details</a></li>
			<li><a data-target="#attr" role="button" (click)="Attr()" data-toggle="tab"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Attribute</a></li>
			<li><a data-target="#docup" role="button" data-toggle="tab"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Document Upload</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="adr">
				<div class="row">
					<addressbook #addrbook [adrbookid]="adrbookid" [adrid]="adrid" [module]="module" [accode]="accode"></addressbook>
				</div>
			</div>
			<div class="tab-pane" id="attr">
				<div class="row">
					<div class="col-md-3">
						<div class='form-group'>
							<label>Attribute</label>
							<input type="text=" class="form-control attr" tabindex="5" value="" [(ngModel)]="attrname" (keyup.enter)="AttributeAdd()"
								(keyup)="getAutoCompleteattr(this)" />
						</div>
					</div>
					<div class="col-md-10">
						<div class="col-md-6" *ngFor="let row of attrlist">
							<div class="bootstrap-tagsinput" style="margin-top: 10px;">
								<span class="tag label label-info" style="font-size: 10px;">{{row.attrname}} 
							<span data-role="remove" (click)="Removeattr(row)"></span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="docup">
				<div class="row">
					<fileupload [module]="module" [multi]="true" [isRaw]="false" [uploadedFiles]="uploadedFiles" (onStart)="onUploadStart($event)"
						(onComplete)="onUploadComplete($event)"></fileupload>
				</div>
			</div>
		</div>
	</div>
</div>