<div class="panel panel-theme">
	<div class="panel-body">
		<div class="col-md-12">
			<div class="col-md-5">
				<div class='form-group'>
					<label>Warehouse</label>
					<input type="text" class="form-control ware" tabindex="1" validate="" [(ngModel)]="warehousename" (keyup)="getAutoCompleteWare(this)">
				</div>
			</div>
			<div class="col-md-3">
				<div class='form-group'>
					<label class="control-label">Date</label>
					<calendar #jvdate [name]="'jvdate'"></calendar>
				</div>
			</div>
			<div class="col-md-8">
				<div class='form-group'>
					<label>Remark</label>
					<textarea class="form-control medium-text-box" tabindex="3" [(ngModel)]="remark"></textarea>
				</div>
			</div>
			<table class="table table-striped table-bordered" *ngIf="Openinglist.length">
				<thead>
					<tr>
						<th>#</th>
						<th class="col-md-4">Items Name</th>
						<th class="col-md-2">Rate</th>
						<th class="col-md-2">Qty</th>
						<th class="col-md-2">Amount</th>
						<th class="col-md-3">Remark</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of Openinglist let i=index">
						<td><span>{{i+1}}</span></td>
						<td>{{item.itemname}}</td>
						<td><select [(ngModel)]="item.ratename" class="form-control" (ngModelChange)="ratechange(item)" class="form-control">
						<option *ngFor="let row of item.rate" [value]="row.id+':'+row.val">
							{{row.val}}
					    </option>
							</select></td>
						<td><input type="text" class="form-control textalign" (ngModelChange)="ratechange(item)" [(ngModel)]="item.qty" /></td>
						<td class="textalign">{{item.amt}}</td>
						<td><input type="text" class="form-control" [(ngModel)]="item.remark" /></td>
						<td><button class="btn btn-theme btn-sm" (click)="DeleteRow(item)"><i class="fa fa-trash"></i></button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>