<div class="panel panel-theme">
	<div class="panel-body">
		<div class="col-md-12">
			<div class="col-md-5">
				<div class='form-group'>
					<label>Warehouse</label>
					<input type="text" validate="" class="form-control ware" tabindex="1" validate="" [(ngModel)]="warehousename" (keyup)="getAutoCompleteWare(this)">
				</div>
			</div>
			<div class="col-md-3">
				<div class='form-group'>
					<label class="control-label">Date</label>
					<calendar #openstock [name]="'jvdate'"></calendar>
				</div>
			</div>
			<div class="col-md-8">
				<div class='form-group'>
					<label>Remark</label>
					<textarea class="form-control medium-text-box" tabindex="3" [(ngModel)]="remark"></textarea>
				</div>
			</div>
			<div class="col-md-10" *ngIf="Openinglist.length > 0">
				<div class="table-responsive">
					<p-dataTable #dt [value]="Openinglist" [editable]="true" [lazy]="true" (onLazyLoad)="loadRBIGrid($event)" [(selection)]="selectedRB1"
						expandableRows="true">
						<p-column header="#" [style]="{'width':'30px','text-align':'left'}">
							<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
								{{rowIndex+1}}
							</template>
						</p-column>
						<p-column header="Item code" [style]="{'width':'120px','text-align':'left'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<label>{{row.itemcode}}</label>
							</template>
						</p-column>
						<p-column header="Item name" [style]="{'text-align':'left'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<label>{{row.itemname}}</label>
							</template>
						</p-column>
						<p-column header="Qty" [style]="{'width':'120px','text-align':'left'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<numtext [iscurrency]="false" (keyup)="ratechange(row)" [(ngModel)]="row.qty"></numtext>
							</template>
						</p-column>
							<p-column header="Rate" [style]="{'width':'120px','text-align':'left'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<select [(ngModel)]="row.id" class="form-control" (ngModelChange)="ratechange(row)" class="form-control">
						<option *ngFor="let row of row.rate" [value]="row.id">
							{{row.val}}
					    </option>
							</select>
							</template>
						</p-column>
						<p-column header="Amount" [style]="{'width':'120px','text-align':'left'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<numtext [iscurrency]="false" css="inlinetextbox" [disabled]="true" [(ngModel)]="row.amt"></numtext>
							</template>
						</p-column>
						<!--<p-column header="Remark" [style]="{'width':'120px','text-align':'left'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<input type="text" class="form-control" [(ngModel)]="row.remark" />
							</template>
						</p-column>-->
						<p-column header="Action" [style]="{'width':'80px','text-align':'center'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<button class="btn btn-danger btn-sm" (click)="DeleteRow(row)"><i class="fa fa-trash"></i></button>
							</template>
						</p-column>
					</p-dataTable>
				</div>
			</div>
		</div>
	</div>