<div class="input-group stylish-input-group">
	<input type="text" class="form-control" placeholder="Search" [(ngModel)]="EmpName" (keyup)="filterEmployeeData()" />
	<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
</div>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>User Name</th>
				<th>Company Name</th>
				<th>FY Name</th>
				<th>Menu Name</th>
				<th>Rights</th>
			</tr>
		</thead>
		<tbody *ngFor="let row of viewUserDT">
			<tr>
				<td>
					{{row.fullname}}
				</td>
				<td>
					{{row.cmpname}}
				</td>
				<td>
					{{row.fyname}}
				</td>
				<td>
					{{row.menuname}}
				</td>
				<td>
					{{row.rights}}
				</td>
			</tr>

			<!--<tr>
				<td width="30px">
					<button (click)="viewCompanyDT(row)">{{row.issh == 1 ? "-" : "+"}}</button>
				</td>
				<td width="100px">
					<a role="button" (click)="openUserRights(row)">
						{{row.ucode}}
					</a>
				</td>
				<td>
					{{row.fullname}}
				</td>
			</tr>
			<tr [style.display]="row.issh == 0?'none':''">
				<td></td>
				<td colspan="4">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th width="50px"></th>
								<th width="200px">Company Name</th>
								<th>Menu Name</th>
							</tr>
						</thead>
						<tbody *ngFor="let drow of row.details">
							<tr *ngFor="let mdrow of drow.userrights">
								<td width="50px">
									<img src="assets/img/logo/{{mdrow.cmplogo}}" onerror="this.src='assets/img/logo/No_Images.gif';" width="30px" />
								</td>
								<td width="200px">
									{{mdrow.cmpname}}
								</td>
								<td>
									<div *ngFor="let grrow of mdrow.giverights">
										{{grrow.menuname}}
										{{grrow.rights}}
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>-->
		</tbody>
	</table>
</div>