<div class="middlepan">
    <div class="panel panel-theme">
        <div class="panel-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">User Name</label>
                    <input id="uname" validate="" type="text" [(ngModel)]="uname" class="username form-control" (keyup)="getUserAuto(this)" />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Date of Birth</label>
                            <div class="controls">
                                <div class="input-group" tabindex="2">
                                    <input id="date-picker-3" type="text" class="date-picker form-control dob" [(ngModel)]="dob" />
                                    <label for="date-picker-3" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Gender</label>
                            <select validate="" [(ngModel)]="gender" name="Gender" id="Gender" class="form-control">
                                <option [value]="''">Select Gender</option>
                                <option *ngFor="let row of genderDT" [value]="row.key">	
                                    {{row.val}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Marital Status</label>
                            <select [(ngModel)]="maritalstatus" class="form-control">
                                <option [value]="'0'">Select Marital Status</option>
                                <option *ngFor="let row of maritalstatusDT" [value]="row.key">
                                    {{row.val}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Blood Group</label>
                            <select [(ngModel)]="bloodgroup" class="form-control">
                                <option [value]="'0'">Select Blood Group</option>
                                <option *ngFor="let row of bloodgroupDT" [value]="row.key">
                                    {{row.val}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Family Background</label>
                    <textarea validate="" [(ngModel)]="familybg" class="form-control small-text-box" cols="150" rows="5"></textarea>
                </div>

                <div class="form-group">
                    <label class="control-label">Health Details</label>
                    <textarea [(ngModel)]="healthdtls" class="form-control small-text-box" cols="150" rows="5"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-theme">
        <div class="panel-body">
            <ul class="nav nav-tabs" id="tabs">
                <li class="active"><a data-target="#aboutus" role="button" data-toggle="tab">About Employee</a></li>
                <li><a data-target="#contact" role="button" data-toggle="tab">Contact Details</a></li>
                <li><a data-target="#jobprofile" role="button" data-toggle="tab">Job Profile</a></li>
                <li><a data-target="#ctrlcenter" role="button" data-toggle="tab">Control Center</a></li>
                <li><a data-target="#uploadphoto" role="button" data-toggle="tab">Upload Photo</a></li>
                <li *ngFor="let tab of tabListDT">
                    <a href="#{{tab.fldcode}}" role="button" data-toggle="tab">
                        <button data-target="#dynTabModel" data-toggle="modal" class="btn btn-simple btn-sm fa fa-edit" type="button" (click)="editTabPopup(tab);"
                            *ngIf="!isdetails"></button> &nbsp;{{tab.fldname}}&nbsp;
                        <button class="btn btn-simple btn-sm fa fa-remove" type="button" (click)="DeleteTabs(tab)" *ngIf="!isdetails"></button>
                    </a>
                </li>
                <li *ngIf="!isdetails">
                    <a data-target="#dynTabModel" role="button" data-toggle="modal" (click)="openTabPopup()"><i class="fa fa-plus"></i></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="aboutus">
                    <div class="form-group">
                        <textarea [(ngModel)]="aboutus" class="form-control big-text-box hidden-text-box" cols="150" rows="5" height="300"></textarea>
                    </div>
                </div>

                <div class="tab-pane" id="contact">
                    <div class="row">
                        <addressbook #addrbook [adrbookid]="adrbookid" [adrid]="adrid" [module]="module" [accode]="accode"></addressbook>
                    </div>
                </div>

                <div class="tab-pane" id="jobprofile">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Company Name</label>
                                        <input type="text" [(ngModel)]="companyname" class="form-control input-sm" size="20" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Company Email</label>
                                        <input type="text" [(ngModel)]="companyemail" class="form-control input-sm" size="20" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Department</label>
                                        <select [(ngModel)]="deptid" class="form-control">
                                            <option [value]="'0'">Select Department</option>
                                            <option *ngFor="let row of departmentDT" [value]="row.key">
                                                {{row.val}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Designation</label>
                                        <select [(ngModel)]="desigid" class="form-control">
                                            <option [value]="'0'">Select Designation</option>
                                            <option *ngFor="let row of designationDT" [value]="row.key">
                                                {{row.val}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Joining Date</label>
                                        <div class="controls">
                                            <div class="input-group" tabindex="2">
                                                <input id="date-picker-4" type="text" class="date-picker form-control doj" [(ngModel)]="doj" />
                                                <label for="date-picker-4" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Notice Days</label>
                                        <input type="number" [(ngModel)]="noticedays" class="form-control input-sm" size="20" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Salary</label>
                                        <input type="text" [(ngModel)]="salary" class="form-control input-sm" size="20" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Salary Mode</label>
                                        <select [(ngModel)]="salarymode" class="form-control">
                                            <option [value]="'0'">Select Salary Mode</option>
                                            <option *ngFor="let row of salarymodeDT" [value]="row.ID">
                                                {{row.val}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="ctrlcenter">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Primary</label>
                                <select [(ngModel)]="pctrlcenterid" name="Primary" id="Primary" class="form-control">
                                    <option [value]="'0'">Select Control Center</option>
                                    <option *ngFor="let row of ctrlcenterDT" [value]="row.key">
                                        {{row.val}}
                                    </option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-md-11">
                                    <div class="form-group">
                                        <label class="control-label">Secondary</label>
                                        <input id="ctrlcentername" type="text" [(ngModel)]="sctrlcentername" class="ctrlcentername form-control" (keyup)="getCtrlCenterAuto(this)"
                                        />
                                    </div>
                                </div>
                                <div class="col-xs-2 col-md-1">
                                    <div class="form-group">
                                        <label class="control-label">&nbsp;</label>
                                        <button class="btn btn-theme btn-sm fa fa-plus" type="button" ng-reflect-title="Add" tabindex="7" (click)="addNewCtrlCenter()"
                                            title="Add"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" *ngIf="ctrlcenterList.length">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="20px">#</th>
                                                <th>Ctrl Center</th>
                                                <th width="20px">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let row of ctrlcenterList let i=index">
                                            <tr>
                                                <td width="20px"><span>{{i+1}}</span></td>
                                                <td>{{row.ctrlcentername}}</td>
                                                <td width="20px">
                                                    <button class="btn btn-theme btn-sm" (click)="deleteCtrlCenter(row)"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="uploadphoto">
                    <div class="form-group">
                        <fileupload [module]="module" [multi]="false" [isRaw]="true" [uploadedFiles]="uploadedFiles" (onStart)="onUploadStart($event)"
                            (onComplete)="onUploadComplete($event)"></fileupload>
                    </div>
                </div>

                <div *ngFor="let tab of tabListDT" class="tab-pane" id="{{tab.fldcode}}">
                    <dynamictab [tab]="tab" [atttype]="atttype" [cmpid]="loginUser.cmpid" [isdetails]="isdetails"></dynamictab>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidepan">
    <!--widgit-->
    <div class="panel panel-theme">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#Personal">
                <h3 class="panel-title">Any Other Details</h3>
            </a>
        </div>
        <div id="Personal" class="panel-collapse collapse in">
            <div class="panel-body"></div>
        </div>
    </div>
    <div class="panel panel-theme">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#Personal">
                <h3 class="panel-title">Any Other Details</h3>
            </a>
        </div>
        <div id="Personal" class="panel-collapse collapse in">
            <div class="panel-body"></div>
        </div>
    </div>
    <div class="panel panel-theme">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#Personal">
                <h3 class="panel-title">Any Other Details</h3>
            </a>
        </div>
        <div id="Personal" class="panel-collapse collapse in">
            <div class="panel-body"></div>
        </div>
    </div>
    <div class="panel panel-theme">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#Personal">
                <h3 class="panel-title">Any Other Details</h3>
            </a>
        </div>
        <div id="Personal" class="panel-collapse collapse in">
            <div class="panel-body"></div>
        </div>
    </div>
</div>

<adddynamictab #tabpanel [tabListDT]="tabListDT" [cmpid]="loginUser.cmpid" [fy]="loginUser.fy" [selectedtab]="selectedtab"
    [isedittab]="isedittab"></adddynamictab>