<div class='form'>
	<div class='form-row col-md-12'>
		<div class="col-md-6">
			<div class='form-group card required'>
				<label>Customer</label>
				<input type="text=" class="form-control" autocomplete='off' value="" [(ngModel)]=custKey (keyup)=CustomerFilter(custKey) />
			</div>
			<div *ngIf="CustfilteredList.length > 0">
				<ul class="dropdown-menu" style="display: block;">
					<li *ngFor="let items of CustfilteredList">
						<a (click)="select(items.CustName)">{{items.CustName}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-6">
			<label>Date</label>
			<div class="input-group date" data-provide="datepicker">
				<input type="text=" class="form-control" value="" />
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-th"></span>
				</div>
			</div>
		</div>

	</div>
	<div class='form-row col-md-12'>
		<div class="col-md-6">
			<div class='form-group'>
				<label>Salesman</label>
				<select class="form-control" [(ngModel)]="Salesman">
					<option *ngFor="let items of Salesmanlist" value="items.id">
						{{items.value}}
					</option>
				</select>
			</div>
		</div>
		<div class="col-md-6">
			<div class='form-group'>
				<label>Other Salesman</label>
				<select class="form-control" [(ngModel)]="OtherSalesman">
					<option *ngFor="let items of Salesmanlist" value="items.id">
						{{items.value}}
					</option>
				</select>
			</div>
		</div>
	</div>
	<div class='form-row col-md-12'>
		<div class="col-md-6">
			<div class='form-group'>
				<label>Transpoter</label>
				<select class="form-control" [(ngModel)]="Salesman">
					<option *ngFor="let items of Transpoterlist" value="items.id">
						{{items.value}}
					</option>
				</select>
			</div>
		</div>
		<div class="col-md-6">
			<div class='form-group card required'>
				<label>Token</label>
				<input type="text=" class="form-control" value="" />
			</div>
		</div>

	</div>
	<div class='form-row col-md-12'>
		<div class="col-md-6">
			<div class='form-group'>
				<label>Billing Address</label>
				<textarea class="form-control" autocomplete='off' rows="5"></textarea>
			</div>
		</div>
		<div class="col-md-6">
			<div class='form-group'>
				<label>Shipping Address</label>
				<textarea class="form-control" autocomplete='off' rows="5"></textarea>
			</div>
		</div>
	</div>
</div>