<div class="col-md-12">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-5">
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>Status</label>
				<select class="form-control" [(ngModel)]="status">
					<option *ngFor="let item of statusDT" [value]="item.code">{{item.name}}</option>
				</select>
			</div>
		</div>
		<div class="col-md-1">
			<div class="form-group">
				<label>&nbsp;</label>
				<button type="button" class="btn btn-theme btn-sm" (click)="searchJV(dt)">Get</button>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="table-responsive">
		<p-dataTable #dt [value]="viewFYDT" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadFYGrid($event)">
			<p-column field="fyname" header="FY Name" [style]="{'text-align':'left'}"></p-column>
			<p-column field="fromdt" header="From Date" [style]="{'width':'150px','text-align':'left'}"></p-column>
			<p-column field="todt" header="To Date" [style]="{'width':'150px','text-align':'left'}"></p-column>
			<p-column [style]="{'width':'45px','text-align':'left'}">
				<template let-row="rowData" pTemplate type="body">
					<button type="button" (click)="openFYDetails(row)" class="btn btn-theme btn-sm">
						<i class="fa fa-arrow-right"></i>
					</button>
				</template>
			</p-column>
		</p-dataTable>
	</div>
</div>