<div class="col-md-12">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-5">
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>Status</label>
				<select class="form-control" [(ngModel)]="status">
					<option *ngFor="let item of statusDT" [value]="item.code">{{item.name}}</option>
				</select>
			</div>
		</div>
		<div class="col-md-1">
			<div class="form-group">
				<label>Action</label>
				<button type="button" class="btn btn-thme btn-sm" (click)="searchJV(dt)">Get</button>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="table-responsive">
		<p-dataTable #dt [value]="viewFYDT" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadFYGrid($event)">
			<p-column field="fyname" header="FY Name" [style]="{'text-align':'left'}"></p-column>
			<p-column field="fromdt" header="From Date" [style]="{'width':'150px','text-align':'left'}"></p-column>
			<p-column field="todt" header="To Date" [style]="{'width':'150px','text-align':'left'}"></p-column>
			<p-column [style]="{'width':'45px','text-align':'left'}">
				<template let-row="rowData" pTemplate type="body">
					<button type="button" (click)="openFYDetails(row)" class="btn btn-theme btn-sm">
						<i class="fa fa-arrow-right"></i>
					</button>
				</template>
			</p-column>
		</p-dataTable>
	</div>
</div>

<!--<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th width="30px"></th>
				<th width="100px">FY Name</th>
				<th width="100px">From Date</th>
				<th width="100px">To Date</th>
			</tr>
		</thead>
		<tbody *ngFor="let row of viewFYDT let i=index">
			<tr>
				<td width="30px" class="textalign">
					{{i+1}}
				</td>
				<td width="100px">
					<a role="button" (click)="openFYDetails(row)">{{row.fyname}}</a>
				</td>
				<td width="100px">
					{{row.fromdt}}
				</td>
				<td width="100px">
					{{row.todt}}
				</td>
			</tr>
		</tbody>
	</table>
</div>-->