<div class="panel panel-theme">
	<div class="panel-body">
		<div class='form-row col-md-12'>
			<div class="col-xs-2">
				<div class='form-group'>
					<label>Document Date</label>
					<calendar #docdatecal [name]="'docdatecal'"></calendar>
				</div>
			</div>
			<div class="col-xs-3">
				<div class='form-group'>
					<label>Invoice No</label>
					<input type="text" class="form-control" placeholder="Invoice No" tabindex="2" id="invNo" [(ngModel)]="InvNostr">
				</div>
			</div>
			<div class="col-xs-3">
				<div class='form-group'>
					<label>Other Refrence</label>
					<input type="text" class="form-control" placeholder="Other Refrence" tabindex="3" [(ngModel)]="OtherRef">
				</div>
			</div>
		</div>
		<div class='form-row col-md-12'>
			<div class="col-md-4">
				<div class='form-group'>
					<label>Supplier</label>
					<p-autoComplete [(ngModel)]="SupplierName" class="form-controlAutoComplete" (onSelect)="SupplierSelect($event)" [suggestions]="SupplierAutodata"
						(completeMethod)="SupplierAuto($event)" [tabindex]="4" field="label" [size]="30" placeholder="Supplier" [minLength]="1"></p-autoComplete>
				</div>
			</div>
			<div class="col-md-4">
				<div class='form-group'>
					<label>Account</label>
					<p-autoComplete [(ngModel)]="AccountName" id="CustName" class="form-controlAutoComplete" (onSelect)="CustomerSelect($event)"
						[suggestions]="CustomerAutodata" (completeMethod)="CustomerAuto($event)" [tabindex]="5" field="label" [size]="30" placeholder="Customer"
						[minLength]="1"></p-autoComplete>
				</div>
			</div>
		</div>
		<div class='form-row col-md-12'>
			<div class="col-md-4">
				<div class='form-group'>
					<label>Address</label>
					<div class="controls">
						<div class="input-group">
							<textarea [(ngModel)]="Adr" tabindex="6" placeholder="Address" class="form-control medium-text-box" cols="75" autocomplete='off'
								rows="2"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class='form-group'>
					<label>Remark</label>
					<div class="controls">
						<div class="input-group">
							<textarea [(ngModel)]="Remark" tabindex="7" placeholder="Remark" class="form-control medium-text-box" cols="75" autocomplete='off'
								rows="2" (blur)="SetFocusTable()"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-10">
		<div class="table-responsive">
			<p-dataTable #dt [value]="newAddRow" [editable]="true" [lazy]="true" (onLazyLoad)="loadRBIGrid($event)" [(selection)]="selectedRB1"
				expandableRows="true" [responsive]="true">
				<p-column header="#" [style]="{'width':'30px'}">
					<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
						{{rowIndex+1}}
					</template>
				</p-column>
				<p-column header="Item" [style]="{'text-align':'left'}">
					<template let-col let-row="rowData" pTemplate="editor">
						<input type="text" class="form-control ProdName inlinetextbox"  [(ngModel)]="row.ItemsName" (keyup)="getAutoCompleteProd(row,1)"
							autocomplete='off' value="" />
					</template>
				</p-column>
				<p-column header="Qty" [style]="{'width':'120px','text-align':'left'}">
					<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
						<numtext [iscurrency]="false" [decimals]="2" id="{{'nmtxt_' + rowIndex + '1'}}" [css]="inlinetextbox" [(ngModel)]="row.qty"
							(keyup)="ConfirmQtyEdit(row.counter,row.qty)"></numtext>
					</template>
				</p-column>
				<p-column header="Rate" [style]="{'width':'120px','text-align':'left'}">
					<template let-col let-row="rowData" pTemplate="editor">
						<select [(ngModel)]="row.id" class="form-control inlinetextbox">
						<option *ngFor="let row of row.rateslist" [value]="row.id">
							{{row.val}}
					    </option>
							</select>
					</template>
				</p-column>
				<p-column header="Dis %" [style]="{'width':'120px','text-align':'left'}">
					<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
						<numtext [iscurrency]="false" css="inlinetextbox" id="{{'nmtxt_' + rowIndex + '2'}}" [(ngModel)]="row.dis"></numtext>
					</template>
				</p-column>
				<p-column header="Amount" [style]="{'width':'120px','text-align':'left'}">
					<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
						<numtext [iscurrency]="true" [islabel]="true" id="{{'nmtxt_' + rowIndex + '3'}}" css="inlinetextbox" [(ngModel)]="row.amount"></numtext>
					</template>
				</p-column>
				<p-column header="Action" [style]="{'width':'80px','text-align':'center'}">
					<template let-col let-row="rowData" pTemplate="editor">
						<button class="btn btn-danger btn-sm" (click)="DeleteRow(row.counter)"><i class="fa fa-trash"></i></button>
					</template>
				</p-column>
				<footer>
					<table class="tableNoborder" style="height: 60px;">
						<tbody>
							<tr>
								<td style="width:30px;vertical-align: top;">
									<label>#</label>
								</td>
								<td style="vertical-align: top;"><input type="text" tabindex="8" class="form-control ProdName" [(ngModel)]="NewItemsName" (keyup)="getAutoCompleteProd(this,0)"
										autocomplete='off' value="" /></td>
								<td style="width:120px;vertical-align: top;">
									<numtext [iscurrency]="false" css="inlinetextbox"  [id]="'txtqty'"  [tabindex]="9" (keyup.enter)="NewRowAdd()"
										[(ngModel)]="qty" (keyup)="CalculationQty(qty,newrate,dis,this,0)"></numtext>
								</td>
								<td style="width:120px;vertical-align: top;">
									<select [(ngModel)]="newrate" class="form-control" tabindex="10" (keyup.enter)="NewRowAdd()" (ngModelChange)="CalculationQty(qty,newrate,dis,this,0)" class="form-control">
												<option *ngFor="let row of rateslist" [value]="row.id">
														{{row.val}}
					    						</option>
									</select>
								</td>
								<td style="width:120px;vertical-align: top;">
									<numtext [iscurrency]="false" css="inlinetextbox" [id]="'txtdis'" [tabindex]="11" (keyup.enter)="NewRowAdd()"
										[(ngModel)]="dis" (keyup)="CalculationQty(qty,newrate,dis,this,0)"></numtext>
								</td>
								<td style="width:120px;vertical-align: top;">
								
									<numtext [iscurrency]="true" css="inlinetextbox" [id]="'txtamt'" [islabel]="true" [(ngModel)]="amount"></numtext>
								</td>
								<td style="width:80px;vertical-align: top;"><button type="button" tabindex="12" class="btn btn-theme btn-sm" ng-reflect-title="Add" title="Add" (click)="NewRowAdd()"><i class="fa fa-plus"></i></button></td>
							</tr>
						</tbody>
					</table>
				</footer>
			</p-dataTable>
		</div>
	</div>
</div>