<div class="col-md-12">
    <div class="row">
        <div class="col-md-8">
            <p-schedule [events]="events" [header]="header" defaultDate="{{defaultDate}}" [eventLimit]="4" [editable]="true" (onEventClick)="getPDCByType($event)"></p-schedule>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="row">
                    <table class="table table-striped table-bordered table-hover tblcalendar">
                        <tbody *ngFor="let row of monthwisepdc">
                            <tr class="{{row.pdctype}}">
                                <td>
                                    {{row.pdctype}}
                                </td>
                                <td align="right">
                                    {{row.totamt | currency:loginUser._globsettings.currency:true}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12" *ngIf="viewPDCDT.length">
                <div class="row">
                    <table class="table table-striped table-bordered table-hover tblexcel-grid">
                        <thead>
                            <tr>
                                <th width="150px">Party</th>
                                <th width="200px">Bank</th>
                                <th width="150px">Amount</th>
                                <th *ngIf="pdctype === 'received'"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let row of viewPDCDT">
                            <tr>
                                <td>
                                    {{row.acname}}
                                </td>
                                <td>
                                    {{row.bankname}}
                                </td>
                                <td align="right">
                                    {{row.amount | currency:loginUser._globsettings.currency:true}}
                                </td>
                                <td *ngIf="row.pdctype === 'received'">
                                    <button type="button" class="btn btn-theme btn-sm" (click)="openBankReceipt(row)">Post</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-theme btn-sm btn-grid" (click)="openPDCDetails(row)">
                                        <i class="fa fa-edit"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>