<div class="col-md-4" style="height:150px;">
	<div class="panel panel-theme">
		<div class="panel-heading">
			<h3 class="panel-title">New Address
			</h3>
		</div>
		<div class="panel-body text-center" style="height:100px;overflow:hidden;padding-bottom:5px">
			<button type="button" class="btn btn-theme btn-lg" data-toggle="modal" (click)="AddBook()" data-target="#myModal"><i class="fa fa-plus fa-3x"></i></button>
		</div>
	</div>
</div>

<div class="col-md-4" style="height:150px;" *ngFor="let item of addrbooklist">
	<div class="panel panel-theme">
		<div class="panel-heading">
			<h3 class="panel-title text-right"><i title="Primary Address" class="fa fa-check pull-left" *ngIf="item.isprimary"></i><span class="pull-left">{{item.firstnam}} {{item.middlenam}}</span><button class="btn btn-theme btn-xs"
					type="button" data-toggle="modal" data-target="#myModal" (click)="EditAdr(item)" title="Edit">
                <i class="fa fa-edit"></i></button>
			</h3>
		</div>
		<div class="panel-body" style="height:100px;overflow:hidden;padding-bottom:5px">
			<div>{{item.address1}} {{item.city}} {{item.state}} {{item.pin}} </div>
			<div>Email : {{item.email}}</div>
			<div>Mob : {{item.mob}}</div>
		</div>
	</div>
</div>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Address Book <i title="Primary Address" class="fa fa-check" *ngIf="chkprimary"></i> </h4>
			</div>
			<div class="panel-body">
				<div class='col-md-6'>
					<div class='form-group'>
						<label>First Name</label>
						<input type="text" class="form-control firstnam"  tabindex="50" [(ngModel)]="firstnam">
					</div>
				</div>
				<div class='col-md-6'>
					<div class='form-group'>
						<label>Middel Name</label>
						<input type="text" class="form-control" tabindex="51" [(ngModel)]="middlenam">
					</div>
				</div>
				<div class='col-md-12'>
					<div class='form-group'>
						<label>Last Name</label>
						<input type="text" class="form-control" tabindex="52" [(ngModel)]="lastnam">
					</div>
				</div>
				<div class='col-md-6'>
					<div class='form-group'>
						<label>Address</label>
						<textarea class="form-control medium-text-box addr1"  tabindex="53" [(ngModel)]="adr1"></textarea>
					</div>
				</div>
				<div class='col-md-6'>
					<div class='form-group'>
						<label>Remark</label>
						<textarea class="form-control medium-text-box" tabindex="54" [(ngModel)]="remark"></textarea>
					</div>
				</div>
				<div class='col-md-6'>
					<div class='form-group'>
						<label>Primary Mobile No</label>
						<input type="text" class="form-control prymob"  tabindex="55" [(ngModel)]="mob">
					</div>
				</div>
				<div class='col-md-6'>
					<div class='form-group'>
						<label>Alternate Mobile No</label>
						<input type="text" class="form-control" tabindex="56" [(ngModel)]="altmob">
					</div>
				</div>
				<div class='col-md-6'>
					<div class='form-group'>
						<label>Email</label>
						<input type="text" class="form-control email"  tabindex="57" [(ngModel)]="email">
					</div>
				</div>
				<div class='col-md-6'>
					<div class='form-group'>
						<label>Alternate Email</label>
						<input type="text" class="form-control" tabindex="58" [(ngModel)]="otheremail">
					</div>
				</div>
				<div class='col-md-6'>
					<div class='form-group'>
						<label>Pin Code</label>
						<input type="text" class="form-control" maxlength="10" tabindex="59" [(ngModel)]="pin">
					</div>
				</div>
				<div class='col-md-6'>
					<div class='form-group'>
						<label>City</label>
						<input type="text" class="form-control" tabindex="60" [(ngModel)]="city">
					</div>
				</div>
				<div class='col-md-6'>
					<div class='form-group'>
						<label>State</label>
						<input type="text" class="form-control" tabindex="61" [(ngModel)]="state">
					</div>
				</div>
				<div class='col-md-6'>
					<div class='form-group'>
						<label>Country</label>
						<select [(ngModel)]="country" class="form-control country" tabindex="62">
								<option [value]="'0'">Select Country</option>
								<option *ngFor="let row of countryDT" [value]="row.id">
									{{row.val}}
								</option>
							</select>
					</div>
				</div>
				<div class='col-md-6'>
					<div class='form-group'>
						<label>Address type</label>
						<!--<input type="text" class="form-control" tabindex="14" [(ngModel)]="adrtype">-->
						<select [(ngModel)]="adrtype" class="form-control adrtype" tabindex="63">
								<option [value]="'0'">Select Actype</option>
								<option *ngFor="let row of adrtypelist" [value]="row.id">
									{{row.val}}
								</option>
							</select>
					</div>
				</div>
				<div class='col-md-6'>
					<div class='form-group'>
						<label>Land mark</label>
						<input type="text" class="form-control" tabindex="64" [(ngModel)]="landmark">
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				<label class="pull-left"> Is Primary <input type="checkbox" [(ngModel)]="chkprimary" [disabled]="chkpri" name="chekprimay"/></label>
				<button type="button" class="btn btn-theme btn-sm" (click)="SaveAdr()" tabindex="65">Save</button>
			</div>
		</div>
	</div>
</div>