<div class="middlepan">
	<div class="panel panel-theme" *ngIf="transferdetails.length>0">
		<div class="panel-body">
			<div class="col-md-12">
				<div class="col-md-3">
					<div class="form-group">
						<label>Document No</label>
						<span>{{docno}}</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>Document Date</label>
						<span>{{docdate}}</span>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-5">
					<label>From warehouse</label>
					<div class="panel panel-theme">
						<div class="panel-heading">{{fromwh}}</div>
						<div class="panel-body">
							{{fromwhadr}} {{fromemail}} {{frommob}}
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<label>To warehouse</label>
					<div class="panel panel-theme">
						<div class="panel-heading">{{towh}}</div>
						<div class="panel-body">
							{{towhadr}} {{toemial}} {{tomob}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="table-responsive" style="{{ transferdetails.length>0 ? '':'none;' }}">
			<p-dataTable #dt [value]="transferdetails" [lazy]="true" [paginator]="false" [totalRecords]="totalRecords" (onLazyLoad)="loadRBIGrid($event)"
				[(selection)]="selectedRB1" expandableRows="true">
				<p-column header="#" [style]="{'width':'10px','text-align':'left'}">
					<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
						{{rowIndex+1}}
					</template>
				</p-column>
				<p-column field="itemcode" header="Code" [style]="{'width':'20px','text-align':'left'}"></p-column>
				<p-column field="itemname" header="Item Name" [style]="{'width':'150px','text-align':'left'}"></p-column>
				<p-column field="qty" header="Qty" [style]="{'width':'40px','text-align':'right'}">
					<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
						<numtext [iscurrency]="false" [decimals]="2" id="{{'nmtxt_' + rowIndex + '1'}}" [(ngModel)]="row.qty" (keyup)="CulculateQty(row)"></numtext>
					</template>
				</p-column>
				<p-column field="rate" header="Rate" [style]="{'width':'50px','text-align':'right'}">
					<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
						<numtext [iscurrency]="false" id="{{'nmtxt_' + rowIndex + '2'}}" [islabel]="true" [(ngModel)]="row.rate"></numtext>
					</template>
				</p-column>
				<p-column field="amount" header="Amount" [style]="{'width':'50px','text-align':'right'}">
					<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
						<numtext [iscurrency]="true" id="{{'nmtxt_' + rowIndex + '3'}}" [islabel]="true" [(ngModel)]="row.amount"></numtext>
					</template>
				</p-column>
				<footer>
					<table class="tableNoborder">
						<tbody>
							<tr>
								<td style="width:40px;text-align:left"></td>
								<td style="width:30px;text-align:left"></td>
								<td style="width:30px;text-align:left"></td>
								<td style="width:30px;text-align:right">
									{{TotalQty()| _currency:{'currsym':'','decimals':'2' } }}
								</td>
								<td style="width:30px;text-align:right"></td>
								<td style="width:30px;text-align:right">
									{{TotalAmt() | _currency:loginUser._globsettings[0] }}
								</td>

							</tr>
						</tbody>
					</table>
				</footer>
			</p-dataTable>
		</div>
	</div>
	<div class="panel panel-theme" *ngIf="transferdetails.length > 0">
		<div class="panel-body">
			<ul class="nav nav-tabs" id="headtab">
				<li class="active"><a data-target="#trans" role="button" data-toggle="tab"><i class="fa fa-truck" aria-hidden="true"></i> Transpoter</a></li>
			</ul>
			<div class="tab-content" style="min-height:240px;">
				<div class="tab-pane active" id="trans">
					<div class="row">
						<div class="col-md-4">
							<div class='form-group'>
								<label>Transpotr</label>
								<p-autoComplete [(ngModel)]="transname" class="form-controlAutoComplete trans" (onSelect)="TranspoterSelect($event)" [suggestions]="TranspoterAutodata"
									(completeMethod)="TranspoterAuto($event)" [tabindex]="1" field="label" [size]="30" placeholder="Transpoter" [minLength]="1"></p-autoComplete>
							</div>
						</div>
						<div class="col-md-2">
							<div class='form-group'>
								<label>LR No</label>
								<input type="text" id="lrno" class="form-control" [(ngModel)]="lrno">
							</div>
						</div>
						<div class="col-md-2">
							<div class='form-group'>
								<label>LR Date</label>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class='form-group'>
								<div class="ui-g-12">
									<p-radioButton name="group1" value="paid" id="paid" label="Paid" [(ngModel)]="paid"></p-radioButton>
									<p-radioButton name="group1" value="tobepaid" id="tobepaid" label="To be paid" [(ngModel)]="paid"></p-radioButton>
								</div>
							</div>
						</div>
						<div class="col-md-2" *ngIf="paid=='tobepaid'">
							<div class="form-group">
								<label>Amount</label>
								<input type="text" class="form-control amount" [(ngModel)]="amount">
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class='form-group'>
							<label>Remark</label>
							<textarea [(ngModel)]="remark" class="form-control medium-text-box" cols="75" tabindex="8" autocomplete='off' rows="3"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sidepan">
	<!--widgit-->
	<div class="panel panel-theme">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
				<h3 class="panel-title">Doc No</h3>
			</a>
		</div>
		<div id="Personal" class="panel-collapse collapse in">
			<div class="panel-body">
				<table class='table table-bordered table-condensed table-striped table-hover'>
					<tbody>
						<tr>
							<input type="text" [(ngModel)]="DcNo" class="form-control" placeholder="Search Doc No">
						</tr>
						<tr class="table-row" *ngFor="let item of doclist" (click)="GetDetails(item)">
							<td><a role="button" (click)="GetDetails(item)">{{item.docno}}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>