<p-growl [value]="msgs"></p-growl>

<p-fileUpload #fuimg name="fileUploaded" url="http://localhost:3002/upload" (onUpload)="onUpload($event)" accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx"
    maxFileSize="1000000" auto="auto">
    <template pTemplate type="content">
        <div *ngIf="uploadedFiles.length">
            <div *ngFor="let file of uploadedFiles">
                <div class="row">
                    <div class="col-md-4">
                        {{file.name}}
                    </div>
                    <div class="col-md-4">
                        <b>Size : </b> {{formatSizeUnits(file.size)}}
                    </div>
                    <div class="col-md-4">
                        <i class="{{file.type}}"></i>
                    </div>
                </div>
            </div>
        </div>
    </template>
</p-fileUpload>

<!--<ul *ngIf="uploadedFiles.length">
    <li *ngFor="let file of uploadedFiles">
        {{file.name}} - {{file.size}} bytes
    </li>
</ul>-->