<div class="panel panel-theme">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-9">
                <a data-toggle="collapse" data-parent="#accordion" href="#Docs">
                    <h3 class="panel-title">{{headertitle}}</h3>
                </a>
            </div>
            <div class="col-md-3">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" (click)="getFileType()"><i class="fa fa-info"></i></a>
                        <ul class="dropdown-menu">
                            <li class="lispan">Allowed Files</li>
                            <li class="lispan" *ngFor="let file of fileTypeDT">
                                <i class="{{file.fileicon}}"></i> {{file.filetype}}
                            </li>
                            <li class="divider"></li>
                            <li class="lispan">Max File Size : {{maxfilesize}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="Docs" class="panel-collapse collapse in">
        <div class="panel-body">
            <p-growl [value]="msgs"></p-growl>
            <p-fileUpload #fuimg name="fileUploaded" url="http://localhost:3002/upload" (onUpload)="onUpload($event)"
                accept="{{filetype}}" maxFileSize="{{filesize}}" auto="auto">
                <template pTemplate type="content">
                    <div *ngIf="uploadedFiles.length">
                        <div *ngFor="let file of uploadedFiles" class="box">
                            <div class="row">
                                <div class="col-md-2">
                                    <a role="button" (click)="removeFileUpload()"><i class="fa fa-remove"></i></a>
                                </div>
                                <div class="col-md-5">
                                    <i class="{{file.type}}"></i> {{file.name.substring(0, file.name.lastIndexOf('.'))}}
                                </div>
                                <div class="col-md-5">
                                    <b>Size : </b> {{formatSizeUnits(file.size)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <span>Drag File Here....</span>
                </template>
            </p-fileUpload>
        </div>
    </div>
</div>

<!--<ul *ngIf="uploadedFiles.length">
    <li *ngFor="let file of uploadedFiles">
        {{file.name}} - {{file.size}} bytes
    </li>
</ul>-->