<div class="panel panel-theme">
	<div class="panel-body">
		<div class="col-md-10">
			<div class="col-md-4">
				<div class='form-group'>
					<label>Customer</label>
					<input type="text" class="form-control cust" tabindex="1" [(ngModel)]="custname" (keyup)="getAutoCompleteCust(this)" />
				</div>
			</div>
			<div class="col-md-3">
				<div class='form-group'>
					<label>Del Date</label>
					<div class="controls">
						<div class="input-group">
							<input type="text" name="date" id="gooddate" tabindex="2" class="date-picker form-control" [(ngModel)]="gooddate" />
							<label for="date" class="input-group-addon btn">
							<span class="glyphicon glyphicon-calendar"></span>
						</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class='form-group'>
					<label>Bill</label>
					<input type="text" class="form-control bill" tabindex="3" [(ngModel)]="bill" />
				</div>
			</div>
			<div class="col-md-4">
				<div class='form-group'>
					<label>Supplier</label>
					<input type="text" class="form-control salesman" tabindex="4" [(ngModel)]="suppname" (keyup)="getAutoCompleteSalesman(this)"
					/>
				</div>
			</div>
			<div class="col-md-3">
				<div class='form-group'>
					<label>Transpoter</label>
					<input type="text" class="form-control trans" tabindex="5" [(ngModel)]="tranname" (keyup)="getAutoCompleteTrans(this)" />
				</div>
			</div>
			<div class="col-md-2">
				<div class='form-group'>
					<label>Type</label>
					<select [(ngModel)]="days" class="form-control" tabindex="6">
						<option *ngFor="let row of typlist" [value]="row.value">
							{{row.label}}
					    </option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="table-responsive">
				<p-dataTable #dt [value]="itemslist" [editable]="true" [lazy]="true" (onLazyLoad)="loadRBIGrid($event)" [(selection)]="selectedRB1"
					expandableRows="true" [responsive]="true">
					<p-column header="#" [style]="{'width':'30px'}">
						<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
							{{rowIndex+1}}
						</template>
					</p-column>
					<p-column header="Items Name" [style]="{'text-align':'left'}">
						<template let-col let-row="rowData" pTemplate="editor">
							<input type="text" class="form-control ProdName inlinetextbox" tabindex="6" [(ngModel)]="row.itemsname" (keyup)="getAutoCompleteProd(row,1)"
								autocomplete='off' value="" />
						</template>
					</p-column>
					<p-column header="Qty" [style]="{'width':'120px','text-align':'left'}">
						<template let-col let-row="rowData" pTemplate="editor">
							<numtext [iscurrency]="false" [css]="inlinetextbox" [tabindex]="7" [(ngModel)]="row.qty"></numtext>
						</template>
					</p-column>
					<p-column header="Rate" [style]="{'width':'120px','text-align':'left'}">
						<template let-col let-row="rowData" pTemplate="editor">
							<numtext [iscurrency]="false" [css]="inlinetextbox" [tabindex]="8" [(ngModel)]="row.rate"></numtext>
						</template>
					</p-column>
					<p-column header="Dis %" [style]="{'width':'120px','text-align':'left'}">
						<template let-col let-row="rowData" pTemplate="editor">
							<numtext [iscurrency]="false" css="inlinetextbox" [tabindex]="9" (keyup)="ratechange(qty,newrate,dis,row,1)" [(ngModel)]="row.dis"></numtext>
						</template>
					</p-column>
					<!--<p-column header="Rate" [style]="{'width':'120px','text-align':'left'}">
							<template let-col let-row="rowData" pTemplate="editor">
								<select [(ngModel)]="row.id" class="form-control inlinetextbox" tabindex="8" (ngModelChange)="ratechange(qty,newrate,dis,row,1)">
						<option *ngFor="let row of row.rateslist" [value]="row.id">
							{{row.val}}
					    </option>
							</select>
							</template>
						</p-column>-->
					<p-column header="Amount" [style]="{'width':'120px','text-align':'left'}">
						<template let-col let-row="rowData" pTemplate="editor">
							<numtext [iscurrency]="true" [islabel]="true" css="inlinetextbox" [(ngModel)]="row.amount"></numtext>
						</template>
					</p-column>
					<p-column header="Action" [style]="{'width':'80px','text-align':'center'}">
						<template let-col let-row="rowData" pTemplate="editor">
							<button class="btn btn-danger btn-sm" (click)="DeleteRow(row.counter)"><i class="fa fa-trash"></i></button>
						</template>
					</p-column>
					<footer>
						<table class="tableNoborder" style="height: 60px;">
							<tbody>
								<tr>
									<td style="width:30px;vertical-align: top;">
										<label>#</label>
									</td>
									<td style="vertical-align: top;"><input type="text" tabindex="10" class="form-control ProdName" [(ngModel)]="NewItemsName" (keyup)="getAutoCompleteProd(this,0)"
											autocomplete='off' value="" /></td>
									<td style="width:120px;vertical-align: top;">
										<numtext [iscurrency]="false" css="inlinetextbox" [tabindex]="11" (keyup.enter)="AddNewRow()" [(ngModel)]="qty"></numtext>
									</td>
									<td style="width:120px;vertical-align: top;">
										<!--<select [(ngModel)]="newrate" class="form-control" tabindex="12" (keyup.enter)="NewRowAdd()" (ngModelChange)="ratechange(qty,newrate,dis,this,0)"
												class="form-control">
												<option *ngFor="let row of rateslist" [value]="row.id">
														{{row.val}}
					    						</option>
											</select>-->
										<numtext [iscurrency]="false" css="inlinetextbox" [tabindex]="11" (keyup.enter)="AddNewRow()" [(ngModel)]="rate"></numtext>
									</td>
									<td style="width:120px;vertical-align: top;">
										<numtext [iscurrency]="false" css="inlinetextbox" [tabindex]="13" (keyup.enter)="AddNewRow()" [(ngModel)]="dis"></numtext>
									</td>
									<td style="width:120px;vertical-align: top;">
										<numtext [iscurrency]="true" css="inlinetextbox" [islabel]="true" [(ngModel)]="amount"></numtext>
									</td>
									<td style="width:80px;vertical-align: top;"><button type="button" tabindex="14" class="btn btn-theme btn-sm" ng-reflect-title="Add" title="Add" (click)="AddNewRow()"><i class="fa fa-plus"></i></button></td>
								</tr>
							</tbody>
						</table>
					</footer>
				</p-dataTable>
			</div>
		</div>
	</div>
</div>