<form id="frmbudget">
    <div class="panel panel-theme">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Budget</label>
                        <select validate="0" name="bid" [(ngModel)]="bid" class="form-control" (ngModelChange)="getEnvelopeData()">
                            <option value="0">-- Select Budget --</option>
                            <option *ngFor="let row of BudgetDT" [value]="row.bid">
                                {{row.btitle}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="bid !== 0">
                <div class="col-md-9">
                    <div class="table-responsive">
                        <p-dataTable #dt [value]="envRowData | filterBy: {isactive: true}" [lazy]="true">
                            <p-column header="#" [style]="{'width':'40px','text-align':'left'}">
                                <template let-i="rowIndex" pTemplate="editor">
                                    {{i + 1}}
                                </template>
                            </p-column>
                            <p-column header="Chart of Accounts" [style]="{'width':'360px','text-align':'left'}">
                                <template let-row="rowData" let-i="rowIndex" pTemplate="body">
                                    <input type="text" name="coaname{{i+1}}" [(ngModel)]="row.coaname" class="coaname form-control inlinetextbox" (keyup)="getAutoCOA(row, 1)"
                                    />
                                </template>
                            </p-column>
                            <p-column header="Envelope" [style]="{'width':'360px','text-align':'left'}">
                                <template let-row="rowData" let-i="rowIndex" pTemplate="editor">
                                    <input type="text" name="envtitle{{i+1}}" [(ngModel)]="row.envtitle" class="form-control inlinetextbox" />
                                </template>
                            </p-column>
                            <p-column [style]="{'text-align':'center'}" *ngIf="!isdetails">
                                <template let-col let-row="rowData" pTemplate="editor">
                                    <button class="btn btn-danger btn-sm" (click)="deleteBudgetEnvelope(row)" tabindex="-1"><i class="fa fa-trash"></i></button>
                                </template>
                            </p-column>
                            <footer *ngIf="!isdetails">
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        <tr>
                                            <td width="40px">#</td>
                                            <td width="360px">
                                                <input type="text" name="newcoaname" [(ngModel)]="newcoaname" (keyup)="getAutoCOA(this, 0)" (keyup.enter)="addBudgetEnvelope()"
                                                    class="coaname form-control" />
                                            </td>
                                            <td width="360px">
                                                <input type="text" name="newenvtitle" [(ngModel)]="newenvtitle" (keyup.enter)="addBudgetEnvelope()" (keydown.tab)="addBudgetEnvelope()"
                                                    class="form-control" />
                                            </td>
                                            <td>
                                                <input type="submit" name="btnadd" class="btn btn-theme btn-sm fa fa-plus" (click)="addBudgetEnvelope()" />
                                                    <!--<i class=""></i></button>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </footer>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>