<form id="frmbudget">
    <div class="panel panel-theme">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Budget</label>
                        <select id="bid" validate="0" name="bid" [(ngModel)]="bid" class="form-control">
                            <option value="0">-- Select Budget --</option>
                            <option *ngFor="let row of BudgetDT" [value]="row.bid">
                                {{row.btitle}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Envelope Type</label>
                        <input validate="" type="text" name="envtype" [(ngModel)]="envtype" class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Chart Of Accounts</label>
                        <input validate="" type="text" name="coaname" [(ngModel)]="coaname" class="coaname form-control" (keyup)="getAutoCOA(this)"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="table-responsive">
                        <p-dataTable #dt [value]="envRowData | filterBy: {isactive: true}" [lazy]="true">
                            <p-column header="#" [style]="{'width':'40px'}">
                                <template let-i="rowIndex" pTemplate="editor">
                                    {{i + 1}}
                                </template>
                            </p-column>
                            <p-column header="Envelope" [style]="{'text-align':'left'}">
                                <template let-row="rowData" let-i="rowIndex" pTemplate="body" *ngIf="isdetails">
                                    {{row.envtitle}}
                                </template>
                                <template let-row="rowData" let-i="rowIndex" pTemplate="editor" *ngIf="!isdetails">
                                    <input type="text" name="envtitle{{i+1}}" [(ngModel)]="row.envtitle" class="form-control inlinetextbox" />
                                </template>
                            </p-column>
                            <p-column [style]="{'width':'60px','text-align':'center'}" *ngIf="!isdetails">
                                <template let-col let-row="rowData" pTemplate="editor">
                                    <button class="btn btn-danger btn-sm" (click)="deleteBudgetEnvelope(row)" tabindex="-1"><i class="fa fa-trash"></i></button>
                                </template>
                            </p-column>
                            <footer *ngIf="!isdetails">
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        <tr>
                                            <td width="40px">#</td>
                                            <td>
                                                <input type="text" name="newenvtitle" [(ngModel)]="newenvtitle" (keydown.tab)="addBudgetEnvelope()" class="form-control envtitle"
                                                />
                                            </td>
                                            <td width="60px">
                                                <button type="button" name="btnadd" class="btn btn-theme btn-sm" (click)="addBudgetEnvelope()">
                                                    <i class="fa fa-plus"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </footer>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>