<div class="middlepan">
	<div class="panel panel-theme">
		<div class="panel-body">
			<div class="col-md-12">
				<div class="col-md-6">
					<div class="form-group">
						<label>Account Code</label>
						<p-autoComplete validate="" id="custname" name="custname" [(ngModel)]="custname" placeholder="Accounts" [tabindex]="1" (onSelect)="selectAutoAccounts($event)"
							[suggestions]="accountsDT" (completeMethod)="getAutoAccounts($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete custname"></p-autoComplete>
						<!--<input type="text" class="form-control custcode" tabindex="1" [(ngModel)]="custname" (keyup)="getAutoComplete(this)" />-->
					</div>
					<div class="form-group">
						<label>Issue Date</label>
						<calendar #issuedate [name]="'issuedate'" [islabel]="isdetails" tabindex="3"></calendar>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Type</label>
								<select validate="0" class="form-control" [(ngModel)]="typ" tabindex="5">
									<option [value]="0">Select Type</option>
									<option *ngFor="let items of banktypeDT" [value]="items.key">
										{{items.val}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class='form-group card required'>
								<label>Amount</label>
								<numtext validate="" name="dramt" [(ngModel)]="amount" tabindex="6"></numtext>
							</div>
						</div>
					</div>
					<div class="row" *ngIf="typ==='Cheque'">
						<div class="col-md-6">
							<div class="form-group">
								<label>Cheque No</label>
								<numtext validate="" name="chequeno" [(ngModel)]="chequeno" [islabel]="ischequelabel" [iscurrency]="false" [decimals]="0"
									[grpseperator]="" css="chequeno" tabindex="7"></numtext>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group" disabled="typ===Cheque">
								<label>Is Cheque Bounce</label>
								<p-checkbox [(ngModel)]="ischeqbounce" binary="true"></p-checkbox>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Bank</label>
						<select validate="0" class="form-control" [(ngModel)]="bankid" tabindex="2">
							<option [value]="0">Select Bank</option>
							<option *ngFor="let items of bankDT" [value]="items.key">
								{{items.val}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>Reference No</label>
						<input validate="" type="text" class="form-control" tabindex="4" [(ngModel)]="refno" />
					</div>
					<div class="form-group">
						<label>Narration</label>
						<textarea validate="" [(ngModel)]="narration" class="form-control medium-text-box" tabindex="8" autocomplete='off' rows="3"
							cols="75"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sidepan">
	<!--widgit-->
	<div class="panel panel-theme">
		<div class="panel-heading">
			<h3 class="panel-title">Any Other Details</h3>
		</div>
		<div class="panel-body"></div>
	</div>

	<fileupload [module]="module" [multi]="true" [isRaw]="false" [uploadedFiles]="uploadedFiles" (onStart)="onUploadStart($event)"
		(onComplete)="onUploadComplete($event)"></fileupload>

	<div class="panel panel-theme">
		<div class="panel-heading">
			<h3 class="panel-title">Any Other Details</h3>
		</div>
		<div class="panel-body"></div>
	</div>
	<div class="panel panel-theme">
		<div class="panel-heading">
			<h3 class="panel-title">Any Other Details</h3>
		</div>
		<div class="panel-body"></div>
	</div>
</div>