<div class="panel panel-theme">
    <div class="panel-body">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Budget</label>
                <select validate="0" name="bid" [(ngModel)]="bid" class="form-control" (ngModelChange)="fillCtrlCenterDDL();">
                    <option value="0">-- Select Budget --</option>
                    <option *ngFor="let row of budgetDT" [value]="row.bid">
                        {{row.btitle}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Control Center</label>
                <select id="ccid" name="ccid" [(ngModel)]="ccid" class="form-control" (ngModelChange)="BindExpenseBudgetDT();">
                    <option [value]="0">Select Control Center</option>
                    <option *ngFor="let row of ctrlcenterDT" [value]="row.ccid">
                        {{row.ccname}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="table-responsive" *ngIf="expbudgetDT.length">
        <div class="panel-body">
            <button type="button" class="btn btn-theme btn-sm" (click)="copyAcrossRow()">Copy Across Row</button>
            <button type="button" class="btn btn-theme btn-sm" (click)="copyAcrossGrid()">Copy Across Grid</button>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th width="150px">Envelope</th>
                        <th width="150px" *ngFor="let mrow of financialmonthDT">{{mrow.monthhead}}</th>
                        <th width="150px">Total</th>
                    </tr>
                </thead>
                <tbody *ngFor="let row of expbudgetDT">
                    <tr>
                        <td width="150px">
                            {{row.envtitle}}
                        </td>
                        <td width="150px" *ngFor="let mrow of row.monthdetails">
                            <input type="text" class="form-control" [(ngModel)]="mrow.monthvalue" (keydown)="totalAmtYearWise(row)" />
                        </td>
                        <td width="150px">
                            {{totalAmtYearWise(row)}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th width="150px">Total Amount</th>
                        <th width="150px" *ngFor="let mrow of financialmonthDT"></th>
                        <th width="150px">{{totalAllAmount()}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<!--<div class="panel-body">
    <p-dataTable #dt [value]="expbudgetDT | filterBy: {isactive: true}" [lazy]="true">
        <p-column header="#" [style]="{'width':'50px','text-align':'left'}">
            <template let-i="rowIndex" pTemplate="editor">
                {{i + 1}}
            </template>
        </p-column>
        <p-column header="Envelope" [style]="{'width':'150px'}">
            <template let-row="rowData" let-i="rowIndex" pTemplate="body">
                {{row.envtitle}}
            </template>
        </p-column>
        <p-column [value]="expbudgetDT" header="Employee" [style]="{'width':'150px','text-align':'left'}">
            <template let-row="row.monthdetails" let-i="rowIndex" pTemplate="body">
                <input type="text" class="form-control" [(ngModel)]="row.monthvalue" (keydown)="totalAmtYearWise(row)" />
            </template>
        </p-column>
        <p-column [style]="{'text-align':'center'}" *ngIf="!isdetails">
            <template let-col let-row="rowData" pTemplate="editor">
                {{totalAmtYearWise(row)}}
            </template>
        </p-column>
        <footer>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th width="150px">Total Amount</th>
                        <th width="150px" *ngFor="let mrow of financialmonthDT"></th>
                        <th width="150px">{{totalAllAmount()}}</th>
                    </tr>
                </tbody>
            </table>
        </footer>
    </p-dataTable>
</div>-->