<div class="input-group stylish-input-group">
	<input type="text" class="form-control" placeholder="Search" [(ngModel)]="EmpName" (keyup)="filterEmployeeData()" />
	<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
</div>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th></th>
				<th width="100px">Emp Code</th>
				<th>Full Name</th>
				<th width="150px">Company Email</th>
				<th width="100px">Department</th>
				<th width="100px">Designation</th>
				<th width="100px">Salary</th>
				<th width="150px">Joining Date</th>
			</tr>
		</thead>
		<tbody *ngFor="let row of viewEmployeeDT">
			<tr>
				<td>
					<button (click)="expandDetails(row)">{{row.issh == 1 ? "-" : "+"}}</button>
				</td>
				<td>
					{{row.ucode}}
				</td>
				<td>
					{{row.fullname}}
				</td>
				<td>
					{{row.companyemail}}
				</td>
				<td>
					{{row.deptname}}
				</td>
				<td>
					{{row.designame}}
				</td>
				<td>
					{{row.salary}}
				</td>
				<td>
					{{row.doj}}
				</td>
			</tr>
			<tr [style.display]="row.issh == 0?'none':''">
				<td></td>
				<td></td>
				<td colspan="4">
					<table class="table table-striped table-bordered table-hover">
						<tbody *ngFor="let drow of row.details">
							<tr>
								<td width="30px" rowspan="3">
									<img src="http://localhost:3000/images/photopath/{{drow.PhotoPath}}" width="60" height="60" />
								</td>
								<td>
									<b>Email : </b>
								</td>
								<td colspan="3">
									{{drow.emailid}}
								</td>
							</tr>
							<tr>
								<td>
									<b>Mobile : </b>
								</td>
								<td>
									{{drow.mobileno}}
								</td>
								<td>
									<b>Birth Date : </b>
								</td>
								<td>
									{{drow.dob}}
								</td>
							</tr>
							<tr>
								<td>
									<b>Gender : </b>
								</td>
								<td>
									{{drow.gender}}
								</td>
								<td>
									<b>Marital Status : </b>
								</td>
								<td>
									{{drow.maritalstatus}}
								</td>
							</tr>
							<tr>
								<td colspan="5">
									<button class="btn btn-primary" (click)="openEmployeeDetails(row)">More</button>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>