<div class="table-responsive">
	<p-dataTable #dt [value]="viewEmployeeDT" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadEmpGrid($event)"
		expandableRows="true">
		<p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
		<p-column field="ucode" header="Emp Code" [style]="{'width':'100px','text-align':'left'}"></p-column>
		<p-column field="fullname" header="Full Name" [style]="{'text-align':'left'}"></p-column>
		<p-column field="cmpemail" header="Company Email" [style]="{'width':'150px','text-align':'left'}"></p-column>
		<p-column field="deptname" header="Department" [style]="{'width':'150px','text-align':'left'}"></p-column>
		<p-column field="designame" header="Designation" [style]="{'width':'150px','text-align':'left'}"></p-column>
		<p-column header="Salary" [style]="{'width':'150px','text-align':'left'}">
			<template let-row="rowData" pTemplate type="body">
				{{row.salary | currency:loginUser._globsettings.numberformat:true}}
			</template>
		</p-column>
		<p-column field="doj" header="Joining Date" [style]="{'width':'150px','text-align':'left'}"></p-column>
		<template let-row>
			<table class="table table-striped table-bordered table-hover">
				<tbody>
					<tr>
						<td width="100px" rowspan="3">
							<img src="assets/img/photopath/{{row.attachfile}}" onerror="this.src='assets/img/photopath/default.jpg';" width="60" height="60"
							/>
						</td>
						<td width="150px">
							<b>Email : </b>
						</td>
						<td>
							{{row.emailid}}
						</td>
						<td width="150px">
						</td>
						<td>
						</td>
					</tr>
					<tr>
						<td width="150px">
							<b>Mobile : </b>
						</td>
						<td>
							{{row.mobileno}}
						</td>
						<td width="150px">
							<b>Birth Date : </b>
						</td>
						<td>
							{{row.dob}}
						</td>
					</tr>
					<tr>
						<td width="150px">
							<b>Gender : </b>
						</td>
						<td>
							{{row.gender}}
						</td>
						<td width="150px">
							<b>Marital Status : </b>
						</td>
						<td>
							{{row.maritalstatus}}
						</td>
					</tr>
					<tr>
						<td colspan="5" align="right">
							<button class="btn btn-theme btn-sm" (click)="openEmployeeDetails(row)">More</button>
						</td>
					</tr>
				</tbody>
			</table>
		</template>
	</p-dataTable>
</div>