<div class="panel panel-theme">
	<div class="panel-body">
		<div class="col-md-5">
			<div class='form-group'>
				<label>Customer</label>
				<p-autoComplete [(ngModel)]="CustName" id="CustName" class="form-controlAutoComplete" (onSelect)="CustomerSelect($event)"
					(keyup.enter)="getcustomer()" [suggestions]="CustomerAutodata" (completeMethod)="CustomerAuto($event)" [tabindex]="1" field="label" [size]="30" placeholder="Customer"
					[minLength]="1"></p-autoComplete>
			</div>
		</div>
		<div class="col-md-1">
			<div class='form-group'>
				<div class="setfltrbtn">
					<button type="button" class="btn btn-theme btn-sm get" tabindex="2" (click)="getcustomer()"><i class="fa fa-arrow-right"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="table-responsive">
	<p-dataTable #dt [value]="customerlist" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadRBIGrid($event)"
		(onRowClick)="EditItem($event)" [(selection)]="selectedRB1" expandableRows="true">
		<p-column header="#" [style]="{'width':'30px','text-align':'left'}">
			<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
				{{rowIndex+1}}
			</template>
		</p-column>
		<p-column field="custcode" header="Code" [style]="{'width':'50px','text-align':'left'}"></p-column>
		<p-column field="custname" header="Customer Name" [style]="{'width':'150px','text-align':'left'}"></p-column>
		<p-column field="crday" header="C Days" [style]="{'width':'30px','text-align':'left'}"></p-column>
		<!--<p-column field="address1" header="Address" [style]="{'width':'150px','text-align':'left'}"></p-column>
		<p-column field="mob" header="Mobile" [style]="{'width':'80px','text-align':'left'}"></p-column>
		<p-column field="email" header="Email" [style]="{'width':'120px','text-align':'left'}"></p-column>-->
		<!--<p-column field="remark" header="Remark" [style]="{'width':'130px','text-align':'left'}"></p-column>-->
		<p-column header="Action" [style]="{'width':'50px','text-align':'center'}">
			<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
				<button type="button" (click)="EditItem(row)" class="btn btn-theme btn-sm btn-grid"><i class="fa fa-pencil-square-o"></i></button>
			</template>
		</p-column>
	</p-dataTable>
</div>