<form id="frmcompany">
	<div class="col-md-9">
		<div class="panel panel-theme">
			<div class="panel-body">
				<div class="col-md-12">
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4">
							<div class="form-group">
								<label class="control-label">Code</label>
								<input id="cmpcode" name="cmpcode" type="text" [(ngModel)]="cmpcode" class="form-control input-sm" size="20">
							</div>
						</div>
						<div class="col-xs-8 col-sm-8 col-md-8">
							<div class="form-group">
								<label class="control-label">Name</label>
								<input name="cmpname" type="text" [(ngModel)]="cmpname" class="form-control input-sm" size="20">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label">Industries</label>
								<select name="industries" [(ngModel)]="industries" class="form-control">
									<option [value]="0">-- Select Industries --</option>
									<option *ngFor="let row of industriesDT" [value]="row.key">
										{{row.val}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label">Type Of Organisation</label>
								<select name="cmptype" [(ngModel)]="cmptype" class="form-control">
									<option [value]="0">-- Select Organisation Type --</option>
									<option *ngFor="let row of cmptypeDT" [value]="row.key">
										{{row.val}}
									</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label">Description</label>
						<textarea name="cmpdesc" [(ngModel)]="cmpdesc" class="form-control small-text-box" cols="150" rows="5"></textarea>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-theme">
			<div class="panel-body" style="width:800px; overflow:auto;">
				<ul class="nav nav-tabs" id="tabs">
					<li class="active"><a data-target="#contact" role="button" data-toggle="tab">Contact Details</a></li>
					<!--<li><a data-target="#remarks" role="button" data-toggle="tab">Remarks</a></li>-->
					<li *ngFor="let tab of tabListDT">
						<a href="#{{tab.fldcode}}" role="button" data-toggle="tab">
							<button data-target="#dynTabModel" data-toggle="modal" class="btn btn-simple btn-sm fa fa-edit" type="button" (click)="editTabPopup(tab);"
								*ngIf="!isdetails"></button> &nbsp;{{tab.fldname}}&nbsp;
							<button class="btn btn-simple btn-sm fa fa-remove" type="button" (click)="DeleteTabs(tab)" *ngIf="!isdetails"></button>
						</a>
					</li>
					<li *ngIf="!isdetails">
						<a data-target="#dynTabModel" role="button" data-toggle="modal" (click)="openTabPopup()"><i class="fa fa-plus"></i></a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="contact">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<label class="control-label">Contact Person</label>
											<input name="contactperson" type="text" [(ngModel)]="contactperson" class="form-control input-sm" size="20">
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<label class="control-label">Designation</label>
											<select name="desigid" [(ngModel)]="desigid" class="form-control">
												<option [value]="0">-- Select Designation --</option>
												<option *ngFor="let row of desigDT" [value]="row.key">
													{{row.val}}
												</option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<label class="control-label">Mobile No</label>
											<input name="mobileno" type="number" [(ngModel)]="mobileno" class="form-control input-sm" size="20" />
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<label class="control-label">Alt Mobile No</label>
											<input name="altmobileno" type="number" [(ngModel)]="altmobileno" class="form-control input-sm" size="20">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<label class="control-label">Email ID</label>
											<input name="emailid" type="email" [(ngModel)]="emailid" class="form-control input-sm" size="20">
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<label class="control-label">Alt Email ID</label>
											<input name="altemailid" type="email" [(ngModel)]="altemailid" class="form-control input-sm" size="20">
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label">Address</label>
									<textarea name="address" [(ngModel)]="address" class="form-control small-text-box" cols="150" rows="5"></textarea>
								</div>

								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<label class="control-label">Country</label>
											<select name="country" [(ngModel)]="country" class="form-control">
												<option [value]="">-- Select Country --</option>
												<option *ngFor="let row of countryDT" [value]="row.key">
													{{row.val}}
												</option>
											</select>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<label class="control-label">State</label>
											<input name="state" type="text" [(ngModel)]="state" class="form-control input-sm" size="20">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<label class="control-label">City</label>
											<input name="city" type="text" [(ngModel)]="city" class="form-control input-sm" size="20">
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<label class="control-label">Pin Code</label>
											<input name="pincode" type="text" [(ngModel)]="pincode" class="form-control input-sm" size="20">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="remarks">
						<div class="form-group">
							<textarea name="remarks" [(ngModel)]="remarks" class="form-control small-text-box" cols="150" rows="5"></textarea>
						</div>
					</div>

					<div *ngFor="let tab of tabListDT" class="tab-pane" id="{{tab.fldcode}}">
						<dynamictab [tab]="tab" [atttype]="atttype" [cmpid]="loginUser.cmpid" [isdetails]="isdetails"></dynamictab>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="col-md-12">
					<p-checkbox [(ngModel)]="isactive" name="chkIsActive" value="Is Active" label="Is Active" binary="true"></p-checkbox>
				</div>
			</div>
		</div>
	</div>

	<adddynamictab #tabpanel [tabListDT]="tabListDT" [cmpid]="loginUser.cmpid" [fy]="loginUser.fy" [selectedtab]="selectedtab"
		[isedittab]="isedittab"></adddynamictab>
</form>