<h3>
	{{title}}
</h3>

<div class="col-md-8">
	<div class="panel panel-theme">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
				<h3 class="panel-title">General Details</h3>
			</a>
		</div>
		<div id="Personal" class="panel-collapse collapse in">
			<div class="panel-body">
				<div class="col-md-12">
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4">
							<div class="form-group">
								<label class="control-label">Code</label>
								<input type="text" [(ngModel)]="cmpcode" class="form-control input-sm" size="20">
							</div>
						</div>
						<div class="col-xs-8 col-sm-8 col-md-8">
							<div class="form-group">
								<label class="control-label">Name</label>
								<input type="text" [(ngModel)]="cmpname" class="form-control input-sm" size="20">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label">Industries</label>
								<select [(ngModel)]="industries" class="form-control">
									<option *ngFor="let row of industriesDT" [value]="row.key">
										{{row.val}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label">Type Of Organisation</label>
								<select [(ngModel)]="cmptype" class="form-control">
									<option *ngFor="let row of cmptypeDT" [value]="row.key">
										{{row.val}}
									</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label">Description</label>
						<textarea [(ngModel)]="cmpdesc" class="form-control small-text-box" cols="150" rows="5"></textarea>
					</div>

					<div class="form-group">
						<label class="control-label">Logo</label>

						<p-fileUpload name="cmplogo[]" url="http://localhost:3002/upload" (onUpload)="onUpload($event)" accept="image/*"
							maxFileSize="1000000">
							<template pTemplate type="content">
								<ul *ngIf="uploadedFiles.length">
									<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
								</ul>
							</template>
						</p-fileUpload>
					</div>

					<!--<div class="row">
						<div class="col-xs-8 col-sm-8 col-md-8">
							<div class="form-group">
								<label class="control-label">Logo</label>
								<input type="file" class="form-control input-sm" (change)="fileChangeEvent($event)" />
							</div>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<img class="imgFilePath" src="" width="100" height="100" />
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-theme">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#Contact">
				<h3 class="panel-title">Contact Details</h3>
			</a>
		</div>
		<div id="Contact" class="panel-collapse collapse in">
			<div class="panel-body">
				<div class="col-md-12">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label">Contact Person</label>
								<input type="text" [(ngModel)]="contactperson" class="form-control input-sm" size="20">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label">Designation</label>
								<select [(ngModel)]="desigid" class="form-control">
									<option *ngFor="let row of desigDT" [value]="row.key">
										{{row.val}}
									</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label">Mobile No</label>
								<input type="number" [(ngModel)]="mobileno" class="form-control input-sm" size="20" />
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label">Alt Mobile No</label>
								<input type="number" [(ngModel)]="altmobileno" class="form-control input-sm" size="20">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label">Email ID</label>
								<input type="email" [(ngModel)]="emailid" class="form-control input-sm" size="20">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label">Alt Email ID</label>
								<input type="email" [(ngModel)]="altemailid" class="form-control input-sm" size="20">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label">Address</label>
						<textarea [(ngModel)]="addressline1" class="form-control small-text-box" cols="150" rows="5"></textarea>
					</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label">Country</label>
								<select [(ngModel)]="country" class="form-control">
									<option *ngFor="let row of countryDT" [value]="row.key">
										{{row.val}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label">State</label>
								<input type="text" [(ngModel)]="state" class="form-control input-sm" size="20">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label">City</label>
								<input type="text" [(ngModel)]="city" class="form-control input-sm" size="20">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label">Pin Code</label>
								<input type="text" [(ngModel)]="pincode" class="form-control input-sm" size="20">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-theme">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#Remarks">
				<h3 class="panel-title">Remarks</h3>
			</a>
		</div>
		<div id="Remarks" class="panel-collapse collapse in">
			<div class="form-group">
				<textarea [(ngModel)]="remarks" class="form-control small-text-box" cols="150" rows="5"></textarea>
			</div>
		</div>
	</div>
</div>