<div class="table-responsive">
	<p-dataTable #dt [value]="accountledgerlist" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadRBIGrid($event)"
		(onRowClick)="EditItem($event)" [(selection)]="selectedRB1" expandableRows="true">
		<p-column header="#" [style]="{'width':'30px','text-align':'left'}">
			<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
				{{rowIndex+1}}
			</template>
		</p-column>
		<p-column field="accode" header="Ac Code" [style]="{'width':'50px','text-align':'left'}"></p-column>
		<p-column field="acname" header="Ac Name" [style]="{'width':'150px','text-align':'left'}"></p-column>
		<p-column field="parent" header="Parent Group" [style]="{'width':'50px','text-align':'left'}"></p-column>
		<p-column header="Action" [style]="{'width':'50px','text-align':'center'}">
				<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
					<button type="button" (click)="EditItem(row)" class="btn btn-theme btn-sm btn-grid"><i class="fa fa-pencil-square-o"></i></button>
				</template>
		</p-column>
	</p-dataTable>
</div>