<div class="col-md-12">
	<div class="row">
		<div class="col-md-2" style="border-right: 3px #d1d8dd dashed;">
			<div class="form-group">
				<label>Search</label>
				<input type="text" name="search" [(ngModel)]="search" class="form-control" (keyup)="fillBudgetDropDown()" />
			</div>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-5">
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>Status</label>
						<select class="form-control" [(ngModel)]="status">
							<option *ngFor="let item of statusDT" [value]="item.code">{{item.name}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-1">
					<div class="form-group">
						<label>&nbsp;</label>
						<button type="button" class="btn btn-theme btn-sm" (click)="searchOwnership(dt)">Get</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="row">
		<div class="col-md-2" style="border-right: 3px #d1d8dd dashed;">
			<p-dataList [value]="pendingbudgetDT" selectionMode="single">
				<header>
					Pending
				</header>
				<template let-row>
					<div style="padding: 10px;">
						{{row.btitle}}
					</div>
				</template>
			</p-dataList>
			<div *ngIf="allocatedbudgetDT.length" style="margin: 15px 0;">
				<p-dataList [value]="allocatedbudgetDT" selectionMode="single">
					<header>
						Allocated
					</header>
					<template let-row>
						<div style="padding: 10px;">
							<a role="button" (click)="getOwnershipMaster(row);">{{row.btitle}}</a>
						</div>
					</template>
				</p-dataList>
			</div>
			<div *ngIf="!allocatedbudgetDT.length" style="margin: 15px 0; text-align: center;">
				<h3>No Budget Allocated</h3>
			</div>
		</div>
		<div class="col-md-10">
			<div class="row" *ngIf="selectedbid === 0">
				<div class="col-md-12">
					<h3>Please select Budget Item</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-11">
					<p-dataTable #dt [value]="viewOwnershipDT" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadOwnershipGrid($event)">
						<p-column field="btitle" header="Title" [style]="{'width':'150px','text-align':'left'}"></p-column>
						<p-column field="empname" header="Emp Name" [style]="{'text-align':'left'}"></p-column>
						<p-column field="envtitle" header="Envelope" [style]="{'width':'150px','text-align':'left'}"></p-column>
						<p-column field="status" header="Status" [style]="{'width':'150px','text-align':'left'}"></p-column>
					</p-dataTable>
				</div>
				<div class="col-md-1" *ngIf="viewOwnershipDT.length">
					<button type="button" (click)="openOwnership()" class="btn btn-theme btn-sm"><i class="fa fa-arrow-right"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>