<div class="col-md-12">
	<div class="row">
		<div class="col-md-2">
			<div class="form-group">
				<label>From Date</label>
				<calendar #fromdate [name]="'fromdate'" tabindex="2"></calendar>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label>To Date</label>
				<calendar #todate [name]="'todate'" tabindex="3"></calendar>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>Bank</label>
				<select class="bank form-control" [(ngModel)]="bankid">
					<option [value]="0">Select Bank</option>
					<option *ngFor="let items of bankDT" tabindex="1" [value]="items.key">
						{{items.val}}
					</option>
				</select>
			</div>
		</div>
		<div class="col-md-3" *ngIf="trashviewDT !== null">
			<div class="form-group setfltrbtn">
				<p-triStateCheckbox [(ngModel)]="status" class="status" (ngModelChange)="getTrashRights()"></p-triStateCheckbox> {{statustitle}}
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group setfltrbtn">
				<label>&nbsp;</label>
				<button type="button" tabindex="5" class="btn btn-theme btn-sm" (click)="searchBankRecepit()">
					<i class="fa fa-arrow-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12" *ngIf="bankreceiptDT.length">
	<div class="table-responsive">
		<p-dataTable #dt [value]="bankreceiptDT" [lazy]="true" (onRowExpand)="expandDetails($event)" expandableRows="true">
			<header>
				<table class="tableNoborder">
					<tbody>
						<tr>
							<td colspan="7">Total Amount</td>
							<td width="100px">{{TotalAmount() | _currency:loginUser._globsettings[0] }}</td>
							<td width="70px"></td>
							<td width="50px"></td>
						</tr>
					</tbody>
				</table>
			</header>
			<p-column expander="true" styleClass="col-icon" [style]="{'width':'30px'}"></p-column>
			<p-column field="docno" header="Doc No" [style]="{'width':'80px','text-align':'left'}"></p-column>
			<p-column field="docdate" header="Doc Date" [style]="{'width':'100px','text-align':'left'}"></p-column>
			<p-column field="acname" header="A/C Name" [style]="{'text-align':'left'}"></p-column>
			<p-column field="bankname" header="Bank Name" [style]="{'width':'250px','text-align':'left'}"></p-column>
			<p-column field="banktype" header="Bank Type" [style]="{'width':'100px','text-align':'left'}"></p-column>
			<p-column field="cheqno" header="Cheque No" [style]="{'width':'100px','text-align':'left'}"></p-column>
			<p-column header="Amount" [style]="{'width':'100px','text-align':'right'}">
				<template let-row="rowData" pTemplate type="body">
					{{row.amount | _currency:loginUser._globsettings[0] }}
				</template>
			</p-column>
			<p-column field="status" header="Status" [style]="{'width':'70px','text-align':'left'}"></p-column>
			<p-column [style]="{'width':'50px','text-align':'left'}">
				<template let-row="rowData" pTemplate type="body">
					<button type="button" (click)="OpenBankReceipt(row)" class="btn btn-theme btn-sm btn-grid">
						<i class="fa fa-edit"></i>
					</button>
				</template>
			</p-column>
			<template let-row>
				<p-dataTable [value]="row.details" [lazy]="true" [rows]="1" [paginator]="true" [totalRecords]="totalRecords" expandableRows="true">
					<p-column field="refno" header="Reference No" [style]="{'width':'150px','text-align':'left'}"></p-column>
					<p-column field="custname" header="Code" [style]="{'width':'150px','text-align':'left'}"></p-column>
				</p-dataTable>
			</template>
			<footer>
				<table class="tableNoborder">
					<tbody>
						<tr>
							<td colspan="7">Total Amount</td>
							<td width="100px">{{TotalAmount() | _currency:loginUser._globsettings[0] }}</td>
							<td width="70px"></td>
							<td width="50px"></td>
						</tr>
					</tbody>
				</table>
			</footer>
		</p-dataTable>
	</div>
</div>