<div class="panel panel-theme">
	<div class="panel-body">
		<div class='form-group col-md-12'>
			<div class="col-md-4">
				<div class='form-group'>
					<label>Supplier</label>
					<input type="text=" class="form-control SupplierName" tabindex="1" value="" [(ngModel)]="SupplierName" (keyup)="getAutoCompleteSupplier(this)"
					/>
				</div>
			</div>
			<div class="col-md-3">
				<div class='form-group'>
					<label>From Date</label>
					<div class="controls">
						<div class="input-group">
							<input id="date-picker-3" id="FromDate" type="text" tabindex="2" class="date-picker form-control" [(ngModel)]="FromDate"
							/>
							<label for="date-picker-3" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class='form-group'>
					<label>To Date</label>
					<div class="controls">
						<div class="input-group date">
							<input id="date-picker-4" id="ToDate" type="text" tabindex="3" class="date-picker form-control" [(ngModel)]="ToDate" />
							<label for="date-picker-4" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1">
				<div class='form-group'>
					<label>&nbsp;</label>
					<button type="button" class="btn btn-primary" tabindex="4" (click)="GetBillDetails()">Get</button>
				</div>
			</div>
		</div>
	</div>
</div>
<table class="table table-striped table-bordered tablemargin" [hidden]="TableHide">
	<thead>
		<tr>
			<th colspan="4"></th>
			<th class="col-xs-1 textalign"><b>Total</b></th>
			<th class="col-xs-1 textalign"><b>
						{{TotalQty()|number}} 
						</b></th>
			<th class="col-xs-1 textalign"><b>
						{{TotalAmt()|number}}  
						</b></th>
		</tr>
		<tr>
			<th class="col-sm-1">#</th>
			<th class="col-sm-1">More</th>
			<th class="col-xs-2">Bill Date</th>
			<th class="col-xs-1">Bill No</th>
			<th class="col-sm-4">Supplier</th>
			<th class="col-xs-1 textalign">Quantity</th>
			<th class="col-xs-1 textalign">Amount</th>
		</tr>
	</thead>
	<tbody *ngFor="let row of BillDetails let i=index">
		<tr>
			<td><span>{{i+1}}</span></td>
			<td>
				<button (click)="expandDetails(row)">
						<i class="{{row.IsCollapse == 1 ? 'fa fa-folder-open' : 'fa fa-folder'}}"></i>
					</button>
			</td>
			<td>{{row.DocDate}}</td>
			<td> <a role="button" (click)="EditPO(row)">{{row.InvNo}}</a></td>
			<td>{{row.SuppNam}}</td>
			<td class="textalign">{{row.Qty}}</td>
			<td class="textalign">{{row.Amount|number}}</td>
		</tr>
		<tr [style.display]="row.IsCollapse == 0?'none':''">
			<td></td>
			<td></td>
			<td colspan="5">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Prod Code</th>
							<th>Prod Name</th>
							<th class="textalign">Qty</th>
							<th class="textalign">Rate</th>
							<th class="textalign">Dis</th>
							<th class="textalign">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let drow of row.Details let x=index">
							<td>{{x+1}}</td>
							<td>{{drow.ProdCode}}</td>
							<td>{{drow.ProdName}}</td>
							<td class="textalign">{{drow.Qty}}</td>
							<td class="textalign">{{drow.Rate}}</td>
							<td class="textalign">{{drow.Dis}}</td>
							<td class="textalign">{{drow.Amount}}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4"></td>
			<td class="textalign"><b>Total</b></td>
			<td class="textalign"><b>
						{{TotalQty()|number}}
						</b> </td>
			<td class="textalign"><b>
						{{TotalAmt()|number}} 
						</b> </td>
		</tr>
	</tfoot>
</table>