<p-dialog #dialog header="{{menuname}}" [(visible)]="morerights" modal="modal" width="700" responsive="true">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h3>{{ufullname}}</h3>
            </div>
            <div class="col-md-6" align="right">
                <button type="button" class="btn btn-theme btn-sm" icon="fa-check" (click)="morerights=false">DONE</button>
                <button type="button" class="btn btn-theme btn-sm" icon="fa-check" (click)="morerights=false">CANCEL</button>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="height: 400px; overflow: auto;">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <h3>Existing</h3>
                </div>
                <div *ngIf="fliterAPARDT.length">
                    <div class="text-left">
                        <h4>AP / AR</h4>
                    </div>
                    <div class="row">
                        <div *ngFor="let item of fliterAPARDT" class="col-md-3">
                            {{item.name}}
                        </div>
                    </div>
                </div>
                <div *ngIf="fliterBankDT.length">
                    <div class="text-left">
                        <h4>Bank</h4>
                    </div>
                    <div *ngFor="let item of fliterBankDT">
                        {{item.val}}
                    </div>
                </div>
                <div *ngIf="fliterBankTypeDT.length">
                    <div class="text-left">
                        <h4>Bank Type</h4>
                    </div>
                    <div class="row">
                        <div *ngFor="let item of fliterBankTypeDT" class="col-md-3">
                            {{item.val}}
                        </div>
                    </div>
                </div>
                <div *ngIf="fliterCCDT.length">
                    <div class="text-left">
                        <h4>Control Center</h4>
                    </div>
                    <div class="row">
                        <div *ngFor="let item of fliterCCDT" class="col-md-4">
                            {{item.val}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <h3>Extra</h3>
                </div>
                <div *ngIf="fliterExtraAPARDT.length">
                    <div class="text-left">
                        <h4>AP / AR</h4>
                    </div>
                    <div class="row">
                        <div *ngFor="let item of fliterExtraAPARDT" class="col-md-3">
                            <p-checkbox name="apartype" value="{{item.key}}" label="{{item.name}}" [(ngModel)]="umrrow.selectedAPARType"></p-checkbox>
                        </div>
                    </div>
                </div>
                <div *ngIf="fliterExtraBankDT.length">
                    <div class="text-left">
                        <h4>Bank</h4>
                    </div>
                    <div *ngFor="let item of fliterExtraBankDT">
                        <p-checkbox name="bank" value="{{item.key}}" label="{{item.val}}" [(ngModel)]="umrrow.selectedBank"></p-checkbox>
                    </div>
                </div>
                <div *ngIf="fliterExtraBankTypeDT.length">
                    <div class="text-left">
                        <h4>Bank Type</h4>
                    </div>
                    <div class="row">
                        <div *ngFor="let item of fliterExtraBankTypeDT" class="col-md-3">
                            <p-checkbox name="banktype" value="{{item.key}}" label="{{item.val}}" [(ngModel)]="umrrow.selectedBankType"></p-checkbox>
                        </div>
                    </div>
                </div>
                <div *ngIf="fliterExtraCCDT.length">
                    <div class="text-left">
                        <h4>Control Center</h4>
                    </div>
                    <div class="row">
                        <div *ngFor="let item of fliterExtraCCDT" class="col-md-4">
                            <p-checkbox name="ccname" value="{{item.key}}" label="{{item.val}}" [(ngModel)]="umrrow.selectedCC"></p-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>