<div class="col-md-12">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label">Budget</label>
				<select validate="0" name="bid" [(ngModel)]="bid" class="form-control">
					<option value="0">Select Budget</option>
					<option *ngFor="let row of bdginitiateDT" [value]="row.bid">
						{{row.btitle}}
					</option>
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label">Budget Status</label>
				<select id="bdgstatus" name="bdgstatus" [(ngModel)]="bdgstatus" class="form-control">
					<option [value]="">Select Budget Status</option>
					<option *ngFor="let row of bdgstatusDT" [value]="row.key">
						{{row.val}}
					</option>
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label">Budget Type</label>
				<select id="bdgtype" name="bdgtype" [(ngModel)]="bdgtype" class="form-control">
					<option [value]="">Select Budget Type</option>
					<option *ngFor="let row of bdgtypeDT" [value]="row.key">
						{{row.val}}
					</option>
				</select>
			</div>
		</div>
		<!--<div class="col-md-2">
			<div class="form-group">
				<label>Status</label>
				<select id="status" name="status" [(ngModel)]="status" class="form-control">
					<option *ngFor="let item of statusDT" [value]="item.code">{{item.name}}</option>
				</select>
			</div>
		</div>-->
		<div class="col-md-1">
			<div class="form-group setfltrbtn">
				<label>&nbsp;</label>
				<button type="button" class="btn btn-theme btn-sm" (click)="searchSFDetails(dt)">
					<i class="fa fa-arrow-right"></i></button>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12" *ngIf="bdgtype==='12'">
	<div class="table-responsive">
		<p-dataTable #dt [value]="viewSFDT" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onRowExpand)="expandCCWise($event)"
			(onLazyLoad)="loadSFGrid($event)" expandableRows="true">
			<p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
			<p-column field="ccname" header="Control Center" [style]="{'width':'600px','text-align':'left'}"></p-column>
			<p-column header="Total Amount" [style]="{'width':'150px','text-align':'right'}">
				<template let-row="rowData" pTemplate type="body">
					{{row.totalamount | currency:loginUser._globsettings.currency:true}}
				</template>
			</p-column>
			<template let-row>
				<span *ngIf="!row.loading">Loading....</span>
				<p-dataTable [value]="row.details" [lazy]="true" (onRowExpand)="expandSubItemWise($event)" expandableRows="true">
					<p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
					<p-column field="envtitle" header="Envelope" [style]="{'width':'600px','text-align':'left'}"></p-column>
					<p-column header="Total Amount" [style]="{'width':'150px','text-align':'right'}">
						<template let-drow="rowData" pTemplate type="body">
							{{drow.totalamount | currency:loginUser._globsettings.currency:true}}
						</template>
					</p-column>
					<template let-sirow>
						<span *ngIf="!row.loading">Loading....</span>
						<p-dataTable [value]="sirow.details" [lazy]="true" expandableRows="true">
							<p-column field="subitem" header="Sub Item" [style]="{'width':'600px','text-align':'left'}"></p-column>
							<p-column header="Total Amount" [style]="{'width':'150px','text-align':'right'}">
								<template let-drow="rowData" pTemplate type="body">
									{{drow.totalamount | currency:loginUser._globsettings.currency:true}}
								</template>
							</p-column>
						</p-dataTable>
					</template>
				</p-dataTable>
			</template>
		</p-dataTable>
	</div>
</div>

<div class="col-md-12" *ngIf="bdgtype==='3'">
	<div class="table-responsive">
		<p-dataTable #dt [value]="viewQSFDT" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onRowExpand)="expandQCCWise($event)"
			(onLazyLoad)="loadQSFGrid($event)" expandableRows="true">
			<p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
			<p-column field="ccname" header="Control Center" [style]="{'width':'150px','text-align':'left'}"></p-column>
			<p-column header="Jan to Mar" [style]="{'width':'150px','text-align':'right'}">
				<template let-row="rowData" pTemplate type="body">
					{{row.month1 | currency:loginUser._globsettings.currency:true}}
				</template>
			</p-column>
			<p-column header="Apr to Jun" [style]="{'width':'150px','text-align':'right'}">
				<template let-row="rowData" pTemplate type="body">
					{{row.month2 | currency:loginUser._globsettings.currency:true}}
				</template>
			</p-column>
			<p-column header="Jul to Sep" [style]="{'width':'150px','text-align':'right'}">
				<template let-row="rowData" pTemplate type="body">
					{{row.month3 | currency:loginUser._globsettings.currency:true}}
				</template>
			</p-column>
			<p-column header="Oct to Dec" [style]="{'width':'150px','text-align':'right'}">
				<template let-row="rowData" pTemplate type="body">
					{{row.month4 | currency:loginUser._globsettings.currency:true}}
				</template>
			</p-column>
			<p-column header="Total Amount" [style]="{'width':'150px','text-align':'right'}">
				<template let-row="rowData" pTemplate type="body">
					{{row.totalamount | currency:loginUser._globsettings.currency:true}}
				</template>
			</p-column>
			<template let-etrow>
				<span *ngIf="!etrow.loading">Loading....</span>
				<p-dataTable [value]="etrow.details" [lazy]="true" (onRowExpand)="expandQSubItemWise($event)" expandableRows="true">
					<p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
					<p-column field="envtitle" header="Envelope" [style]="{'width':'150px','text-align':'left'}"></p-column>
					<p-column header="Jan to Mar" [style]="{'width':'150px','text-align':'right'}">
						<template let-drow="rowData" pTemplate type="body">
							{{drow.month1 | currency:loginUser._globsettings.currency:true}}
						</template>
					</p-column>
					<p-column header="Apr to Jun" [style]="{'width':'150px','text-align':'right'}">
						<template let-drow="rowData" pTemplate type="body">
							{{drow.month2 | currency:loginUser._globsettings.currency:true}}
						</template>
					</p-column>
					<p-column header="Jul to Sep" [style]="{'width':'150px','text-align':'right'}">
						<template let-drow="rowData" pTemplate type="body">
							{{drow.month3 | currency:loginUser._globsettings.currency:true}}
						</template>
					</p-column>
					<p-column header="Oct to Dec" [style]="{'width':'150px','text-align':'right'}">
						<template let-drow="rowData" pTemplate type="body">
							{{drow.month4 | currency:loginUser._globsettings.currency:true}}
						</template>
					</p-column>
					<p-column header="Total Amount" [style]="{'width':'150px','text-align':'right'}">
						<template let-drow="rowData" pTemplate type="body">
							{{drow.totalamount | currency:loginUser._globsettings.currency:true}}
						</template>
					</p-column>
					<template let-sirow>
						<span *ngIf="!sirow.loading">Loading....</span>
						<p-dataTable [value]="sirow.details" [lazy]="true" expandableRows="true">
							<p-column field="subitem" header="Sub Item" [style]="{'width':'150px','text-align':'left'}"></p-column>
							<p-column header="Jan to Mar" [style]="{'width':'150px','text-align':'right'}">
								<template let-drow="rowData" pTemplate type="body">
									{{drow.month1 | currency:loginUser._globsettings.currency:true}}
								</template>
							</p-column>
							<p-column header="Apr to Jun" [style]="{'width':'150px','text-align':'right'}">
								<template let-drow="rowData" pTemplate type="body">
									{{drow.month2 | currency:loginUser._globsettings.currency:true}}
								</template>
							</p-column>
							<p-column header="Jul to Sep" [style]="{'width':'150px','text-align':'right'}">
								<template let-drow="rowData" pTemplate type="body">
									{{drow.month3 | currency:loginUser._globsettings.currency:true}}
								</template>
							</p-column>
							<p-column header="Oct to Dec" [style]="{'width':'150px','text-align':'right'}">
								<template let-drow="rowData" pTemplate type="body">
									{{drow.month4 | currency:loginUser._globsettings.currency:true}}
								</template>
							</p-column>
							<p-column header="Total Amount" [style]="{'width':'150px','text-align':'right'}">
								<template let-drow="rowData" pTemplate type="body">
									{{drow.totalamount | currency:loginUser._globsettings.currency:true}}
								</template>
							</p-column>
						</p-dataTable>
					</template>
				</p-dataTable>
			</template>
		</p-dataTable>
	</div>
</div>

<div class="col-md-12" *ngIf="bdgtype==='1'">
	<div class="table-responsive">
		<p-dataTable #dt [value]="ctrlcenterDT" [lazy]="true" [rows]="10000" [paginator]="false" [totalRecords]="totalRecords" (onRowExpand)="expandEnvelopeTypeDT($event)"
			(onLazyLoad)="loadCCGrid($event)" expandableRows="true">
			<p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
			<p-column field="ccname" header="Control Center" [style]="{'width':'150px','text-align':'left'}"></p-column>

			<p-column *ngFor="let col of monthColumn" header="{{col.disp}}" [style]="{'width':'100px','text-align':'right'}">
				<template let-row="rowData" pTemplate type="body">
					{{row[col.month] | currency:loginUser._globsettings.currency:true}}
				</template>
			</p-column>
			<!--<p-column header="Jan" [style]="{'width':'100px','text-align':'right'}">
				<template let-row="rowData" pTemplate type="body">
					{{row.jan | currency:loginUser._globsettings.currency:true}}
				</template>
			</p-column>
			<p-column header="Feb" [style]="{'width':'100px','text-align':'right'}">
				<template let-row="rowData" pTemplate type="body">
					{{row.feb | currency:loginUser._globsettings.currency:true}}
				</template>
			</p-column>-->
			<p-column header="Total Amount" [style]="{'width':'150px','text-align':'right'}">
				<template let-drow="rowData" pTemplate type="body">
					{{drow.totalamount | currency:loginUser._globsettings.currency:true}}
				</template>
			</p-column>
			<template let-etrow>
				<span *ngIf="!etrow.loading">Loading....</span>
				<p-dataTable [value]="etrow.details" [lazy]="true" (onRowExpand)="expandExpenseBudgetDT($event)" expandableRows="true">
					<p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
					<p-column field="envtitle" header="Envelope" [style]="{'width':'150px','text-align':'left'}"></p-column>

					<p-column *ngFor="let etcol of monthColumn" header="{{etcol.disp}}" [style]="{'width':'100px','text-align':'right'}">
						<template let-drow="rowData" pTemplate type="body">
							{{drow[etcol.month] | currency:loginUser._globsettings.currency:true}}
						</template>
					</p-column>
					<p-column header="Total Amount" [style]="{'width':'150px','text-align':'right'}">
						<template let-drow="rowData" pTemplate type="body">
							{{drow.totalamount | currency:loginUser._globsettings.currency:true}}
						</template>
					</p-column>
					<template let-sirow>
						<span *ngIf="!sirow.loading">Loading....</span>
						<p-dataTable [value]="sirow.details" [lazy]="true" expandableRows="true">
							<p-column field="subitem" header="Sub Item" [style]="{'width':'150px','text-align':'left'}"></p-column>
							<p-column *ngFor="let sicol of monthColumn" header="{{sicol.disp}}" [style]="{'width':'100px','text-align':'right'}">
								<template let-row="rowData" pTemplate type="body">
									{{row[sicol.month] | currency:loginUser._globsettings.currency:true}}
								</template>
							</p-column>
							<p-column header="Total Amount" [style]="{'width':'150px','text-align':'right'}">
								<template let-drow="rowData" pTemplate type="body">
									{{drow.totalamount | currency:loginUser._globsettings.currency:true}}
								</template>
							</p-column>
						</p-dataTable>
					</template>
				</p-dataTable>
			</template>
		</p-dataTable>
	</div>
</div>

<!--
<div class="col-md-12" *ngIf="bdgtype==='1'">
	<div class="table-responsive" *ngIf="ctrlcenterDT.length">
		<table id="tblsf" class="table table-striped table-bordered table-hover tblexcel-grid">
			<thead>
				<tr>
					<th width="20px"></th>
					<th width="150px">Envelope</th>
					<th width="150px">Jan</th>
					<th width="150px">Feb</th>
					<th width="150px">Mar</th>
					<th width="150px">Apr</th>
					<th width="150px">May</th>
					<th width="150px">Jun</th>
					<th width="150px">Jul</th>
					<th width="150px">Aug</th>
					<th width="150px">Sep</th>
					<th width="150px">Oct</th>
					<th width="150px">Nov</th>
					<th width="150px">Dec</th>
					<th width="150px">Total</th>
				</tr>
			</thead>
			<tbody *ngFor="let ccrow of ctrlcenterDT; let i=index;">
				<tr>
					<td width="50px">
						<a role="button" (click)="ExpandEnvelopeTypeDT(ccrow)">
							<i class="{{ccrow.issh == 0 ? 'fa fa-chevron-circle-right' : 'fa fa-chevron-circle-down'}}"></i>
						</a>
					</td>
					<td width="150px">
						{{ccrow.ccname}}
					</td>
					<td class="sortnr" width="150px">
						{{ccrow.jan | currency:loginUser._globsettings.currency:true}}
					</td>
					<td class="sortnr" width="150px">
						{{ccrow.feb | currency:loginUser._globsettings.currency:true}}
					</td>
					<td class="sortnr" width="150px">
						{{ccrow.mar | currency:loginUser._globsettings.currency:true}}
					</td>
					<td class="sortnr" width="150px">
						{{ccrow.apr | currency:loginUser._globsettings.currency:true}}
					</td>
					<td class="sortnr" width="150px">
						{{ccrow.may | currency:loginUser._globsettings.currency:true}}
					</td>
					<td class="sortnr" width="150px">
						{{ccrow.jun | currency:loginUser._globsettings.currency:true}}
					</td>
					<td class="sortnr" width="150px">
						{{ccrow.jul | currency:loginUser._globsettings.currency:true}}
					</td>
					<td class="sortnr" width="150px">
						{{ccrow.aug | currency:loginUser._globsettings.currency:true}}
					</td>
					<td class="sortnr" width="150px">
						{{ccrow.sep | currency:loginUser._globsettings.currency:true}}
					</td>
					<td class="sortnr" width="150px">
						{{ccrow.oct | currency:loginUser._globsettings.currency:true}}
					</td>
					<td class="sortnr" width="150px">
						{{ccrow.nov | currency:loginUser._globsettings.currency:true}}
					</td>
					<td class="sortnr" width="150px">
						{{ccrow.dec | currency:loginUser._globsettings.currency:true}}
					</td>
					<td width="150px">
						{{ccrow.totalamount | currency:loginUser._globsettings.currency:true}}
					</td>
				</tr>
				<tr [style.display]="ccrow.issh == 0?'none':''">
					<td colspan="15">
						<table class="table table-striped table-bordered table-hover tblexcel">
							<tbody *ngFor="let etrow of ccrow.envtitlesdt; let j = index;">
								<tr>
									<td width="50px">
										<a role="button" (click)="ExpandExpenseBudgetDT(etrow);">
											<i class="{{etrow.issh == 0 ? 'fa fa-chevron-circle-right' : 'fa fa-chevron-circle-down'}}"></i>
										</a>
									</td>
									<td width="150px">
										{{etrow.envtitle}}
									</td>
									<td width="150px">
										{{etrow.jan | currency:loginUser._globsettings.currency:true}}
									</td>
									<td width="150px">
										{{etrow.feb | currency:loginUser._globsettings.currency:true}}
									</td>
									<td width="150px">
										{{etrow.mar | currency:loginUser._globsettings.currency:true}}
									</td>
									<td width="150px">
										{{etrow.apr | currency:loginUser._globsettings.currency:true}}
									</td>
									<td width="150px">
										{{etrow.may | currency:loginUser._globsettings.currency:true}}
									</td>
									<td width="150px">
										{{etrow.jun | currency:loginUser._globsettings.currency:true}}
									</td>
									<td width="150px">
										{{etrow.jul | currency:loginUser._globsettings.currency:true}}
									</td>
									<td width="150px">
										{{etrow.aug | currency:loginUser._globsettings.currency:true}}
									</td>
									<td width="150px">
										{{etrow.sep | currency:loginUser._globsettings.currency:true}}
									</td>
									<td width="150px">
										{{etrow.oct | currency:loginUser._globsettings.currency:true}}
									</td>
									<td width="150px">
										{{etrow.nov | currency:loginUser._globsettings.currency:true}}
									</td>
									<td width="150px">
										{{etrow.dec | currency:loginUser._globsettings.currency:true}}
									</td>
									<td width="150px">
										{{etrow.totalamount | currency:loginUser._globsettings.currency:true}}
									</td>
								</tr>
								<tr [style.display]="etrow.issh == 0?'none':''">
									<td colspan="15">
										<table class="table table-striped table-bordered table-hover tblexcel">
											<tbody *ngFor="let sirow of etrow.subitemsdt; let k = index;">
												<tr>
													<td width="50px">
														{{k+1}}
													</td>
													<td width="150px" align="right">
														{{sirow.subitem}}
													</td>
													<td width="150px">
														{{sirow.jan | currency:loginUser._globsettings.currency:true}}
													</td>
													<td width="150px">
														{{sirow.feb | currency:loginUser._globsettings.currency:true}}
													</td>
													<td width="150px">
														{{sirow.mar | currency:loginUser._globsettings.currency:true}}
													</td>
													<td width="150px">
														{{sirow.apr | currency:loginUser._globsettings.currency:true}}
													</td>
													<td width="150px">
														{{sirow.may | currency:loginUser._globsettings.currency:true}}
													</td>
													<td width="150px">
														{{sirow.jun | currency:loginUser._globsettings.currency:true}}
													</td>
													<td width="150px">
														{{sirow.jul | currency:loginUser._globsettings.currency:true}}
													</td>
													<td width="150px">
														{{sirow.aug | currency:loginUser._globsettings.currency:true}}
													</td>
													<td width="150px">
														{{sirow.sep | currency:loginUser._globsettings.currency:true}}
													</td>
													<td width="150px">
														{{sirow.oct | currency:loginUser._globsettings.currency:true}}
													</td>
													<td width="150px">
														{{sirow.nov | currency:loginUser._globsettings.currency:true}}
													</td>
													<td width="150px">
														{{sirow.dec | currency:loginUser._globsettings.currency:true}}
													</td>
													<td width="150px">
														{{sirow.totalamount | currency:loginUser._globsettings.currency:true}}
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
-->