<div class="table-responsive">
	<table class="mui-table">
	</table>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th colspan="4"></th>
				<th width="200px" class="text-right">
					<b>Total :</b>
				</th>
				<th width="120px" class="text-right">
					<b>{{TotalDebitAmt() | number}}</b>
				</th>
				<th width="120px" class="text-right">
					<b>{{TotalCreditAmt() | number}}</b>
				</th>
				<th></th>
			</tr>
			<tr>
				<th></th>
				<th width="80px">Doc No</th>
				<th width="110px">Doc Date</th>
				<th width="100px">A/C Code</th>
				<th width="200px">A/C Name</th>
				<th width="120px" class="text-right">Dr. Amt</th>
				<th width="120px" class="text-right">Cr. Amt</th>
				<th>Narration</th>
			</tr>
		</thead>
		<tbody *ngFor="let row of viewDebitNoteDT">
			<tr>
				<td>
					<button (click)="expandDetails(row)">
						<i class="{{row.IsCollapse == 1 ? 'fa fa-folder-open' : 'fa fa-folder'}}"></i>
					</button>
				</td>
				<td>
					<a role="button" (click)="openDNDetails(row)">{{row.DocNo}}</a>
				</td>
				<td>
					{{row.FormattedDocDate}}
				</td>
				<td>
					{{row.AccCode}}
				</td>
				<td>
					{{row.AccName}}
				</td>
				<td class="text-right">
					{{row.DebitAmount | number}}
				</td>
				<td class="text-right">
					{{row.CreditAmount | number}}
				</td>
				<td rowspan="3">
					{{row.IsCollapse == 1 ? row.Narration : row.SmallNarration}}
				</td>
			</tr>
			<tr [style.display]="row.IsCollapse == 0?'none':''">
				<td></td>
				<td></td>
				<td></td>
				<td colspan="4">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th width="90px">A/C Code</th>
								<th width="200px">A/C Name</th>
								<th width="120px" class="text-right">Dr. Amt</th>
								<th width="110px" class="text-right">Cr. Amt</th>
							</tr>
						</thead>
						<tbody *ngFor="let drow of row.Details">
							<tr class="textTop">
								<td>{{drow.AccCode}}</td>
								<td>{{drow.AccName}}</td>
								<td class="text-right">{{drow.DebitAmount | number}}</td>
								<td class="text-right">{{drow.CreditAmount | number}}</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td colspan="3"></td>
				<td>
					<b>Total :</b>
				</td>
				<td class="text-right">
					<b>{{TotalDebitAmt() | number}}</b>
				</td>
				<td class="text-right">
					<b>{{TotalCreditAmt() | number}}</b>
				</td>
				<td></td>
			</tr>
		</tfoot>
	</table>
</div>