<div class="table-responsive" *ngIf="viewDebitNoteDT.length">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th colspan="4"></th>
				<th width="200px" class="text-right">
					<b>Total :</b>
				</th>
				<th width="120px" class="text-right">
					<b>{{TotalDebitAmt() | currency:loginUser._globsettings.numberformat}}</b>
				</th>
				<th width="120px" class="text-right">
					<b>{{TotalCreditAmt() | currency:loginUser._globsettings.numberformat}}</b>
				</th>
				<th></th>
			</tr>
			<tr>
				<th></th>
				<th width="80px">Doc No</th>
				<th width="110px">Doc Date</th>
				<th width="100px">A/C Code</th>
				<th width="200px">A/C Name</th>
				<th width="120px" class="text-right">Dr. Amt</th>
				<th width="120px" class="text-right">Cr. Amt</th>
				<th>Narration</th>
			</tr>
		</thead>
		<tbody *ngFor="let row of viewDebitNoteDT">
			<tr>
				<td>
					<button (click)="expandDetails(row)">
						<i class="{{row.issh == 1 ? 'fa fa-folder-open' : 'fa fa-folder'}}"></i>
					</button>
				</td>
				<td>
					<a role="button" (click)="openDNDetails(row)">{{row.docno}}</a>
				</td>
				<td>
					{{row.docdate}}
				</td>
				<td>
					{{row.acid}}
				</td>
				<td>
					{{row.acname}}
				</td>
				<td class="text-right">
					{{row.totdramt | currency:loginUser._globsettings.numberformat}}
				</td>
				<td class="text-right">
					{{row.totcramt | currency:loginUser._globsettings.numberformat}}
				</td>
				<td rowspan="3">
					{{row.issh == 1 ? row.narration : row.smallnarr}}
				</td>
			</tr>
			<tr [style.display]="row.issh == 0?'none':''">
				<td></td>
				<td></td>
				<td></td>
				<td colspan="4">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th width="90px">A/C Code</th>
								<th width="200px">A/C Name</th>
								<th width="120px" class="text-right">Dr. Amt</th>
								<th width="110px" class="text-right">Cr. Amt</th>
							</tr>
						</thead>
						<tbody *ngFor="let drow of row.Details">
							<tr class="textTop">
								<td>{{drow.acid}}</td>
								<td>{{drow.acname}}</td>
								<td class="text-right">{{drow.dramt | currency:loginUser._globsettings.numberformat}}</td>
								<td class="text-right">{{drow.cramt | currency:loginUser._globsettings.numberformat}}</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td colspan="3"></td>
				<td>
					<b>Total :</b>
				</td>
				<td class="text-right">
					<b>{{TotalDebitAmt() | currency:loginUser._globsettings.numberformat}}</b>
				</td>
				<td class="text-right">
					<b>{{TotalCreditAmt() | currency:loginUser._globsettings.numberformat}}</b>
				</td>
				<td></td>
			</tr>
		</tfoot>
	</table>
</div>
<div class="table-responsive" *ngIf="viewDebitNoteDT.length === 0">
	<div class="error-message">
		No Data Found
	</div>
</div>