<form id="frmbudget">
    <div class="panel panel-theme">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Budget</label>
                        <select validate="0" name="bid" [(ngModel)]="bid" class="form-control">
                            <option value="0">-- Select Budget --</option>
                            <option *ngFor="let row of BudgetDT" [value]="row.bid">
                                {{row.btitle}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="bid !== 0">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-dataTable #dt [value]="ownersRowData | filterBy: {isactive: true}" [lazy]="true">
                            <p-column header="#" [style]="{'width':'50px','text-align':'left'}">
                                <template let-i="rowIndex" pTemplate="editor">
                                    {{i + 1}}
                                </template>
                            </p-column>
                            <p-column header="Envelope" [style]="{'width':'300px'}">
                                <template let-row="rowData" let-i="rowIndex" pTemplate="body" *ngIf="isdetails">
                                    {{row.envtitle}}
                                </template>
                                <template let-row="rowData" let-i="rowIndex" pTemplate="editor" *ngIf="!isdetails">
                                    <select name="envelope{{i+1}}" [(ngModel)]="row.envid" class="form-control inlinetextbox">
                                        <option value="0">-- Select Envelope --</option>
                                        <option *ngFor="let items of EnvelopeDT" [value]="items.envid">
                                            {{items.envtitle}}
                                        </option>
                                    </select>
                                </template>
                            </p-column>
                            <p-column header="Employee" [style]="{'width':'400px','text-align':'left'}">
                                <template let-row="rowData" let-i="rowIndex" pTemplate="body" *ngIf="isdetails">
                                    {{row.empname}}
                                </template>
                                <template let-row="rowData" let-i="rowIndex" pTemplate="editor" *ngIf="!isdetails">
                                    <input type="text" name="empname{{i+1}}" [(ngModel)]="row.empname" class="empname form-control inlinetextbox" (keyup)="getAutoemp(row, 1)"
                                    />
                                </template>
                            </p-column>
                            <p-column header="Control Center" [style]="{'width':'300px','text-align':'left'}">
                                <template let-row="rowData" let-i="rowIndex" pTemplate="body" *ngIf="isdetails">
                                    {{row.ccname}}
                                </template>
                                <template let-row="rowData" let-i="rowIndex" pTemplate="editor" *ngIf="!isdetails">
                                    <select name="newccid{{i+1}}" [(ngModel)]="row.ccid" class="form-control inlinetextbox">
                                        <option value="0">-- Select Control Center --</option>
                                        <option *ngFor="let items of CtrlCenterDT" [value]="items.ccid">
                                            {{items.ccname}}
                                        </option>
                                    </select>
                                </template>
                            </p-column>
                            <p-column [style]="{'text-align':'center'}" *ngIf="!isdetails">
                                <template let-col let-row="rowData" pTemplate="editor">
                                    <button class="btn btn-danger btn-sm" (click)="deleteBudgetOwnership(row)"><i class="fa fa-trash"></i></button>
                                </template>
                            </p-column>
                            <footer *ngIf="!isdetails">
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        <tr>
                                            <td width="50px">#</td>
                                            <td width="300px">
                                                <select name="newenvid" [(ngModel)]="newenvid" class="form-control">
                                                    <option value="0">-- Select Envelope --</option>
                                                    <option *ngFor="let items of EnvelopeDT" [value]="items.envid">
                                                        {{items.envtitle}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td width="400px">
                                                <input type="text" name="newempname" [(ngModel)]="newempname" (keyup)="getAutoEmp(this, 0)" (keyup.enter)="addBudgetOwnership()"
                                                    class="empname form-control" />
                                            </td>
                                            <td width="300px">
                                                <select name="newccid" [(ngModel)]="newccid" class="form-control">
                                                    <option value="0">-- Select Control Center --</option>
                                                    <option *ngFor="let items of CtrlCenterDT" [value]="items.ccid">
                                                        {{items.ccname}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td>
                                                <button name="btnadd" class="btn btn-theme btn-sm" (click)="addBudgetOwnership()"><i class="fa fa-plus"></i></button>
                                                <!--<i class=""></i></button>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </footer>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>