<div class="panel panel-theme">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">
				<div class='form-group'>
					<label>Code</label>
					<input type="text" class="form-control code" placeholder="Code" validate="" maxlength="10" tabindex="1" [(ngModel)]="code"
						ng-trim="false" (blur)="Getcode()">
				</div>
			</div>
			<div class="col-md-6">
				<div class='form-group'>
					<label>Customer Name</label>
					<input type="text" class="form-control fname" placeholder="Customer name" validate="" tabindex="2" [(ngModel)]="Custname">
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-2">
				<div class='form-group'>
					<label>Parent Code</label>
					<p-autoComplete [(ngModel)]="parentcodename" class="form-controlAutoComplete parentcode" (onSelect)="ParentcodeSelect($event)"
						[suggestions]="ParentcodeAutodata" (completeMethod)="ParentcodeAuto($event)" [tabindex]="3" field="label" [size]="30"
						placeholder="Parent Code" [minLength]="1"></p-autoComplete>
				</div>
			</div>
			<div class="col-md-6">
				<div class='form-group'>
					<label>Parent Name</label>
					<input type="text" class="form-control parentname" placeholder="Parent name" tabindex="400" readonly="true" [(ngModel)]="parentname">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class='form-group'>
					<label>Credit Days</label>
					<select [(ngModel)]="days" class="form-control" tabindex="5">
						<option [value]="'0'">0</option>
						<option *ngFor="let row of dayslist" [value]="row.value">
							{{row.label}}
					    </option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class='form-group'>
					<label>Remark</label>
					<input type="text" class="form-control" placeholder="Remark" tabindex="6" [(ngModel)]="remark">
				</div>
			</div>
		</div>
		<div class="row" *ngIf="editmode">
			<div class="col-md-10">
				<label><p-checkbox [(ngModel)]="isactive" binary="true"></p-checkbox>IsActive</label>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-theme">
	<div class="panel-body">
		<ul class="nav nav-tabs" id="headtab">
			<li class="active"><a data-target="#adr" role="button" data-toggle="tab"><i class="fa fa-address-book-o" aria-hidden="true"></i> Contacts</a></li>
			<li><a data-target="#attr" role="button" (click)="Attr()" data-toggle="tab"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Attribute</a></li>
			<li><a data-target="#itemdis" role="button" (click)="itemdis()" data-toggle="tab"><i class="fa fa-percent" aria-hidden="true"></i> Discount</a></li>
			<li><a data-target="#trans" role="button" (click)="transtab()" data-toggle="tab"><i class="fa fa-truck" aria-hidden="true"></i> Transpoter</a></li>
			<li><a data-target="#sales" role="button" (click)="saletab()" data-toggle="tab"><i class="fa fa-user-secret" aria-hidden="true"></i> Salesman</a></li>
			<li><a data-target="#ware" role="button" (click)="TabWare()" data-toggle="tab"><i class="fa fa-home" aria-hidden="true"></i> Warehouse</a></li>
			<li><a data-target="#control" role="button" (click)="Ctrl()" data-toggle="tab"><i class="fa fa-cc" aria-hidden="true"></i> Control Center</a></li>
			<li><a data-target="#acinfo" role="button" (click)="Acinfo()" data-toggle="tab"><i class="fa fa-calculator" aria-hidden="true"></i> Accounting Info</a></li>
			<li><a data-target="#tax" role="button" (click)="taxtab()" data-toggle="tab"><i class="fa fa-percent" aria-hidden="true"></i> Tax</a></li>
			<li><a data-target="#docup" role="button" data-toggle="tab"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Document Upload</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="adr">
				<div class="row">
					<addressbook #addrbook [adrbookid]="adrbookid" [adrid]="adrid" [module]="module" [accode]="accode"></addressbook>
				</div>
			</div>
			<div class="tab-pane" id="attr">
				<attribute #attribute></attribute>
			</div>
			<div class="tab-pane" id="itemdis">
				<div class="row">
					<div class="panel panel-theme">
						<div class="panel-body">
							<div class="col-md-12">
								<div class="col-md-2">
									<div class='form-group'>
										<label>Discount</label>
										<select [(ngModel)]="debit" class="form-control" tabindex="23">
									<option [value]="'0'">Select Discount</option>
											<option *ngFor="let row of discountlist" [value]="row.value">
												{{row.label}}
									</option>
										</select>
									</div>
								</div>
								<div class="col-md-1">
									<div class='form-group'>
										<label>From</label>
										<input type="text" placeholder="From" class="form-control fromval text-right" tabindex="12" [(ngModel)]="fromval">
									</div>
								</div>
								<div class="col-md-1">
									<div class='form-group'>
										<label>To</label>
										<input type="text" placeholder="To" class="form-control toval text-right" tabindex="13" [(ngModel)]="toval">
									</div>
								</div>
								<div class="col-md-2">
									<div class='form-group'>
										<label>Amount</label>
										<select [(ngModel)]="debit" class="form-control" tabindex="23">
											<option [value]="'0'">Select Amount</option>
											<option *ngFor="let row of discountlist" [value]="row.value">
												{{row.label}}
											</option>
										</select>
									</div>
								</div>
								<div class="col-md-2">
									<div class='form-group'>
										<label>Value</label>
										<input type="text" class="form-control disval text-right" tabindex="14" (keyup.enter)="AddNewdisattr()" [(ngModel)]="dis">
									</div>
								</div>
								<div class="col-md-3">
									<div class="setfltrbtn">
										<label><p-checkbox [(ngModel)]="isactive" binary="true"></p-checkbox>Applicable on sales invoice</label>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-3">
									<div class='form-group'>
										<label>Item</label>
										<input type="text" class="form-control" tabindex="14" [(ngModel)]="item">
									</div>
								</div>
								<div class="col-md-3">
									<div class='form-group'>
										<label>Customer</label>
										<input type="text" class="form-control" tabindex="14" [(ngModel)]="cust">
									</div>
								</div>
								<div class="col-md-2">
									<div class="setfltrbtn">
										<button class="btn btn-theme btn-sm"><i class="fa fa-plus"></i></button>
									</div>
								</div>
							</div>
							<div class="col-md-8">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>Item</th>
											<th>Customer</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody *ngFor="let row of itemslist let i=index">
										<tr>
											<td><span>{{i+1}}</span></td>
											<td>{{row.item}}</td>
											<td>{{row.cust}}</td>
											<td><button class="btn btn-theme btn-sm btn-grid" (click)="itemsRemove(row)"><i class="fa fa-trash"></i></button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<!--<div class="col-md-5">
						<div class="panel panel-theme">
							<div class="panel-heading">
								<h3 class="panel-title">Items Discount</h3>
							</div>
							<div class="panel-body">
								<div class="col-md-5">
									<div class='form-group'>
										<label>Items Name</label>
										<input type="text" class="form-control itemsname" tabindex="8" value="" [(ngModel)]="itemsname" (keyup)="getAutoCompleteItems(this)"
										/>
									</div>
								</div>
								<div class="col-md-3">
									<div class='form-group'>
										<label>Discount (%)</label>
										<input type="text" class="form-control text-right itemdis" (keyup.enter)="Additems()" tabindex="9" [(ngModel)]="itemsdis">
									</div>
								</div>
								<div class="col-md-1">
									<div class='form-group'>
										<div class="setfltrbtn">
											<button class="btn btn-theme btn-sm" type="button" tabindex="10" (click)="Additems()" title="Add">
												<i class="fa fa-plus"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<table class="table table-striped table-bordered" *ngIf="itemslist.length">
								<thead>
									<tr>
										<th>#</th>
										<th class="col-sm-5">Items Name</th>
										<th class="col-sm-3">Dis (%)</th>
										<th class="col-sm-1"></th>
									</tr>
								</thead>
								<tbody *ngFor="let row of itemslist let i=index">
									<tr>
										<td><span>{{i+1}}</span></td>
										<td>{{row.itemsname}}</td>
										<td>{{row.itemsdis}}</td>
										<td><button class="btn btn-theme btn-sm" (click)="itemsRemove(row)"><i class="fa fa-trash"></i></button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-7">
						<div class="panel panel-theme">
							<div class="panel-heading">
								<h3 class="panel-title">Discount</h3>
							</div>
							<div class="panel-body">
								<div class="col-md-4">
									<div class='form-group'>
										<label>Item</label>
										<input type="text" class="form-control disattr" tabindex="11" value="" [(ngModel)]="disattrname" (keyup)="getAutoCompletedisattr(this)"
										/>
									</div>
								</div>
								<div class="col-md-2">
									<div class='form-group'>
										<label>From</label>
										<input type="text" class="form-control fromval text-right" tabindex="12" [(ngModel)]="fromval">
									</div>
								</div>
								<div class="col-md-2">
									<div class='form-group'>
										<label>To</label>
										<input type="text" class="form-control toval text-right" tabindex="13" [(ngModel)]="toval">
									</div>
								</div>
								<div class="col-md-2">
									<div class='form-group'>
										<label>Dis (%)</label>
										<input type="text" class="form-control disval text-right" tabindex="14" (keyup.enter)="AddNewdisattr()" [(ngModel)]="dis">
									</div>
								</div>
								<div class="col-md-1">
									<div class='form-group'>
										<div class="setfltrbtn">
											<button class="btn btn-theme btn-sm" type="button" ng-reflect-title="Add" tabindex="15" (click)="AddNewdisattr()" title="Add">
										<i class="fa fa-plus"></i></button>
										</div>
									</div>
								</div>
							</div>
							<table class="table table-striped table-bordered" *ngIf="disattrlist.length">
								<thead>
									<tr>
										<th class="col-sm-1">#</th>
										<th class="col-sm-5">Attribute</th>
										<th class="col-sm-2">From</th>
										<th class="col-sm-2">To</th>
										<th class="col-sm-2">Dis %</th>
										<th></th>
									</tr>
								</thead>
								<tbody *ngFor="let row of disattrlist let i=index">
									<tr>
										<td><span>{{i+1}}</span></td>
										<td>{{row.disattrname}}</td>
										<td>{{row.fromval}}</td>
										<td>{{row.toval}}</td>
										<td>{{row.discou}}</td>
										<td><button class="btn btn-theme btn-sm" (click)="disRemoveattr(row)"><i class="fa fa-trash"></i></button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>-->
				</div>
			</div>
			<div class="tab-pane" id="sales">
				<div class="row">
					<div class="col-md-10">
						<div class="col-md-5">
							<div class='form-group'>
								<label>Salesman</label>
								<p-autoComplete [(ngModel)]="salename" class="form-controlAutoComplete sales" (onSelect)="SalesmanSelect($event)" [suggestions]="SalesmanAutodata"
									(keyup.enter)="SalemanAdd()" (completeMethod)="SalesmanAuto($event)" [tabindex]="3" field="label" [size]="30" placeholder="Salesman"
									[minLength]="1"></p-autoComplete>
							</div>
						</div>
						<div class="col-md-1">
							<div class='form-group'>
								<div class="setfltrbtn">
									<button class="btn btn-theme btn-sm" type="button" ng-reflect-title="Add" tabindex="22" (click)="SalemanAdd()" title="Add">
										<i class="fa fa-plus"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-10">
						<div class="col-md-6" *ngFor="let row of salesmanlist">
							<div class="bootstrap-tagsinput" style="margin-top: 10px;">
								<span class="tag label label-info" style="font-size: 10px;">{{row.salename}} 
							<span data-role="remove" (click)="RemoveSale(row)"></span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="trans">
				<div class="row">
					<div class="col-md-10">
						<div class="col-md-5">
							<div class='form-group'>
								<label>Transpoter</label>
								<p-autoComplete [(ngModel)]="transname" class="form-controlAutoComplete transname" (onSelect)="TranspoterSelect($event)"
									[suggestions]="TranspoterAutodata" (keyup.enter)="TranspoterAdd()" (completeMethod)="TranspoterAuto($event)" [tabindex]="3"
									field="label" [size]="30" placeholder="Transpoter" [minLength]="1"></p-autoComplete>
							</div>
						</div>
						<div class="col-md-1">
							<div class='form-group'>
								<div class="setfltrbtn">
									<button class="btn btn-theme btn-sm" type="button" ng-reflect-title="Add" tabindex="22" (click)="TranspoterAdd()" title="Add">
										<i class="fa fa-plus"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-12 bootstrap-tagsinput">
							<span *ngFor="let row of translist" class="tag label label-info" style="font-size: 10px;">{{row.transname}} 
							<span data-role="remove" (click)="RemoveTranspoter(row)"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="ware">
				<div class="row">
					<div class="col-md-10">
						<div class="panel panel-theme">
							<div class="panel-body">
								<div class="col-md-3" *ngFor="let row of warehouselist">
									<label><p-checkbox [(ngModel)]="row.Warechk" binary="true"></p-checkbox>
										{{row.label}} 
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="control">
				<div class="row">
					<div class="col-md-10">
						<div class="col-md-5">
							<div class='form-group'>
								<label>Control Name</label>
								<p-autoComplete [(ngModel)]="ctrlname" class="form-controlAutoComplete ctrl" (onSelect)="ControlCentSelect($event)" [suggestions]="ControlCentAutodata"
									(keyup.enter)="AddNewCtrl()" (completeMethod)="ControlCentAuto($event)" [tabindex]="3" field="label" [size]="30"
									placeholder="Control Center" [minLength]="1"></p-autoComplete>
							</div>
						</div>
						<div class="col-md-1">
							<div class='form-group'>
								<div class="setfltrbtn">
									<button class="btn btn-theme btn-sm" type="button" ng-reflect-title="Add" tabindex="19" (click)="AddNewCtrl()" title="Add">
							<i class="fa fa-plus"></i></button>
								</div>
							</div>
						</div>
						<table class="table table-striped table-bordered" *ngIf="Ctrllist.length">
							<thead>
								<tr>
									<th class="col-sm-1">#</th>
									<th class="col-sm-3">Ctrl Name</th>
									<th class="col-sm-2">Profit</th>
									<th class="col-sm-2">Cost</th>
									<th class="col-sm-2">>Action</th>
								</tr>
							</thead>
							<tbody *ngFor="let row of Ctrllist let i=index">
								<tr>
									<td><span>{{i+1}}</span></td>
									<td>{{row.ctrlname}}</td>
									<td><input type="checkbox" [(ngModel)]="row.profflag" />{{row.proftcode}}</td>
									<td><input type="checkbox" [(ngModel)]="row.constflag" />{{row.costcode}}</td>
									<td><button class="btn btn-danger btn-sm btn-grid" (click)="DeleteCtrl(row)"><i class="fa fa-trash"></i></button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="acinfo">
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-theme">
							<div class="panel-body">
								<div class="col-md-4">
									<div class='form-group'>
										<label>Key</label>
										<p-autoComplete [(ngModel)]="acinfival" class="form-controlAutoComplete key" (onSelect)="acinfivalSelect($event)" [suggestions]="acinfivalAutodata"
											(keyup.enter)="AddNewKyeval()" (completeMethod)="acinfivalAuto($event)" [tabindex]="3" field="label" [size]="30"
											placeholder="Any key" [minLength]="1"></p-autoComplete>
									</div>
								</div>
								<div class="col-md-5">
									<div class='form-group'>
										<label>Value</label>
										<input type="text" class="form-control val" placeholder="Value" (keyup.enter)="AddNewKyeval()" tabindex="21" [(ngModel)]="value">
									</div>
								</div>
								<div class="col-md-1">
									<div class='form-group'>
										<div class="setfltrbtn">
											<button class="btn btn-theme btn-sm" type="button" ng-reflect-title="Add" tabindex="22" (click)="AddNewKyeval()" title="Add">
										<i class="fa fa-plus"></i></button>
										</div>
									</div>
								</div>
							</div>
							<div class="table-responsive" *ngIf="keyvallist.length">
								<p-dataTable #dt [value]="keyvallist" [lazy]="true" [rows]="10" [paginator]="false" [totalRecords]="totalRecords" (onLazyLoad)="loadRBIGrid($event)"
									expandableRows="true">
									<p-column header="#" [style]="{'width':'10px','text-align':'left'}">
										<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
											{{rowIndex+1}}
										</template>
									</p-column>
									<p-column field="key" header="Key" [style]="{'width':'120px','text-align':'left'}"></p-column>
									<p-column header="Value" [style]="{'width':'120px','text-align':'left'}">
										<template let-col let-row="rowData" pTemplate="editor">
											<input type="text" class="form-control" [(ngModel)]="row.value" />
										</template>
									</p-column>
									<p-column header="Action" [style]="{'width':'30px','text-align':'center'}">
										<template let-row pTemplate="rowexpansion">
											<button class="btn btn-danger btn-sm btn-grid" (click)="DeleteRow(row)"><i class="fa fa-trash"></i></button>
										</template>
									</p-column>
								</p-dataTable>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-theme">
							<div class="panel-body">
								<div class="col-md-4 hide">
									<div class='form-group'>
										<label>Debit</label>
										<select [(ngModel)]="debit" class="form-control" tabindex="23">
										<option [value]="'0'">Select Debit</option>
										<option *ngFor="let row of debitlist" [value]="row.value">
											{{row.label}}
										</option>
									</select>
									</div>
								</div>
								<div class="col-md-4 hide">
									<div class='form-group'>
										<label>Credit</label>
										<select [(ngModel)]="credit" class="form-control" tabindex="24">
										<option [value]="'0'">Select Credit</option>
										<option *ngFor="let row of creditlist" [value]="row.value">
											{{row.label}}
										</option>
									</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class='form-group'>
										<label>Opening Balance</label>
										<input type="text" class="form-control text-right" tabindex="25" [(ngModel)]="ope">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tax">
				<div class="col-md-12">
					<div class="col-md-3">
						<div class='form-group'>
							<label>Invoice type</label>
							<p-autoComplete [(ngModel)]="invtypname" class="form-controlAutoComplete invtype" (onSelect)="TaxSelect($event)" [suggestions]="TaxAutodata"
								(keyup.enter)="SelectedTax()" (completeMethod)="TaxAuto($event)" [tabindex]="3" field="label" [size]="30" placeholder="Invoice type"
								[minLength]="1"></p-autoComplete>
						</div>
					</div>
					<div class='col-md-2'>
						<div class='form-group'>
							<div class="setfltrbtn">
								<button class="btn btn-theme btn-sm get" (click)="SelectedTax()" tabindex="3"><i class="fa fa-arrow-right"></i></button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="table-responsive" *ngIf="taxlist.length>0">
						<p-dataTable #dt [value]="taxlist" [lazy]="true" [rows]="10" [paginator]="false" [totalRecords]="totalRecords" [(selection)]="selectedRB1"
							expandableRows="true">
							<p-column header="#" [style]="{'width':'30px','text-align':'left'}">
								<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
									{{rowIndex+1}}
								</template>
							</p-column>
							<p-column field="taxname" header="Tax Name" [style]="{'width':'120px','text-align':'left'}"></p-column>
							<p-column field="taxval" header="%" [style]="{'width':'30px','text-align':'right'}"></p-column>
							<p-column field="label" header="On" [style]="{'width':'120px','text-align':'left'}"></p-column>
							<p-column field="seq" header="Seq" [style]="{'width':'30px','text-align':'left'}"></p-column>
							<p-column header="Action" [style]="{'width':'30px','text-align':'center'}">
								<template let-col let-row="rowData" pTemplate="editor">
									<button class="btn btn-danger btn-sm btn-grid" (click)="TaxDeleteRow(row)"><i class="fa fa-trash"></i></button>
								</template>
							</p-column>
						</p-dataTable>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="docup">
				<div class="row">
					<fileupload [module]="module" [multi]="true" [isRaw]="false" [uploadedFiles]="uploadedFiles" (onStart)="onUploadStart($event)"
						(onComplete)="onUploadComplete($event)"></fileupload>
				</div>
			</div>
			<div *ngFor="let tab of tabListDT" class="tab-pane" id="{{tab.fldcode}}">
				<dynamictab [tab]="tab" [atttype]="atttype" [cmpid]="loginUser.cmpid" [isdetails]="isdetails"></dynamictab>
			</div>
		</div>
	</div>
</div>
<adddynamictab #tabpanel [tabListDT]="tabListDT" [cmpid]="loginUser.cmpid" [fy]="loginUser.fy" [selectedtab]="selectedtab"
	[isedittab]="isedittab"></adddynamictab>