<div class="col-md-12">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Account Code</label>
                <p-autoComplete validate="" id="custname" name="custname" [(ngModel)]="custname" placeholder="Accounts" [tabindex]="1" (onSelect)="selectAutoAccounts($event)"
                    [suggestions]="accountsDT" (completeMethod)="getAutoAccounts($event)" field="label" [minLength]="1" [size]="30"
                    class="form-controlAutoComplete custname"></p-autoComplete>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>From Date</label>
                <calendar #fromdate [name]="'fromdate'" tabindex="2"></calendar>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>To Date</label>
                <calendar #todate [name]="'todate'" tabindex="3"></calendar>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group setfltrbtn">
                <button type="button" class="btn btn-theme btn-sm" (click)="filterLedgerReport(dt)">
					<i class="fa fa-arrow-right"></i>
				</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="table-responsive">
        <p-dataTable #dt [value]="custwiseDT" [lazy]="true" [rows]="20" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadLedgerReport($event)">
            <p-column header="Date" [style]="{'width':'150px','text-align':'left'}">
                <template let-row="rowData" pTemplate type="body">
                    {{row.docdate}}
                </template>
            </p-column>
            <p-column header="Type" [style]="{'width':'150px','text-align':'left'}">
                <template let-row="rowData" pTemplate type="body">
                    {{row.typ}}
                </template>
            </p-column>
            <p-column header="No." [style]="{'width':'100px','text-align':'left'}">
                <template let-row="rowData" pTemplate type="body">
                    {{row.docno}}
                </template>
            </p-column>
            <p-column *ngIf="typ === 'customer'" header="Particulars" [style]="{'text-align':'left'}">
                <template let-row="rowData" pTemplate type="body">
                    {{row.particulars}}
                </template>
            </p-column>
            <p-column *ngIf="typ === 'group'" header="Particulars" [style]="{'text-align':'left'}">
                <template let-row="rowData" pTemplate type="body">
                    {{row.custname}}
                </template>
            </p-column>
            <p-column header="Dr Amt." [style]="{'width':'150px','text-align':'right'}">
                <template let-row="rowData" pTemplate type="body">
                    {{row.dramt | _currency:loginUser._globsettings[0]}}
                </template>
            </p-column>
            <p-column header="Cr Amt." [style]="{'width':'150px','text-align':'right'}">
                <template let-row="rowData" pTemplate type="body">
                    {{row.cramt | _currency:loginUser._globsettings[0]}}
                </template>
            </p-column>
            <p-column header="Closing Amt" [style]="{'width':'150px','text-align':'right'}">
                <template let-row="rowData" pTemplate type="body">
                    {{row.closingamt | _currency:loginUser._globsettings[0]}}
                </template>
            </p-column>
            <footer *ngIf="custwiseDT.length">
                <table class="tableNoborder">
                    <tbody>
                        <tr>
                            <td align="left" colspan="4">
                                <b>Total Amount</b>
                            </td>
                            <td width="150px" align="right">
                                {{gridTotal.DrAmtTotal | _currency:loginUser._globsettings[0]}}
                            </td>
                            <td width="150px" align="right">
                                {{gridTotal.CrAmtTotal | _currency:loginUser._globsettings[0]}}
                            </td>
                            <td width="150px" align="right">
                                <!--{{gridTotal.ClosingBalTotal | _currency:loginUser._globsettings[0]}}-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </footer>
        </p-dataTable>
    </div>
</div>