<div class="panel panel-theme">
	<div class="panel-body">
		<div class="row">
			<div class='col-md-10'>
				<div class="col-md-2">
					<div class='form-group'>
						<label>Item Code</label>
						<input type="text" class="form-control itemcode" tabindex="1" maxlength="10" [(ngModel)]="itemcode">
					</div>
				</div>
				<div class="col-md-4">
					<div class='form-group'>
						<label>Item Name</label>
						<input type="text" class="form-control itemname" tabindex="2" [(ngModel)]="itemname">
					</div>
				</div>
				<div class="col-md-2">
					<div class='form-group'>
						<label>SKU Code</label>
						<input type="text=" class="form-control" tabindex="3" value="" [(ngModel)]="skucode" />
					</div>
				</div>
			</div>
			<div class='col-md-10'>
				<div class="col-md-2">
					<div class='form-group'>
						<label>UoM</label>
						<select [(ngModel)]="UoM" class="form-control uom" tabindex="4">
						<option *ngFor="let row of UoMlist" [value]="row.id">
							{{row.val}}
					    </option>
					</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class='form-group'>
						<label>Shelf Life</label>
						<select [(ngModel)]="shelf" class="form-control sheft" tabindex="5">
						<option *ngFor="let row of shelflifelist" [value]="row.id">
							{{row.val}}
					    </option>
					</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class='form-group'>
						<label>Bar Code</label>
						<input type="text=" class="form-control" tabindex="6" value="" [(ngModel)]="barcode" />
					</div>
				</div>
			</div>
			<div class='col-md-10'>
				<div class='col-md-4'>
					<div class='form-group'>
						<label>Item Description</label>
						<textarea class="form-control medium-text-box" tabindex="7" [(ngModel)]="itemsdesc"></textarea>
					</div>
				</div>
				<div class='col-md-4'>
					<div class='form-group'>
						<label>Item Remark</label>
						<textarea class="form-control medium-text-box" tabindex="8" [(ngModel)]="itemsremark"></textarea>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="panel panel-theme">
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li class="active"><a data-target="#attr" (click)="attrtab()" role="button" data-toggle="tab">Attribute</a></li>
			<li><a data-target="#keydata" role="button" (click)="KeyValTab()" data-toggle="tab">Key Data</a></li>
			<li><a data-target="#itmpric" role="button" (click)="ItemsTab()" data-toggle="tab">Item Price</a></li>
			<li><a data-target="#ware" role="button" data-toggle="tab">Warehouse</a></li>
			<li><a data-target="#supp" role="button" (click)="SuppTab()" data-toggle="tab">Supplier</a></li>
			<li><a data-target="#docup" role="button" data-toggle="tab">Document Upload</a></li>
		</ul>
		<div class="tab-content">
			<!--Attribute-->
			<div class="tab-pane active" id="attr">
				<div class="row">
					<attribute #attribute></attribute>
				</div>
			</div>
			<!--Key Data-->
			<div class="tab-pane" id="keydata">
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-theme">
							<div class="panel-body">
								<div class="col-md-5">
									<div class='form-group'>
										<label>Attribute</label>
										<input type="text=" class="form-control keyattr" tabindex="9" value="" [(ngModel)]="keyattr" (keyup)="getAutoCompleteKeyval(this)"
										/>
									</div>
								</div>
								<div class="col-md-3">
									<div class='form-group'>
										<label>Value</label>
										<input type="text=" class="form-control keyvalue" tabindex="10" value="" [(ngModel)]="keyvalue" (keyup.enter)="KeyvalAdd()"
										/>
									</div>
								</div>
								<div class="col-md-1">
									<div class='form-group'>
										<label></label>
										<button class="btn btn-theme btn-sm" type="button" ng-reflect-title="Add" tabindex="11" (click)="KeyvalAdd()" title="Add">
									<i class="fa fa-plus"></i></button>
									</div>
								</div>
							</div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th class="col-sm-1">#</th>
										<th class="col-sm-5">Attribute</th>
										<th class="col-sm-3"> Value</th>
										<th class="col-sm-3">Action</th>
									</tr>
								</thead>
								<tbody *ngFor="let row of Keyvallist let i=index">
									<tr>
										<td><span>{{i+1}}</span></td>
										<td>{{row.keyattr}}</td>
										<td><input type="text" class="form-control" [(ngModel)]="row.keyvalue"></td>
										<td><button class="btn btn-theme btn-sm" (click)="KeyvalDelete(row)"><i class="fa fa-trash"></i></button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!--Items Price-->
			<div class="tab-pane" id="itmpric">
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-theme">
							<div class="panel-heading">
								<h3 class="panel-title">Sales Price
								</h3>
							</div>
							<div class="panel-body">
								<div class="col-md-5">
									<div class='form-group'>
										<label>Title</label>
										<input type="text" class="form-control saleattr" tabindex="12" (keyup)="getAutoCompleteSale(this)" [(ngModel)]="titlesale">
									</div>
								</div>
								<div class="col-md-4">
									<div class='form-group'>
										<label>Sales Price/rate</label>
										<input type="text" class="form-control sales" (keyup.enter)="SalesAdd()" tabindex="13" [(ngModel)]="sales">
									</div>
								</div>
								<div class="col-md-1">
									<div class='form-group'>
										<label></label>
										<button class="btn btn-theme btn-sm" type="button" ng-reflect-title="Add" tabindex="14" (click)="SalesAdd()" title="Add">
										<i ng-reflect-class-name="fa fa-plus" class="fa fa-plus"></i></button>
									</div>
								</div>
							</div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th class="col-sm-1">#</th>
										<th class="col-sm-8">Title</th>
										<th class="col-sm-3">Sales Price/rate</th>
									</tr>
								</thead>
								<tbody *ngFor="let row of saleslist let i=index">
									<tr>
										<td><span>{{i+1}}</span></td>
										<td>{{row.titlesale}}</td>
										<td>{{row.sales}}</td>
										<td><button class="btn btn-theme btn-sm" (click)="SalesDeleteRow(row)"><i class="fa fa-trash"></i></button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-theme">
							<div class="panel-heading">
								<h3 class="panel-title">Purchase Price
								</h3>
							</div>
							<div class="panel-body">
								<div class="col-md-5">
									<div class='form-group'>
										<label>Title</label>
										<input type="text" class="form-control purattr" (keyup)="getAutoCompletePurc(this)" tabindex="15" [(ngModel)]="titlepur">
									</div>
								</div>
								<div class="col-md-4">
									<div class='form-group'>
										<label>Purchase Cost/rate</label>
										<input type="text" class="form-control purch" (keyup.enter)="PurchaseAdd()" tabindex="16" [(ngModel)]="purch">
									</div>
								</div>
								<div class="col-md-1">
									<div class='form-group'>
										<label></label>
										<button class="btn btn-theme btn-sm" type="button" ng-reflect-title="Add" tabindex="17" (click)="PurchaseAdd()" title="Add">
										<i ng-reflect-class-name="fa fa-plus" class="fa fa-plus"></i></button>
									</div>
								</div>
							</div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th class="col-sm-1">#</th>
										<th class="col-sm-7">Title</th>
										<th class="col-sm-4">Purchase Cost/rate</th>
									</tr>
								</thead>
								<tbody *ngFor="let row of purchaselist let i=index">
									<tr>
										<td><span>{{i+1}}</span></td>
										<td>{{row.titlepur}}</td>
										<td>{{row.purch}}</td>
										<td><button class="btn btn-theme btn-sm" (click)="PurDeleteRow(row)"><i class="fa fa-trash"></i></button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!--Warehouse-->
			<div class="tab-pane" id="ware">
				<div class="row">
					<div class="col-md-3" *ngFor="let row of warehouselist">
						<label class="checkbox-inline"><input type="checkbox" [(ngModel)]="row.Warechk" value="row.id"/>
							{{row.val}} 
						</label>
					</div>
				</div>
			</div>
			<!--Supplier -->
			<div class="tab-pane" id="supp">
				<div class="row">
					<div class="col-md-3">
						<div class='form-group'>
							<label>Supplier</label>
							<input type="text=" class="form-control supp" tabindex="4" value="" [(ngModel)]="suppname" (keyup.enter)="SupplierAdd()"
								(keyup)="getAutoCompletesupp(this)" />
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-12 bootstrap-tagsinput">
							<span *ngFor="let row of supplist" class="tag label label-info" style="font-size: 10px;">{{row.suppname}}
							<span data-role="remove" (click)="Removesupp(row)"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!--Document-->
			<div class="tab-pane" id="docup">
				<div class="row">
					<fileupload [module]="module" [multi]="true" [isRaw]="false" [uploadedFiles]="uploadedFiles" (onStart)="onUploadStart($event)"
						(onComplete)="onUploadComplete($event)"></fileupload>
				</div>
			</div>
		</div>
	</div>
</div>