<div class="panel panel-theme">
	<div class="panel-body">
		<div class="col-md-4">
			<div class='form-group'>
				<label>Customer</label>
				<!--<input type="text=" class="form-control Custcode" [(ngModel)]="CustName" tabindex="1" value="" (keyup)="getAutoComplete(this)"-->
				<p-autoComplete [(ngModel)]="CustName" tabindex="1" class="form-controlAutoComplete Custcode" (onSelect)="CustomerSelect($event)"
					[suggestions]="CustomerAutodata" (completeMethod)="CustomerAuto($event)" field="label" [size]="30" [minLength]="1"></p-autoComplete>
			</div>
		</div>
		<div class="col-md-2">
			<div class='form-group'>
				<label>From Date</label>
				<calendar #fromdatecal [name]="'fromdate'"></calendar>
			</div>
		</div>
		<div class="col-md-2">
			<div class='form-group'>
				<label>To Date</label>
				<calendar #todatecal [name]="'todate'"></calendar>
			</div>
		</div>
		<div class="col-md-1">
			<div class='form-group'>
				<div style="padding-top:28px;">
					<button type="button" class="btn btn-theme btn-sm" (click)="getdocumentNo()"><i class="fa fa-arrow-right"></i></button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10">
			<div [hidden]="tableDetails">
				<div *ngFor="let InvNoitem of invoices">
					<div *ngFor="let Headeritem of InvNoitem.header">
						<div class="col-xs-2">
							<div class='form-group'>
								<label>Document No</label>
								<input type="text=" class="form-control" readonly="true" [(ngModel)]="Headeritem.SubConfId" tabindex="1" value="" />
							</div>
						</div>
						<div class="col-md-4">
							<div class='form-group'>
								<label>Salesman</label>
								<input type="text" class="form-control" readonly="true" [(ngModel)]="Headeritem.Sales">
							</div>
						</div>
						<div class="col-md-4">
							<div class='form-group'>
								<label>Customer</label>
								<input type="text=" class="form-control" readonly="true" tabindex="1" value="" [(ngModel)]="Headeritem.CustName" />
							</div>
						</div>
						<div class="col-xs-3">
							<label>Document Date</label>
							<div class="input-group date" data-provide="datepicker">
								<input type="text=" class="form-control" [(ngModel)]="Headeritem.DCDate" readonly="true" tabindex="2" value="" />
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-th"></span>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<label>Delivery Date</label>
							<div class="input-group date" data-provide="datepicker">
								<input type="text=" class="form-control" [(ngModel)]="Headeritem.DeliveryDate" readonly="true" tabindex="2" value="" />
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-th"></span>
								</div>
							</div>
						</div>
						<div class="col-xs-8">
							<div class='form-group'>
								<label>Spe.Instruction</label>
								<textarea [(ngModel)]="Headeritem.DCInstruction" class="form-control medium-text-box" tabindex="8" readonly="true" autocomplete='off'
									rows="3"></textarea>
							</div>
						</div>
					</div>

					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>#No</th>
								<th>Item Code</th>
								<th>Item Name</th>
								<th class="textCenter">Qty</th>
								<th class="textCenter">Rate</th>
								<th class="textCenter">Dis</th>
								<th class="textCenter">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of InvNoitem.details let i=index">
								<td><span>{{i+1}}</span><span class="displayNone">{{item.DCNo}}</span><span class="displayNone">{{item.OldQty}}</span></td>
								<td>{{item.ProductCode}}</td>
								<td>{{item.ProdName}}</td>
								<td class="col-xs-1"><input type="text" class="form-control  textalign" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
										(change)="CulculateQty(item, InvNoitem.details)" [(ngModel)]="item.DCQty"></td>
								<td class="textalign col-xs-1"><input type="text" readonly="true" class="form-control  textboxRight" [(ngModel)]="item.Rate"></td>
								<td class="textalign col-md-1"><input type="text" readonly="true" class="form-control  textboxRight" [(ngModel)]="item.Disount"></td>
								<td class="textalign col-md-1"><input type="text" readonly="true" class="form-control  textboxRight" [(ngModel)]="item.Amount"></td>
							</tr>
						</tbody>
						<tfoot>
							<tr class="bg-warning">
								<td colspan="7" class="textalign"><b>{{Subtotal(InvNoitem.details)|number}}</b></td>
							</tr>
							<tr class="bg-warning">
								<td colspan="5" class="textalign"><b>Tax</b></td>
								<td class="textalign">10</td>
								<td class="textalign"><b>{{SubtotalTax(InvNoitem.details)|number}}</b></td>
							</tr>
							<tr class="bg-warning">
								<td colspan="5" class="textalign"><b>Total</b></td>
								<td></td>
								<td class="textalign"><b>{{Subtotal(InvNoitem.details) + SubtotalTax(InvNoitem.details)|number}}</b></td>
							</tr>
							<tr class="bg-warning">
								<td colspan="5" class="textalign"><b>Invoice Value</b></td>
								<td></td>
								<td class="textalign"><b>{{GrandTotal(InvNoitem.details)|number}}</b></td>
							</tr>


						</tfoot>
					</table>
					<button type="button" style="float:right" class="btn btn-primary">Generate + Print</button>
					<button type="button" style="float:right" class="btn btn-primary" (click)="GenerateInvoice(InvNoitem.details,InvNoitem.header)">Generate Invoice</button>
				</div>
			</div>
		</div>
		<div class="col-md-2" [hidden]="DocTable">
			<div style="height: 320px !important;overflow-y: scroll;">
				<table class='table table-bordered table-condensed table-striped table-hover'>
					<tbody>
						<tr>
							<input type="text" [(ngModel)]="DcNo" class="form-control" placeholder="Search Doc No">
						</tr>
						<tr>
							<th>Doc No</th>
						</tr>
						<tr class="table-row" *ngFor="let item of doclist">
							<td><a role="button" (click)="getInvDetails(item)">{{item.docno}}</a><span class="hide">{{item.autoid}}</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>