<div class="col-md-12">
	<div class="row">
		<!--<div class="col-md-3">
			<div class="form-group">
				<label>From Date</label>
				<calendar #fromdate [name]="'fromdate'" tabindex="2"></calendar>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>To Date</label>
				<calendar #todate [name]="'todate'" tabindex="3"></calendar>
			</div>
		</div>-->
		<div class="col-md-3">
			<div class="form-group">
				<label>Bank</label>
				<select class="bank form-control" [(ngModel)]="bankid">
					<option [value]="0">Select Bank</option>
					<option *ngFor="let items of bankDT" tabindex="1" [value]="items.key">
						{{items.val}}
					</option>
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>Status</label>
				<select class="form-control" [(ngModel)]="status" tabindex="4">
					<option *ngFor="let item of statusDT" [value]="item.code">{{item.name}}</option>
				</select>
			</div>
		</div>
		<div class="col-md-1">
			<div class="form-group setfltrbtn">
				<label>&nbsp;</label>
				<button type="button" class="btn btn-theme btn-sm" (click)="searchBankPayment(dt)">
					<i class="fa fa-arrow-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="table-responsive">
		<p-dataTable #dt [value]="bankpaymentDT" [lazy]="true" (onRowExpand)="expandDetails($event)" (onLazyLoad)="loadBankPaymentGrid($event)"
			expandableRows="true">
			<p-column expander="true" styleClass="col-icon" [style]="{'width':'30px'}"></p-column>
			<p-column field="docno" header="Doc No" [style]="{'width':'80px','text-align':'left'}"></p-column>
			<p-column field="docdate" header="Doc Date" [style]="{'width':'100px','text-align':'left'}"></p-column>
			<p-column field="acname" header="A/C Name" [style]="{'text-align':'left'}"></p-column>
			<p-column field="bankname" header="Bank Name" [style]="{'width':'250px','text-align':'left'}"></p-column>
			<p-column field="banktype" header="Bank Type" [style]="{'width':'100px','text-align':'left'}"></p-column>
			<p-column field="cheqno" header="Cheque No" [style]="{'width':'100px','text-align':'left'}"></p-column>
			<p-column header="Amount" [style]="{'width':'100px','text-align':'right'}">
				<template let-row="rowData" pTemplate type="body">
					{{row.amount | currency:loginUser._globsettings.currency:true}}
				</template>
			</p-column>
			<p-column field="status" header="Status" [style]="{'width':'100px','text-align':'left'}"></p-column>
			<p-column [style]="{'width':'45px','text-align':'left'}">
				<template let-row="rowData" pTemplate type="body">
					<button type="button" (click)="OpenBankPayment(row)" class="btn btn-theme btn-sm btn-grid">
						<i class="fa fa-edit"></i>
					</button>
				</template>
			</p-column>
			<template let-row>
				<p-dataTable [value]="row.details" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalDetailsRecords" expandableRows="true">
					<p-column field="refno" header="Refernce No" [style]="{'width':'150px','text-align':'left'}"></p-column>
					<p-column field="code" header="Code" [style]="{'width':'150px','text-align':'left'}"></p-column>
				</p-dataTable>
			</template>
		</p-dataTable>
	</div>
</div>