<div class="input-group stylish-input-group">
	<input type="text" class="form-control" placeholder="Search" [(ngModel)]="EmpName" (keyup)="filterEmployeeData()" />
	<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
</div>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th width="150px">Emp Name</th>
				<th width="250px">Doc Title</th>
				<th width="200px">Tag</th>
				<th>Doc File</th>
			</tr>
		</thead>
		<tbody *ngFor="let row of DocRepoDT">
			<tr>
				<td>
					{{row.fullname}}
				</td>
				<td>
					<input type="text" [(ngModel)]="row.doctitle" class="form-control">
				</td>
				<td>
					<select [(ngModel)]="row.tag" class="form-control">
						<option [value]="">Select Tag</option>
						<option *ngFor="let row of TagDT" [value]="row.key">
							{{row.val}}
						</option>
					</select>
				</td>
				<td>
					{{row.docfile}}<br />
					<b>Size : </b> {{formatSizeUnits(row.filesize)}}
				</td>
			</tr>
		</tbody>
	</table>
</div>