<div class="col-md-12">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Bank</label>
                <select class="form-control" [(ngModel)]="bankid">
					<option [value]="0">Select Bank</option>
					<option *ngFor="let items of bankDT" tabindex="1" [value]="items.key">
						{{items.val}}
					</option>
				</select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group setfltrbtn">
                <div class="col-md-6">
                    <p-radioButton name="group" value="nonreco" label="Non Reco" [(ngModel)]="group"></p-radioButton>
                </div>
                <div class="col-md-6">
                    <p-radioButton name="group" value="reco" label="Reco" [(ngModel)]="group"></p-radioButton>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group setfltrbtn">
                <label>&nbsp;</label>
                <button type="button" class="btn btn-theme btn-sm" (click)="filterBankWiseGrid()">
					<i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="table-responsive" *ngIf="monthwiseDT.length === 0">
        <p-dataTable #dt [value]="bankwiseDT" [lazy]="true">
            <p-column header="Month" [style]="{'text-align':'left'}">
                <template let-row="rowData" pTemplate type="body">
                    <a role="button" (click)="GetMonthWiseGrid(row, 'monthwisenotreco')">{{row.monthname}}</a>
                </template>
            </p-column>
            <p-column header="Opening Balance" [style]="{'width':'200px','text-align':'right'}">
                <template let-row="rowData" pTemplate type="body">
                    {{row.openingbal | _currency:loginUser._globsettings[0]}}
                </template>
            </p-column>
            <p-column header="Debit Amt." [style]="{'width':'200px','text-align':'right'}">
                <template let-row="rowData" pTemplate type="body">
                    {{row.dramt | _currency:loginUser._globsettings[0]}}
                </template>
            </p-column>
            <p-column header="Credit Amt." [style]="{'width':'200px','text-align':'right'}">
                <template let-row="rowData" pTemplate type="body">
                    {{row.cramt | _currency:loginUser._globsettings[0]}}
                </template>
            </p-column>
            <p-column header="Closing Balance" [style]="{'width':'200px','text-align':'right'}">
                <template let-row="rowData" pTemplate type="body">
                    {{row.closingbal | _currency:loginUser._globsettings[0]}}
                </template>
            </p-column>
            <footer *ngIf="bankwiseDT.length">
                <table class="tableNoborder">
                    <tbody>
                        <tr>
                            <td align="left">
                                <b>Total Amount</b>
                            </td>
                            <td width="200px" align="right">
                                <!--{{gridTotal.OpeningBalTotal | _currency:loginUser._globsettings[0]}}-->
                            </td>
                            <td width="200px" align="right">
                                {{gridTotal.BankDebitAmtTotal | _currency:loginUser._globsettings[0]}}
                            </td>
                            <td width="200px" align="right">
                                {{gridTotal.BankCreditAmtTotal | _currency:loginUser._globsettings[0]}}
                            </td>
                            <td width="200px" align="right">
                                <!--{{gridTotal.ClosingBalTotal | _currency:loginUser._globsettings[0]}}-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </footer>
        </p-dataTable>
    </div>
</div>

<div id="divMonthWiseDT" class="col-md-12" *ngIf="monthwiseDT.length">
    <div class="table-responsive">
        <p-dataTable #dt [value]="monthwiseDT" [lazy]="true">
            <header>
                <table class="tableNoborder">
                    <tbody>
                        <tr>
                            <td align="left" colspan="5">
                                <b>Total Amount</b>
                            </td>
                            <td width="300px" align="right">
                                <p-checkbox [(ngModel)]="isviewnarr" binary="true"></p-checkbox>
                            </td>
                            <td width="130px" align="right">
                                {{gridTotal.MonthDebitAmtTotal | _currency:loginUser._globsettings[0]}}
                            </td>
                            <td width="130px" align="right">
                                {{gridTotal.MonthCreditAmtTotal | _currency:loginUser._globsettings[0]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </header>
            <p-column field="docdate" header="Doc Date" [style]="{'width':'100px','text-align':'left'}"></p-column>
            <p-column field="docno" header="Doc No" [style]="{'width':'80px','text-align':'center'}"></p-column>
            <p-column field="custname" header="Cutomer Name" [style]="{'text-align':'left'}"></p-column>
            <p-column field="banktype" header="Type" [style]="{'width':'80px','text-align':'left'}"></p-column>
            <p-column field="cheqno" header="Cheque No" [style]="{'width':'80px','text-align':'left'}"></p-column>
            <p-column field="narration" header="Narration" [style]="{'width':'300px','text-align':'left'}" *ngIf="isviewnarr === true" ></p-column>
            <p-column header="Debit Amt." [style]="{'width':'130px','text-align':'right'}">
                <template let-row="rowData" pTemplate type="body">
                    {{row.dramt | _currency:loginUser._globsettings[0]}}
                </template>
            </p-column>
            <p-column header="Credit Amt." [style]="{'width':'130px','text-align':'right'}">
                <template let-row="rowData" pTemplate type="body">
                    {{row.cramt | _currency:loginUser._globsettings[0]}}
                </template>
            </p-column>
            <footer>
                <table class="tableNoborder">
                    <tbody>
                        <tr>
                            <td align="left" colspan="5">
                                <b>Total Amount</b>
                            </td>
                            <td width="300px" align="right">
                            </td>
                            <td width="130px" align="right">
                                {{gridTotal.MonthDebitAmtTotal | _currency:loginUser._globsettings[0]}}
                            </td>
                            <td width="130px" align="right">
                                {{gridTotal.MonthCreditAmtTotal | _currency:loginUser._globsettings[0]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </footer>
        </p-dataTable>
    </div>
</div>