<form id="frmjv">
	<div class="middlepan">
		<div class="panel panel-theme">
			<div class="panel-heading">
				<h3 class="panel-title">Add JV</h3>
			</div>

			<div class="panel-body">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">JV Date</label>
								<calendar #jvdate [name]="'jvdate'"></calendar>
							</div>
							<div class="form-group">
								<p-checkbox [(ngModel)]="isactive" name="chkIsActive" value="Is Active" label="Is Active" binary="true"></p-checkbox>
							</div>
						</div>
						<div class="col-md-9">
							<div class="form-group">
								<label class="control-label">Narration</label>
								<textarea name="jvnarr" validate="" [(ngModel)]="narration" class="form-control small-text-box" cols="150" rows="5"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th></th>
							<th>Account</th>
							<th>Debit</th>
							<th>Credit</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let row of jvRowData; let i=index;">
							<td class="textalign">
								{{i+1}}
							</td>
							<td>
								<input type="text" name="acname{{i+1}}" [(ngModel)]="row.acname" class="accname form-control" (keyup)="getAutoComplete(row, 1)"
								/>
							</td>
							<td class="textalign">
								<input type="text" name="dramt{{i+1}}" [(ngModel)]="row.dramt" class="form-control" (keyup)="setCrAmt(row, 1)" />
							</td>
							<td class="textalign">
								<input type="text" name="cramt{{i+1}}" [(ngModel)]="row.cramt" class="form-control" (keyup)="setDrAmt(row, 1)" />
							</td>
							<td>
								<button type="button" name="btnremove{{i+1}}" class="btn btn-theme btn-sm fa fa-trash" (click)="deleteJVRow(row)"></button>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td>#</td>
							<td>
								<input type="text" name="newacname" [(ngModel)]="newacname" class="accname form-control" (keyup)="getAutoComplete(this, 0)"
								/>
							</td>
							<td>
								<input type="text" name="newdramt" [(ngModel)]="newdramt" class="form-control" (keyup)="setCrAmt(this, 0)" (keyup.enter)="NewRowAdd()"
								/>
							</td>
							<td>
								<input type="text" name="newcramt" [(ngModel)]="newcramt" class="form-control" (keyup)="setDrAmt(this, 0)" (keyup.enter)="NewRowAdd()"
									(keydown.tab)="NewRowAdd()" />
							</td>
							<td>
								<button type="button" name="btnadd" class="btn btn-theme btn-sm fa fa-plus" (click)="NewRowAdd()"></button>
							</td>
						</tr>
						<tr *ngIf="jvRowData.length">
							<td>#</td>
							<td class="text-right">
								<b>Total :</b>
							</td>
							<td class="text-right">
								<b>{{TotalDebitAmt() | currency:loginUser._globsettings.numberformat:true}}</b>
							</td>
							<td class="text-right">
								<b>{{TotalCreditAmt() | currency:loginUser._globsettings.numberformat:true}}</b>
							</td>
							<td></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<div class="sidepan">
		<!--widgit-->
		<div class="panel panel-theme">
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
					<h3 class="panel-title">Any Other Details</h3>
				</a>
			</div>
			<div id="Personal" class="panel-collapse collapse in">
				<div class="panel-body"></div>
			</div>
		</div>

		<fileupload [module]="module" [multi]="true" [isRaw]="false" [uploadedFiles]="uploadedFiles" (onStart)="onUploadStart($event)"
			(onComplete)="onUploadComplete($event)"></fileupload>

		<div class="panel panel-theme">
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
					<h3 class="panel-title">Any Other Details</h3>
				</a>
			</div>
			<div id="Personal" class="panel-collapse collapse in">
				<div class="panel-body"></div>
			</div>
		</div>
		<div class="panel panel-theme">
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#accordion" href="#Personal">
					<h3 class="panel-title">Any Other Details</h3>
				</a>
			</div>
			<div id="Personal" class="panel-collapse collapse in">
				<div class="panel-body"></div>
			</div>
		</div>
	</div>
</form>