<form id="frmjv">
	<div class="middlepan">
		<div class="panel panel-theme">
			<div class="panel-body">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">JV Date</label>
								<calendar #jvdate [name]="'jvdate'" class="jvdate" [tabindex]="1"></calendar>
							</div>
							<div class="form-group" style="display:none;">
								<p-checkbox [(ngModel)]="isactive" name="chkIsActive" value="Is Active" label="Is Active" binary="true"></p-checkbox>
							</div>
						</div>
						<div class="col-md-9">
							<div class="form-group">
								<label class="control-label">Narration</label>
								<textarea name="jvnarr" validate="" [(ngModel)]="narration" class="form-control small-text-box" cols="150" rows="5" tabindex="2"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="col-md-12">
					<p-dataTable #dt [value]="jvRowData | filterBy : {isactive: true}" [editable]="!isdetails" [lazy]="true">
						<p-column header="#" [style]="{'width':'40px','text-align':'left'}">
							<template let-i="rowIndex" pTemplate="editor">
								{{i + 1}}
							</template>
						</p-column>
						<p-column header="Account" [style]="{'width':'400px','text-align':'left'}">
							<template let-row="rowData" let-i="rowIndex" pTemplate="body" *ngIf="isdetails">
								{{row.acname}}
							</template>
							<template let-row="rowData" let-i="rowIndex" pTemplate="editor" *ngIf="!isdetails">
								<p-autoComplete id="acname{{i+1}}" name="acname{{i+1}}" [(ngModel)]="row.acname" placeholder="Accounts" [tabindex]="5" (onSelect)="selectAutoAccounts($event, 1)"
									[suggestions]="accountsDT" (completeMethod)="getAutoAccounts($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete inlinetextbox ProdName"></p-autoComplete>
							</template>
						</p-column>
						<p-column header="Debit" [style]="{'width':'200px','text-align':'left'}">
							<template let-row="rowData" let-i="rowIndex" pTemplate="body" *ngIf="isdetails">
								{{row.dramt}}
							</template>
							<template let-row="rowData" let-i="rowIndex" pTemplate="editor" *ngIf="!isdetails">
								<numtext id="{{'dramt' + i + 1}}" name="dramt{{i+1}}" [(ngModel)]="row.dramt" (keyup)="setCrAmt(row, 1)" css="inlinetextbox"></numtext>
							</template>
						</p-column>
						<p-column header="Credit" [style]="{'width':'200px','text-align':'left'}">
							<template let-row="rowData" let-i="rowIndex" pTemplate="body" *ngIf="isdetails">
								{{row.cramt}}
							</template>
							<template let-row="rowData" let-i="rowIndex" pTemplate="editor" *ngIf="!isdetails">
								<numtext id="{{'cramt' + i + 1}}" name="cramt{{i+1}}" [(ngModel)]="row.cramt" (keyup)="setDrAmt(row, 1)" css="inlinetextbox"></numtext>
							</template>
						</p-column>
						<p-column [style]="{'text-align':'center'}" *ngIf="!isdetails">
							<template let-col let-row="rowData" pTemplate="editor">
								<button class="btn btn-danger btn-sm" (click)="deleteJVRow(row)"><i class="fa fa-trash"></i></button>
							</template>
						</p-column>
						<footer *ngIf="!isdetails">
							<table class="table table-striped table-bordered">
								<tbody>
									<tr>
										<td width="40px">
										</td>
										<td width="400px">
											<p-autoComplete id="newcustname" name="newcustname" [(ngModel)]="newcustname" placeholder="Accounts" [tabindex]="5" (onSelect)="selectAutoAccounts($event, 0)"
												[suggestions]="accountsDT" (completeMethod)="getAutoAccounts($event)" field="label" [minLength]="1" [size]="30"
												class="form-controlAutoComplete inlinetextbox ProdName"></p-autoComplete>
										</td>
										<td width="200px">
											<numtext name="newdramt" [(ngModel)]="newdramt" tabindex="2" (keyup)="setCrAmt(this, 0)"></numtext>
										</td>
										<td width="200px">
											<numtext name="newcramt" [(ngModel)]="newcramt" tabindex="3" (keyup)="setDrAmt(this, 0)"></numtext>
										</td>
										<td>
											<button type="button" name="btnadd" class="btn btn-theme btn-sm" (click)="addJVRow()"><i class="fa fa-plus"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
						</footer>
					</p-dataTable>
				</div>
			</div>
		</div>
	</div>
	<div class="sidepan">
		<!--widgit-->
		<div class="panel panel-theme">
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#accordion" href="#personal">
					<h3 class="panel-title">Any Other Details</h3>
				</a>
			</div>
			<div id="personal" class="panel-collapse collapse in">
				<div class="panel-body"></div>
			</div>
		</div>

		<fileupload [module]="module" [multi]="true" [isRaw]="false" [uploadedFiles]="uploadedFiles" (onStart)="onUploadStart($event)"
			(onComplete)="onUploadComplete($event)"></fileupload>

		<div class="panel panel-theme">
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#accordion" href="#other">
					<h3 class="panel-title">Any Other Details</h3>
				</a>
			</div>
			<div id="other" class="panel-collapse collapse in">
				<div class="panel-body"></div>
			</div>
		</div>
		<div class="panel panel-theme">
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#accordion" href="#history">
					<h3 class="panel-title">Any Other Details</h3>
				</a>
			</div>
			<div id="history" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label">Created By : </label>
						<label class="control-field">{{createdby}}</label>
					</div>
					<div class="form-group">
						<label class="control-label">Created On : </label>
						<label class="control-field">{{createdon}}</label>
					</div>
					<div class="form-group">
						<label class="control-label">Updated By : </label>
						<label class="control-field">{{updatedby}}</label>
					</div>
					<div class="form-group">
						<label class="control-label">Updated On : </label>
						<label class="control-field">{{updatedon}}</label>
					</div>
					<div class="form-group" align="right">
						<a role="button" (click)="openAuditLog()">View Log</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p-dialog #dialog header="Audit Log" [(visible)]="isauditlog" modal="modal" width="1200" responsive="true">
		<auditlog #auditlog [module]="'jvm'" [cmpid]="loginUser.cmpid" [fy]="loginUser.fy" [parentid]="jvmid"></auditlog>
	</p-dialog>
</form>