<form id="frmbudget">
    <div class="middlepan">
        <div class="panel panel-theme">
            <div class="panel-body">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Title</label>
                        <input type="text" name="btitle" [(ngModel)]="btitle" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Objective</label>
                        <textarea name="bobj" validate="" [(ngModel)]="bobj" class="form-control small-text-box" cols="150" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Financial Year</label>
                        <select id="fy" name="fy" [(ngModel)]="fy" class="form-control">
                            <option value="0">-- Select Financial Year --</option>
                            <option *ngFor="let fyrow of FYDT" [value]="fyrow.fyid">
                                {{fyrow.fyname}}
                            </option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Start Date</label>
                                <calendar #frmdt [name]="'frmdt'"></calendar>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">End Date</label>
                                <calendar #todt [name]="'todt'"></calendar>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Narration</label>
                        <textarea name="budgetnarr" validate="" [(ngModel)]="narration" class="form-control small-text-box" cols="150" rows="5"></textarea>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Strength</label>
                                <textarea name="strength" validate="" [(ngModel)]="strength" class="form-control big-text-box" cols="150" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Weakness</label>
                                <textarea name="weakness" validate="" [(ngModel)]="weakness" class="form-control big-text-box" cols="150" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Opportunity</label>
                                <textarea name="opportunity" validate="" [(ngModel)]="opportunity" class="form-control big-text-box" cols="150" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Threat</label>
                                <textarea name="threat" validate="" [(ngModel)]="threat" class="form-control big-text-box" cols="150" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="col-md-8">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="20px"></th>
                                <th width="300px">Milestone</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of milestoneDT | filterBy: {isactive: true}; let i=index;">
                                <td width="20px" class="textalign">
                                    {{i+1}}
                                </td>
                                <td width="300px">
                                    <input type="text" name="msname{{i+1}}" [(ngModel)]="row.msname" class="form-control inlinetextbox" />
                                </td>
                                <td width="300px">
                                    <input type="text" name="msdate{{i+1}}" [(ngModel)]="row.msdate" class="form-control inlinetextbox" />
                                    <!--<calendar #msdate [name]="'msdate' + i + 1"></calendar>-->
                                </td>
                                <td>
                                    <button type="button" name="btnremove{{i+1}}" class="btn btn-theme btn-sm fa fa-trash" (click)="deletemilestoneRow(row)"></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td width="20px">#</td>
                                <td width="300px">
                                    <input type="text" name="newmsname" [(ngModel)]="newmsname" class="form-control" />
                                </td>
                                <td width="300px">
                                    <input type="text" name="newmsdate" [(ngModel)]="newmsdate" class="form-control" />
                                    <!--<calendar #newmsdate [name]="'msdate'" (keyup.enter)="NewRowAdd()"></calendar>-->
                                </td>
                                <td>
                                    <button type="button" name="btnadd" class="btn btn-theme btn-sm fa fa-plus" (click)="NewRowAdd()"></button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="sidepan">
        <!--widgit-->
        <div class="panel panel-theme">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#Personal">
                    <h3 class="panel-title">Any Other Details</h3>
                </a>
            </div>
            <div id="Personal" class="panel-collapse collapse in">
                <div class="panel-body"></div>
            </div>
        </div>

        <fileupload [module]="module" [multi]="true" [isRaw]="false" [uploadedFiles]="uploadedFiles" (onStart)="onUploadStart($event)"
            (onComplete)="onUploadComplete($event)"></fileupload>

        <div class="panel panel-theme">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#Personal">
                    <h3 class="panel-title">Any Other Details</h3>
                </a>
            </div>
            <div id="Personal" class="panel-collapse collapse in">
                <div class="panel-body"></div>
            </div>
        </div>
        <div class="panel panel-theme">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#Personal">
                    <h3 class="panel-title">Any Other Details</h3>
                </a>
            </div>
            <div id="Personal" class="panel-collapse collapse in">
                <div class="panel-body"></div>
            </div>
        </div>
    </div>
</form>