<div class="table-responsive">
	<p-dataTable #dt [value]="whlist" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadRBIGrid($event)"
		(onRowClick)="EditItem(dt, $event)" [(selection)]="selectedRB1" expandableRows="true">
		<p-column header="#" [style]="{'width':'1px','text-align':'left'}">
			<template let-col let-row="rowData" let-rowIndex="rowIndex" pTemplate="editor">
				{{rowIndex+1}}
			</template>
		</p-column>
		<p-column field="whcode" header="Code" [style]="{'width':'30px','text-align':'left'}"></p-column>
		<p-column field="whname" header="From Warehouse" [style]="{'width':'200px','text-align':'left'}"></p-column>
	</p-dataTable>
</div>