<div class="col-md-10">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>#</th>
                <th class="col-md-2">Date</th>
				<th class="col-md-4">Warehouse</th>
				<th class="col-md-4">Remark</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of Openinglist let i=index">
				<td><span>{{i+1}}</span></td>
                <td>{{item.opedate}}</td>
				<td><a role="button" (click)="EditItem(item)">{{item.warename}}</a></td>
				<td>{{item.remark}}</td>
			</tr>
		</tbody>
	</table>
</div>